[2019-02-06 16:03] salmamali commented on #243
@spencercarli
The issue is fixed and you can update now to version 8.0.24. Please feel free to reopen the issue if you are still facing any problems.

[2019-02-06 16:03] #243 closed

[2019-02-06 16:43] spencercarli commented on #243
It's working great! Thanks for the quick response and quick fix, @salmamali!

[2019-02-06 18:54] plowman commented on #242
Excellent. Thanks again for your help, @HeshamMegid!

[2019-02-07 18:16] evaleirasclapps opened #244 "Bundling failed. Unable to resolve module `./utils/NetworkInterceptor.js`"
### Steps to Reproduce the Problem
`react-native run-ios`

### Expected Behavior

### Actual Behavior
[code]

### SDK Version

**8.0.24**

### React Native, iOS and Android Versions
React-Native: **0.56.0**

### Device Model

**iPhone 7**

[2019-02-10 08:37] salmamali commented on #244
@evaleirasclapps Did you recently upgrade from an older version? It may be you need to just clean your cache. Try running the following to reset everything.
```watchman watch-del-all && rm -rf $TMPDIR/react-* && rm -rf node_modules/ && npm cache verify && npm install && npm start -- --reset-cache```

[2019-02-11 13:07] operatino opened #245 "Android build errors related compile and runtime versions difference"
### Steps to Reproduce the Problem

Add latest release version to project, link it with react-native tools, run `react-native run-android`

### Expected Behavior

Build to pass and install app on emulator

### Actual Behavior

Getting different errors with multiple tries, but all related to same issue:

[code]

or

[code]

### SDK Version
8.0.25

### Android Versions
Android global graddle setting

[2019-02-11 13:39] operatino commented on #245
Solver following suggestion from this stack overflow answer, it builds now, but not sure if it's the right way. Maybe there's a better way to structure this sdk build, allowing less mistakes? https://stackoverflow.com/questions/44653261/android-dependency-has-different-version-for-the-compile-and-runtime

[2019-02-11 15:09] salmamali commented on #245
@operatino Instabug uses the latest build tools so upgrading your versions as follows should also solve your issue
[code]

[2019-02-12 09:52] #245 closed

[2019-02-13 13:44] sregg opened #246 "Android "Could not find any version that matches com.facebook.react:react-native:0.58.+"
### Steps to Reproduce the Problem

Build Android app with Instabug React-Native 8.0.25

### Expected Behavior

Build works.

### Actual Behavior

Build fails with this error:

[code]

### Instabug integration code
compile project(':instabug-reactnative')

### SDK Version
8.0.25

### React Native, iOS and Android Versions
react-native: 0.57.7
Android: SDK 28, build tools 28.0.3

Seems to be introd

[2019-02-13 13:44] sregg opened #247 "Android "Could not find any version that matches com.facebook.react:react-native:0.58.+""
### Steps to Reproduce the Problem

Build Android app with Instabug React-Native 8.0.25

### Expected Behavior

Build works.

### Actual Behavior

Build fails with this error:

[code]

### Instabug integration code
compile project(':instabug-reactnative')

### SDK Version
8.0.25

### React Native, iOS and Android Versions
react-native: 0.57.7
Android: SDK 28, build tools 28.0.3

Seems to be introd

[2019-02-13 13:59] sregg commented on #247
Duplicate of https://github.com/Instabug/Instabug-React-Native/issues/246

[2019-02-13 13:59] #247 closed

[2019-02-13 14:00] sregg commented on #246
It's working fine when I change in `instabug-reactnative/android/build.gradle`:

`implementation 'com.facebook.react:react-native:0.58.+'`

to

`implementation 'com.facebook.react:react-native:+'`

or even to

`implementation 'com.facebook.react:react-native:0.57.+'`

[2019-02-13 20:22] Abuitime commented on #243
same issue with react-native 0.58.4

[2019-02-14 10:41] salmamali commented on #246
@sregg This issue is fixed on version 8.0.26. Please update and feel free to reopen the issue of you are still facing this problem.

[2019-02-14 10:41] #246 closed

[2019-02-15 14:31] andreypaul opened #248 "React Native: Button Instabug don't work"
The "Instabug" button is not pressed after restarting the application on Android. When you first start the application, the "Instabug" button works.

"instabug-reactnative": "8.0.23",
"react-native": "0.57.8",

config:
 new RNInstabugReactnativePackage.Builder(environment.getInstabugApiKey(), application.this)
                                .setInvocationEvent("shake", "button", "screenshot")

[2019-02-17 08:53] salmamali commented on #248
@andreypaul Could you give us more details about this issue as we are unable to reproduce it? How do you restart the app? And does the whole app freeze or just the button?

[2019-02-21 22:51] henryrossiter opened #249 "Linking on Windows, Linux"
### Steps to Reproduce the Problem

I've encountered this problem on both Windows and Linux. after installing project dependencies with ```yarn install``` I run ```react native link instabug-reactnative```

### Expected Behavior

successful project linking. Every other module links successfully.

### Actual Behavior

$ react-native link instabug-reactnative
Scanning folders for symlinks in C:\MYPA

[2019-02-22 11:11] nasmuris commented on #131
@HeshamMegid was this already fixed? I'm using v8.0.23 and the attachement is not available in release on iOS

[2019-02-24 09:35] salmamali commented on #249
@henryrossiter
As stated in the Readme, we use a gem called `xcodeproj` to link our framework to the app for iOS. I don't think this gem can be installed on Windows. How are you running react native for iOS on your OS, are you using Expo?

[2019-02-24 14:49] henryrossiter commented on #249
I'm not in Expo, our app is ejected. I'm only working on the Android version of the app. However, some packages require linking to android, so I still have to run ```react-native link``` before building the Android version.

When I run the same command on MacOS without the gem there is a warning, but no error. On windows/linux, it crashes the linking and prevents other packages from linking. For e

[2019-02-24 15:19] salmamali commented on #249
@henryrossiter At the moment we don't handle linking android only. Here is a workaround until we can work on a better solution for this scenario in the future. First, link your libraries by name so do not use `react-native link` but use `react-native link <name-of-library>`. This will ensure that everything is linked properly and since the linking step needs to be done only once, this will not was

[2019-02-25 14:28] HeshamMegid commented on #244
Closing this issue as we haven't heard back from you. Please feel free to reopen if the solution above hasn't fixed the problem.

[2019-02-25 14:28] #244 closed

[2019-02-25 14:51] HeshamMegid commented on #131
Unfortunately, we haven't shipped this yet. Will let you know once it's available.

[2019-03-01 15:58] c100k opened #250 "Disable the SDK from JavaScript on Android"
### Steps to Reproduce the Problem

### Expected Behavior

Disable the SDK from JavaScript on Android.

### Actual Behavior

It can easily be done on iOS since we are calling `Instabug.startWithToken` in the JS code. But on Android, all the initialization is done in `MainApplication`.

### Instabug integration code

[code]

### SDK Version

8.0.26

### React Native, iOS and Android Versions

React

[2019-03-03 09:07] HeshamMegid commented on #250
@c100k to do this right now you will have to call `disable` from the JS side while retaining the Java code in `MainApplicaiton`, however, we're working on making it possible to initialize the SDK without having to add any code to the native Android project.

Feel free to reopen the issue if this doesn't work for you.

[2019-03-03 09:07] #250 closed

[2019-03-03 09:08] HeshamMegid commented on #248
@andreypaul closing this issue as it has been inactive for a couple of weeks. Please feel free to reopen if you need to.

[2019-03-03 09:08] #248 closed

[2019-03-05 04:49] CapitanRedBeard opened #251 "Android asks for photo library permission immediately on App open."
### Steps to Reproduce the Problem
Install and implement Instabug for Android.
Open up app.
Notice the permissions prompt immediately being displayed

### Expected Behavior
Ideally we can match the iOS behavior and only ask for photo permissions when the user pressed the "Take a screenshot" button in the "Report a problem" screen.

### Actual Behavior
Android asks for photo library permissions on

[2019-03-05 10:15] HeshamMegid commented on #251
@CapitanRedBeard are you using the screenshot gesture to invoke Instabug? If this is the case, we request access to local storage to be able to detect when a screenshot has been captured by monitoring the screenshots directory. If you change the invocation event to any other value, that permission won't be needed.

[2019-03-05 19:45] CapitanRedBeard commented on #251
@HeshamMegid 	Ah this makes sense yeah I am using screenshot gesture. Thanks for the reply I'll close this out.

[2019-03-05 19:45] #251 closed

[2019-03-06 12:57] HeshamMegid commented on #249
@henryrossiter do you still need help with this issue? I'm closing the issue for now but please feel free to reopen it if you need further help.

[2019-03-06 12:57] #249 closed

[2019-03-06 16:24] henryrossiter commented on #249
@HeshamMegid  I don't need any help, thanks.

It is possible to manually link libraries as @salmamali suggested, but it was so tedious that I eventually removed Instabug from my project completely so that the balance of my dependencies could link automatically.

Hopefully non macOS linking will come eventually. Thanks!

[2019-03-07 08:02] HeshamMegid commented on #249
@henryrossiter we will look more into that and let you know if we find an easier solution.

[2019-03-10 06:52] sm2017 opened #253 "Error: spawn ruby ENOENT"
### Steps to Reproduce the Problem
When I run `react-native link instabug-reactnative`

[code]

### Expected Behavior

### Actual Behavior

### Instabug integration code

### SDK Version

latest

### React Native, iOS and Android Versions
[code]
### Device Model

### [Optional] Project That Reproduces the Issue

[2019-03-10 14:48] alyezz commented on #253
Hello,

It looks like you're missing Ruby. Try downloading and installing it from the link below:

`https://github.com/oneclick/rubyinstaller2/releases/download/RubyInstaller-2.6.1-1/rubyinstaller-2.6.1-1-x64.exe`

After installation everything should work fine.

[2019-03-10 14:56] sm2017 commented on #253
@alyezz , Can you refer me to installation guide that told we need to install ruby too?

I follow installation as documents told

[2019-03-10 15:39] HeshamMegid commented on #253
@sm2017 this isn't mentioned anywhere in our docs. We've assumed the installation steps are going to be done on a machine that has Ruby pre-installed.

We will work on making this clearer.

[2019-03-10 16:39] sm2017 commented on #253
@HeshamMegid thanks very much

[2019-03-10 16:39] #253 closed

[2019-03-14 15:24] soumyamishra89 opened #254 "Improve hasChats implementation"
The Replies.hasChats takes a callback function and does not invoke if it does not have any chats.
This creates certain issues like if I want to invoke new Chat when chats are not already there.

The callback should be invoked with a boolean stating if chats exists or not. This would make further action meaningful.

The documentation does not tell that hasChats accepts a callback.

### SDK Version

[2019-03-14 22:42] plowman opened #255 "setUserEmail, setUserName, setUserStepsEnabled now missing in 8.1"
Hey there, I'm seeing lots of method calls that worked in 8.0 no longer work in 8.1. Was there some kind of purge that isn't documented in the [migration guide](https://docs.instabug.com/docs/react-native-sdk-8-1-migration-guide)?

For example, `setUserEmail()`, `setUserName()`, `setUserStepsEnabled()`, etc. were all in 8.0 but seem to have been removed.

If these are actually removed, it would be

[2019-03-17 09:44] HeshamMegid commented on #255
@plowman those APIs have been deprecated for a few versions. In 8.1 we removed all APIs that have been deprecated in 8.0 and earlier versions. Please check the [8.0 migration guide](https://docs.instabug.com/v8.0/docs/react-native-migration-guide) for the deprecated APIs.

For the particular APIs you've mentioned, please use `identifyUserWithEmail()` instead of `identifyUserWithEmail()` and `setUs

[2019-03-18 08:47] HeshamMegid commented on #255
@plowman the updated `index.d.ts` is available in 8.1.4.

Please let me know if you have any other questions about the API changes.

[2019-03-18 08:47] #255 closed

[2019-03-18 08:49] HeshamMegid commented on #254
@soumyamishra89 what you're saying makes sense. Let me check it from our side and get back to you.

[2019-03-18 17:29] plowman commented on #255
Thanks for making these changes, @HeshamMegid! This will make it much easier for everyone else who didn't realize those methods were deprecated.

[2019-03-19 07:36] salmamali commented on #221
Hello @pengcao1
We've added the typescript interface to our library as of version 8.1.1.

[2019-03-19 07:36] #221 closed

[2019-03-21 14:15] HeshamMegid commented on #254
@soumyamishra89 we updated the behavior of the API in v8.1.5. Please check [the release notes](https://github.com/Instabug/Instabug-React-Native/releases/tag/v8.1.5).

[2019-03-21 14:15] #254 closed

[2019-03-21 14:28] HeshamMegid commented on #253
@sm2017 linking on v8.1.5 now work on Windows when Ruby isn't installed.

[2019-03-22 13:06] soumyamishra89 opened #260 "Usage guide for sourcemap upload"
The new Instabug version has an sourcemap upload script which expects APP_TOKEN. if not provided it tries to scrap it from files with Instabug.startWithToken.
Now how do you manage separate tokens with ios and android and the token has to be added explicitly and not through constants.
e.g. const instabugToken = '123456789abcdefg';
Instabug.startWithToken(instabugToken) wont work.
and if there is c

[2019-03-24 10:37] salmamali commented on #260
Hello @soumyamishra89
You don't need to add the APP_TOKEN yourself, the script searches for your app token in your project folder and adds it automatically.

[2019-03-24 10:51] salmamali commented on #260
@soumyamishra89
Sorry I misunderstood your question. The APP_TOKEN will not be added to the script unless it's in the `startWithToken` API. We'll be looking into how to handle adding the token if it's placed somewhere else.

[2019-03-25 15:48] soumyamishra89 opened #261 "Missing photos on bug reports"
### Steps to Reproduce the Problem
- Open bug reporting with
`BugReporting.showWithOptions(BugReporting.reportType.bug, [BugReporting.option.emailFieldOptional, BugReporting.option.commentFieldRequired]);`
- write a comment and press send. (the screenshot is attached by default)

### Expected Behavior
The bug report on the instabug dashboard should contain the screenshot

### Actual Behavior
The b

[2019-03-27 08:15] HeshamMegid commented on #261
This was an API issue that has been fixed. Please try again and let us know if you’re still experiencing it.

[2019-03-27 08:15] #261 closed

[2019-03-28 05:45] RZulfikri opened #262 "duplicate method setEnabledAttachmentTypes on InstabugModule"
Hi check this, it have 3 same setEnabledAttachmentTypes method.

https://github.com/Instabug/Instabug-React-Native/blob/c40f46bdde162a367671d19eba4c0f05ca4f7287/android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java#L553

[2019-03-28 14:07] soumyamishra89 commented on #262
This is annoying. These are compilation errors and should not have been committed without checking.
Also InstabugCustomTextPlaceHolder.Key.SURVEYS_CUSTOM_THANKS_TITLE,
InstabugCustomTextPlaceHolder.Key.SURVEYS_CUSTOM_THANKS_SUBTITLE,
InstabugCustomTextPlaceHolder.Key.SURVEYS_STORE_RATING_THANKS_TITLE,
InstabugCustomTextPlaceHolder.Key.SURVEYS_STORE_RATING_THANKS_SUBTITLE

cannot be resolved

[2019-03-28 14:47] HeshamMegid commented on #262
Thanks for reporting that. We're working on it and will release a fix ASAP.

[2019-03-28 15:28] salmamali commented on #262
We will be releasing the fix for `setEnabledAttachmentTypes` being added several times shortly. However, regarding the keys that cannot be resolved we cannot reproduce this issue, it could be that your android project needs to be gradle synced to get the latest Android SDK. Try updating all gradle dependencies by running this command from the directory `<project>/android`:
[code]

[2019-03-28 15:29] alyezz commented on #262
Fixed in v8.2.1

[2019-03-28 15:29] #262 closed

[2019-03-31 10:44] HeshamMegid commented on #260
@soumyamishra89 as we're looking more into this, I'm curious to know why you maintain 2 separate tokens for both iOS and Android. Currently, if you create a React Native app on the Instabug dashboard, both variants of the app should have the same token.

[2019-03-31 23:12] juanamd commented on #260
Btw, this new "sourcemap upload" doesn't work on Windows when doing a release build (gradlew assembleRelease).

Had to remove the following lines from build.gradle for it to work:

`task upload_sourcemap(type: Exec) {
    commandLine 'sh', './upload_sourcemap.sh'
}

tasks.whenTaskAdded { task ->
    if (task.name == 'preReleaseBuild') {
        task.dependsOn upload_sourcemap
    }
}`

(Windows 10

[2019-04-01 09:58] HeshamMegid commented on #260
@juanamd are you having the same issue on v8.2.2?

[2019-04-01 11:34] soumyamishra89 commented on #260
@HeshamMegid: as far as i remember it was mentioned in the docs that it is a good practice to separate the two apps. And it also helps in identifying the bugs specific to app os. I dont see any filter option separating ios and android, but still it would be much easier to maintain two apps for ios and android.

[2019-04-01 15:32] ngallion commented on #260
We have run into an issue in which we have the token in our config files (using react-native-config) and the script is failing saying APP_TOKEN not found. But when we hard code the value in, it succeeds. Any suggestions? Would prefer to use the config rather than hard coded values

[2019-04-01 15:55] HeshamMegid commented on #260
@soumyamishra89 that makes sense, thanks for the feedback.

@ngallion that issue has been fixed in 8.2.2. Are you still seeing it?

We're currently working on a better way to find the app token(s), including giving you the ability to set them as an env variable.

[2019-04-05 12:29] SudoPlz commented on #232
@soumyamishra89 can you please paste the first lines of your test file? I'd like to mock instabug as well.

Thank you

[2019-04-05 13:44] soumyamishra89 commented on #232
@SudoPlz create a file by name of instabug-reactnative.js in __mocks__ folder (same level as __tests__ folder)

`const BugReporting = {
    onSDKDismissedHandler: jest.fn(),
    setReportTypes: jest.fn(),
    reportType: {},
    showWithOptions: jest.fn(),
    option: {}
};

const Replies = {
    setInAppNotificationsEnabled: jest.fn(),
    setOnNewReplyReceivedCallback: jest.fn((callback) => null

[2019-04-05 13:48] soumyamishra89 commented on #232
@soumyamishra89 the error you are getting is different. It is because the babel-jest does a transformation of your code into a format it understands i guess and because of this the error occurs.
If you mock the file then it should solve the issue but in case you face the same issue for other modules which does not require mock then maybe you need to look into jest configuration ("transformIgnorePa

[2019-04-05 13:53] SudoPlz commented on #232
@soumyamishra89 I've wasted hours digging into this, but because we're stuck . on react-native 0.56, I can't find the correct combination of babel-jest or presets, so I just quit...... until we upgrade to a newer react-native version, where the correct babel dependencies are required by react-native, and not some alpha stage dependencies that we're stuck with..

[2019-04-07 15:21] felix-zg opened #265 "Resource with same name ib_core_alert_dialog_msg_color"
### Steps to Reproduce the Problem
After upgrade to 8.2.0 we receive the following error:

In the values file we have two values with the same key:
[code]

### SDK Version
8.2.2

### React Native, iOS and Android Versions
Android

[2019-04-08 18:02] brycebenson commented on #260
@HeshamMegid seeing the same hardcoded issue on 8.2.2 as well for the android build token parsing

[2019-04-09 08:11] HeshamMegid commented on #260
@brycebenson on 8.2.2 the script still looks for a hardcoded token, however, it skips the upload if it doesn't find it rather than failing.

We've worked on an improved version of the script that fits the different usage scenarios, and we'll be shipping it very soon.

[2019-04-09 08:26] salmamali commented on #265
@felix-zg
Could you try clearing your gradle cache by deleting the folder `$HOME/.gradle/caches` and then try building again?

[2019-04-09 12:12] felix-zg commented on #265
Yes, same result :(

[2019-04-10 14:36] MaxInMoon commented on #140
Same with the `8.2.2`:

Could we re-open it?

[2019-04-10 19:15] andrewheekin commented on #265
Seeing the exact same bug in my company's project on the same environment/release. (Android, 8.2.2)

[2019-04-11 14:14] salmamali commented on #265
@felix-zg @andrewheekin This is in fact an issue. We'll be releasing a fix for this soon.

[2019-04-11 16:30] salmamali commented on #265
@felix-zg @andrewheekin This fix has been released on version 8.2.3. Please feel free to reopen the issue if there are any problems.

[2019-04-11 16:30] #265 closed

[2019-04-12 11:39] leegould opened #267 "Android build issue"
Hi,

I am seeing some odd android build problems when I tried updating to the latest version, wonder if you have seen anything like this or can give me any pointers on what I might need to change.

Thanks;

### Upgrading Instabug-React-Native to 8.2.3 from 8.1.6

### Expected: Android version builds successfully

### Actual:

/Projects/App/node_modules/instabug-reactnative/android/src/main/jav
a/c

[2019-04-12 17:17] MaxInMoon opened #268 "[Android] floating button: how to position it from bottom?"
### Steps to Reproduce the Problem

[code]

### Expected Behavior

Be able to position the floating bouton from the bottom, or to calculate a distance from the top in java.

### Actual Behavior

For iOS I do so in Javascript, but it has no effect on Android:

[code]

But I didn't find a clean way to do it in `MainApplication.java`.

### SDK Version

`8.2.2`

[2019-04-14 09:37] salmamali commented on #267
@leegould If you have access to Android Studio could you manually sync gradle as explained in the stack overflow answer [here](https://stackoverflow.com/questions/29565263/android-studio-how-to-run-gradle-sync-manually) and try again?

[2019-04-14 11:16] salmamali commented on #268
@MaxInMoon
There should be a way to set the offset for android from JS. We're looking into this issue.

[2019-04-15 11:12] leegould commented on #267
Hi @salmamali, thanks for the suggestion. I gave that a try, it highlighted a problem I had elsewhere with sdk version numbers, but then sync'ed ok in android studio. When I try to build from android studio it fails again with 2 similar errors inside the instabug project:

error: cannot find symbol variable SURVEYS_CUSTOM_THANKS_TITLE
error: cannot find symbol variable SURVEYS_STORE_RATING_THANKS_

[2019-04-15 11:43] salmamali commented on #267
Hello @leegould,
That is odd! The class InstabugCustomTextPlaceholder comes from the native Instabug Android SDK and these keys were added to that class in Android version 8.2.0. Since RN 8.2.3 maps to android version 8.2.2 these keys should be there.

What version are you seeing under External Libraries for Instabug?

<img width="1440" alt="Screen Shot 2019-04-15 at 1 35 43 PM" src="https://user-

[2019-04-15 12:02] leegould commented on #267
Ah yep.. they are all 8.1.2 on my version. I just tried to unlink/link again, that didn't seem to make any diff.

![Screenshot 2019-04-15 at 12 56 16](https://user-images.githubusercontent.com/184756/56130981-34ed5d80-5f7e-11e9-928d-503f645b5e03.png)

[2019-04-15 12:22] salmamali commented on #267
Can you make sure that in the instabug module build.gradle the dependency version is in fact 8.2.2 as shown below, then clean the project and clear your gradle caches by deleting the folder in `~/.gradle/caches` and try again.

<img width="1440" alt="Screen Shot 2019-04-15 at 2 16 54 PM" src="https://user-images.githubusercontent.com/10803019/56132243-c6ae9800-5f89-11e9-9fa4-07e0dad6b7ed.png">

[2019-04-15 14:42] leegould commented on #267
Yea, it shows the old one in android studio, no idea why it won't seem to update. When I look at the file on the disk in a text editor it has the newer version (8.2.2). So I rm -rf $HOME/.gradle/caches/ and removed the node_modules folder and reinstalled everything, it still shows the cached build script in android studio, but it builds ok now.

Not quite sure what caused that, but Thanks for your

[2019-04-15 14:42] #267 closed

[2019-04-15 16:31] andrewheekin commented on #265
hey @felix-zg, just upgraded to 8.2.3 but now getting the following error on android:
`:app:processDebugResources FAILED
/Users/xxxxxx/myRNAppImBuilding/android/app/build/intermediates/manifests/full/debug/AndroidManifest.xml:22: AAPT: No resource identifier found for attribute 'appComponentFactory' in package 'android'

FAILURE: Build failed with an exception.
* What went wrong:
Execution failed

[2019-04-16 23:27] plowman opened #269 "[Android] error: resource android:attr not found"
Hey there, I'm running into an Instabug build issue I can't figure out.

### Steps to Reproduce the Problem
1. Attempt to build the internalDebug version of the app and run it on a real device using `react-native run-android --variant internalDebug --appId com.package.name --deviceId 1234ABCD`

### Expected Behavior
* It should succeed

### Actual Behavior
* It fails. Here's the output:

### Insta

[2019-04-17 00:21] plowman commented on #269
Closing this. Looks like the core issue was that my compileSdkVersion was set to 27 instead of 28. 🤷‍♂️

[2019-04-17 00:21] #269 closed

[2019-04-17 18:02] JinghaoYJH opened #271 "8.0.26 java.lang.RuntimeException: Unable to start activity ComponentInfo{mycompany/com.instabug.library.ui.Activity}: java.lang.NullPointerException: Attempt to invoke virtual method 'void com.instabug.library.settings.b.h(boolean)' on a null object reference"
Fatal Exception: java.lang.RuntimeException: Unable to start activity ComponentInfo{mycompany/com.instabug.library.ui.Activity}: java.lang.NullPointerException: Attempt to invoke virtual method 'void com.instabug.library.settings.b.h(boolean)' on a null object reference
       at android.app.ActivityThread.performLaunchActivity(ActivityThread.java:3086)
       at android.app.ActivityThread.handleL

[2019-04-18 09:01] HeshamMegid commented on #271
@JinghaoYJH we're looking into this and will get back to you soon.

[2019-04-18 09:12] HeshamMegid commented on #260
We have updated our script to handle all the cases mentioned here. Please check [this](https://github.com/Instabug/Instabug-React-Native#uploading-source-map-files-for-crash-reports) for more details.

If you have any feedback about it, we'd love to hear it, so please feel free to open new issues.

[2019-04-18 09:12] #260 closed

[2019-04-18 14:39] andrewheekin commented on #265
@salmamali any thoughts here?
Here are our version numbers:
buildToolsVersion: 28.0.3
compileSDKVersion: 26
targetSDKVersion: 26

[2019-04-21 09:12] salmamali commented on #265
@andrewheekin can you try updating the compileSDKVersion to 28?

[2019-04-24 02:32] cpetzel opened #273 "BugReporting.setInvocationEvents() function does not work on Android at runtime"
Our app toggles the Instabug bubble on and off based on certain conditions via the `BugReporting.setInvocationEvents()` function.
When we try to toggle it back on, the bubble never appears. See gif below

### Steps to Reproduce the Problem

To debug this, I verified that the  SDK's `InvocationManager` is updated with the latest values by putting debug statements in the `setInvocationEvents` method

[2019-04-24 06:11] cpetzel commented on #273
This bug is also visible in the `InstabugSample` Android app on latest master.

Clicking between `NONE` and `FLOATING BUTTON` does not work. However, clicking between `SHAKE` and `FLOATING BUTTON` works as intended...

![instademo mov](https://user-images.githubusercontent.com/2036206/56636226-f4947c00-661c-11e9-9fb5-a8972d403b37.gif)

[2019-04-24 06:16] salmamali commented on #273
@cpetzel Thank you for the detailed report. We'll be looking into this issue.

[2019-04-24 15:50] andrewheekin opened #275 "React native iOS fails from clean install with: JSON value '1' of type NSNumber cannot be converted to NSArray"
### Steps to Reproduce the Problem
Made a fresh react native project and added instabug
"instabug-reactnative": "^8.2.5",
"react": "16.8.3",
"react-native": "0.59.5"

### Expected Behavior
Instabug works on shake

### Actual Behavior
The following error appears in the console - JSON value '1' of type NSNumber cannot be converted to NSArray

### SDK Version
8.2.5

### React Native, iOS and Android

[2019-04-25 06:50] salmamali commented on #275
@andrewheekin Can I see your integration code please? There is probably an API that you're using that expects an array of constants but it's getting just a constant.

[2019-04-25 07:51] salmamali commented on #275
@andrewheekin I didn't realize you attached a sample project! The issue is this line
[code]
This API expects an array of invocation events so it should look like this
[code]

[2019-04-25 11:52] andrewheekin commented on #275
@salmamali thanks, making that second arg an array fixes everything on iOS. However I still can't get the instabug menu to show up when shaking the android emulator from the same project

[2019-04-25 13:22] salmamali commented on #275
@andrewheekin Add your token to the builder to the in this file https://github.com/andrewheekin/instabugtester/blob/master/android/app/src/main/java/com/instabugtester/MainApplication.java
And maybe try decreasing the shaking threshold for Android as shown and try again please
[code]

[2019-04-25 14:30] andrewheekin commented on #275
@salmamali my instabug token was in MainApplication.java at the time of the error, and the shaking was done on the emulator so the threshold shouldn't have an effect

[2019-04-25 14:33] andrewheekin commented on #275
I'm shaking the emulator with cmd m

[2019-04-25 16:09] salmamali commented on #275
Unfortunately cmd M doesn’t simulate the shake as expected. You can try shaking the emulator using the virtual sensors or running on a real device.

[2019-04-27 21:16] Buthrakaur commented on #131
Hello @HeshamMegid , any progress with this issue since February, please?

[2019-04-28 07:32] HeshamMegid commented on #131
@Buthrakaur, unfortunately, this is pending on changes in our native SDKs that we haven't shipped yet. Will let you know once it's ready.

[2019-04-29 13:45] divyanshunegi opened #276 "npm install instabug-reactnative breaks the whole project"
I am making linking instabug after install command and when I try to build the whole project fails with `React` not found bug.

I tried emailing directly to the instabug team but got no response, I am building only in ios and it seems pod install also does not work as expected, I have noticed while pod installs it tries to install react as well, which is already installed and working fine.

[2019-04-29 15:39] alyezz commented on #276
Hello, can you please attach the log for the error you get when building?

[2019-04-30 15:59] caipivara commented on #67
Another way to solve it: http://ikennd.ac/blog/2015/02/stripping-unwanted-architectures-from-dynamic-libraries-in-xcode/

[2019-05-06 15:48] divyanshunegi commented on #276
[code]

[2019-05-06 15:50] divyanshunegi commented on #276
I am not sure if this log would help, but let me know if you need some more details, I tried with pod install and all other methods but nothing seems to work.

In the current verion, i tried with
basic
`npm install instabug-reactnative`

`gem install xcodeproj`

`react-native link instabug-reactnative`

[2019-05-06 16:08] divyanshunegi commented on #276
I have disabled the `Strip Framework` script from Build Phases, which helps in building the project but in after buidling when app starts it gives a JS exception as

[code]

[2019-05-07 13:18] soumyamishra89 opened #281 "Unhandled Promise Rejection"
After updating to latest instabug version, there are warning messages that pop up on debug verison.

PFA the screenshot.

![Screenshot 2019-05-07 at 14 57 08](https://user-images.githubusercontent.com/3540647/57302256-0ffe8d00-70db-11e9-9b20-f7a4aa86b6de.png)

This warning was found on ios app. Have not checked on android, but i guess it would be there on android too. Seems like the Response objec

[2019-05-07 14:09] soumyamishra89 commented on #281
There was some issue running the android version. It could not find the instabug android sdk 8.2.2.0. which was weird since it should be semantic versioning without the last 0. So, will try again and let you know.

[2019-05-07 14:15] HeshamMegid commented on #281
@soumyamishra89  we've switched away from Maven Central to our own repo available at https://sdks.instabug.com/nexus/repository/instabug-cp which includes the versions with the trailing 0.

Unlinking and linking again should add this automatically to your build.gradle file. You can also add it manually.

[2019-05-08 08:41] HeshamMegid commented on #275
@andrewheekin closing this issue since we haven't heard back from you. Please feel free to reopen if you still need help.

[2019-05-08 08:41] #275 closed

[2019-05-08 09:28] soumyamishra89 commented on #281
@HeshamMegid on Android it gave an error "could not invoke Instabug.networkLog, No value for responseCode".
When i disabled NetworkLogger (NetworkLogger.setEnabled(false)) it worked fine. Maybe there is something else that I missed while linking?

[2019-05-09 15:15] alyezz commented on #281
@soumyamishra89 We just Released v8.3.0. Update and let us know if you have any issues.

[2019-05-09 15:16] alyezz commented on #276
We just Release 8.3.0. Update and let us know if you have any issues

[2019-05-09 17:01] alphadevs07 opened #283 "React Native Instabug 8.3.0 has serious error - captureJsErrors"
I installed the latest version - 8.3.0 and I can see such error.
![Simulator Screen Shot - iPad Air - 2019-05-09 at 19 18 25](https://user-images.githubusercontent.com/9720612/57471885-df625300-7294-11e9-98cd-225ab2a7c5ed.png)

I checked the source code and I can see there isn't any function: `captureJsErrors`

Also, I looked through the previous builds and I think the line is deleted in latest ve

[2019-05-09 17:37] alyezz commented on #283
Hello,

Thanks for reporting this, we released a hotfix for it in 8.3.1

Let us know if you have any issues

[2019-05-10 09:50] soumyamishra89 commented on #281
@alyezz: Thank you for a quick response. I tested it. looks fine.
Closing this issue

[2019-05-10 09:50] #281 closed

[2019-05-10 16:46] groundmuffin commented on #276
Same issue here.
New RN project.

"react-native": "0.59.5"
"instabug-reactnative": "^8.3.1"

After installing and linking the package, iOS build doesn't build;

[code]

[2019-05-12 14:38] HeshamMegid commented on #131
@Buthrakaur @nasmuris @fangpenlin We just shipped a fix for this in v8.3. Sorry this took a while from our side.

Please open a new issue if you have feedback about it.

[2019-05-12 14:38] #131 closed

[2019-05-12 14:39] #283 closed

[2019-05-13 12:34] alyezz commented on #276
@groundmuffin we were not able to reproduce the error mentioned above. If you're still facing this error, can you please open a new issue so we can further investigate this.

[2019-05-15 12:07] #276 closed

[2019-05-16 11:25] facuacostag opened #287 "Wrong Maven dependency on >8.3.0"
On version 8.3.0 the Android Maven dependency was changed to `8.3.0.0` which is wrong and causes the build to fail, should be changed to `8.3.0`

[code]
Maven repository changelog: [LINK](https://mvnrepository.com/artifact/com.instabug.library/instabug)
For instance, the Android implementation of Instabug is using `8.3.0`
![Screenshot 2019-05-16 at 12 24 40](https://user-images.githubusercontent.c

[2019-05-16 11:27] alyezz commented on #287
@facuacostag  we've switched away from Maven to our own repo available at https://sdks.instabug.com/nexus/repository/instabug-cp

Unlinking and linking again should add this automatically to your `build.gradle` file. You can also add it manually. Let me know if you have any issues with this.

[2019-05-16 11:53] facuacostag commented on #287
Thanks, I recently updated the library and didn't realise that when doing the `link` it was failing because we didn't have `strings.xml` file on Android. Since we are using 3 different flavours we didn't need a "general" `strings.xml` file so I just created a dummy one to avoid the issue. Do we really need to check on this file when running the link script?

[2019-05-21 14:56] juanamd opened #288 "Android release build fails on Windows"
### Steps to Reproduce the Problem

On a Windows machine, run ./gradlew assembleRelease

### Expected Behavior

The build process finishes successfully

### Actual Behavior

The build process throws the following error:

* What went wrong:
Execution failed for task ':instabug-reactnative:upload_sourcemap'.

### SDK Version
8.3.1

### React Native, iOS and Android Versions
0.59.8

### Notes

I have

[2019-05-21 17:27] alphadevs07 opened #289 "Report a problem screen disappear immediately after showing."
I implemented the instabug-reactnative module. Actually, I updated the module to 8.3.1.
Finally, after changing the function name and I made it running.
But I showed that with manually by calling the `show()` method. And it shows the instabug screen. And I clicked the `Report a problem` button but it disappear immediately after showing the report page.

Here is the video for that issue.
https://ww

[2019-05-22 08:22] HeshamMegid commented on #289
@alphadevs07 please share your Instabug integration code, including any calls to Instabug methods.

[2019-05-22 14:30] alyezz commented on #288
@juanamd thanks for reporting this, we're currently working on a fix.

[2019-05-23 12:04] alyezz commented on #288
@juanamd We just Release 8.3.2. Update and let us know if you have any issues

[2019-05-26 22:42] MakhouT commented on #275
@salmamali Changing it to an array indeed fixes the issue. However the docs needs to be updated then. https://instabug.com/platforms/react-native
On the instabug dashboard the instructions are correct. Also still looking to get it running on android.

[2019-05-27 08:33] salmamali commented on #275
@MakhouT Thank you for pointing that out, we will be changing it to the correct usage. If you're having trouble integrating for android, please open a new issue with more details.

[2019-05-27 20:26] SudoPlz opened #291 "setEmailFieldRequiredForActions not implemented on Android"
That method is not implemented on `"instabug-reactnative": "8.3.2",`,

how are we supposed to set wether we want the email field to be required or not, I'm confused.

Thanks

[2019-05-27 20:44] salmamali commented on #291
@SudoPlz This API was deprecated a while back. You can now use the API `BugReporting.setInvocationOptions([BugReporting.option. emailFieldHidden])` or any value of `BugReporting.option`. Please feel free to reopen the issue if this wasn't what you were looking for.

[2019-05-27 20:44] #291 closed

[2019-05-27 20:49] salmamali commented on #287
@facuacostag The general `strings.xml` should not affect how the script is executed since it doesn't reference the file at all. What version of `instabug-reactnative` was this break happening on?

[2019-05-28 12:53] SudoPlz commented on #291
Oh got it, thanks @salmamali

[2019-05-29 13:28] wynch opened #292 "Wrong typescript definition of BugReporting.setReportTypes"
Hello,

In your index.d.ts, you wrote :
  `function setReportTypes(types: reportType): void;`

it should be

 ` function setReportTypes(types: reportType[]): void;`

[2019-05-29 13:48] salmamali commented on #292
@wynch Thanks for pointing that out! We'll fix it and include it in our next release.

[2019-05-29 14:43] wynch opened #294 "BugReporting.setReportTypes doesn't work on Android"
When using instabug-react-native 8.3.1,

### Steps to Reproduce the Problem

### Expected Behavior

We don't want the prompt options when users does a screenshot, and we want to directly display the bug reporting form.

The code below should have this behavior on both android and iOS

### Actual Behavior

The code below only works for iOS (bug form is directly displayed when user does a screenshot

[2019-05-29 14:53] salmamali commented on #294
@wynch thank you for the detailed report. We’ll look into this issue.

[2019-05-30 10:27] salmamali commented on #294
@wynch
Are you using any other APIs in your code besides the ones you mentioned above?

[2019-05-30 12:38] #289 closed

[2019-05-30 13:52] juanamd commented on #288
Sorry, forgot to report back:
The issue has been solved for me with version 8.3.2
Thanks

[2019-05-30 13:52] #288 closed

[2019-05-31 14:39] salmamali commented on #292
@wynch this was fixed in version 8.3.3. Closing this issue.

[2019-05-31 14:39] #292 closed

[2019-06-03 08:49] wynch commented on #294
@salmamali it works, thank you !

[2019-06-03 15:56] rollsroyc3 opened #296 "Build issue in iOS when updating from 8.0.18 to 8.3.3"
### Steps to Reproduce the Problem
Update from 8.0.18 to 8.3.3

### Expected Behavior
Build as normal

### Actual Behavior
Get build error:

`/usr/local/lib/node_modules/instabug-reactnative/ios/RNInstabug/InstabugReactBridge.m:729:39: use of undeclared identifier 'IBGUserStepsModeEnable'; did you mean 'IBGUserStepsModeDisable'?`

Opening up the project in XCode and building I get a similar error:

[2019-06-03 17:57] rollsroyc3 commented on #296
Searching for this error I came across this

https://github.com/facebook/react-native-fbsdk/issues/533

which seems similar to my situation since I recently updated to .59

[2019-06-03 21:45] #287 closed

[2019-06-04 04:45] hohien opened #297 "IBGUserStepsModeEnable not found in xcode"
"
RCT_ENUM_CONVERTER(IBGUserStepsMode, (@{
                                        @"reproStepsEnabled": @(IBGUserStepsModeEnable),
                                      @"reproStepsDisabled": @(IBGUserStepsModeDisable),
                                      @"reproStepsEnabledWithNoScreenshots": @(IBGUserStepsModeEnabledWithNoScreenshots)
                                      }), IBGUserStepsMode

[2019-06-04 10:51] tijs opened #298 "Unexpected error occurred: ENOTDIR: not a directory objects-11.0+.nib"
### Steps to Reproduce the Problem

Upgraded from 8.0.12 to current latest 8.3.2

### Expected Behavior

No regressions/changes

### Actual Behavior

Get an error when trying to install though yarn:

[code]
Tried intermediate versions but get the same error. Reverting back to 8.0.12 resolves the issue again.

### Instabug integration code

[code]

### SDK Version

8.3.2

### React Native, iOS and

[2019-06-04 10:54] tijs commented on #298
Just so this does not get closed again; this issue has been reported before (since version 2.x) but is still unresolved. e.g. https://github.com/Instabug/Instabug-React-Native/issues/163

I believe it should not be closed but actually fixed as it prevents a normal upgrade path for 100% of your users upgrading their package version.

[2019-06-04 16:02] rollsroyc3 commented on #297
Looks like the same issue as mine

https://github.com/Instabug/Instabug-React-Native/issues/296

@salmamali

[2019-06-05 04:00] hohien commented on #297
@rollsroyc3 My RN version is 0.59.8

[2019-06-05 04:02] hohien commented on #296
I get the same error, I solve it by go to the RCT_ENUM_CONVERTER and add IBGUserStepsModeEnable, It runs now. But that is not the right way to do

[2019-06-05 11:21] salmamali commented on #297
@rollsroyc3 @hohien Sorry for the delay. We will be releasing the fix for this shortly.

[2019-06-05 11:23] salmamali commented on #296
Duplicate of #297

[2019-06-05 22:32] salmamali commented on #297
@rollsroyc3 @hohien We just released version 8.3.4. We've removed the `reproStepsMode.enabled` enum as per recent changes to the App Store guidelines, please refer to [this](https://github.com/Instabug/Instabug-iOS/issues/317) issue. To enable repro steps now you can use this instead `reproStepsMode.enabledWithNoScreenshots`.

[2019-06-05 22:32] #297 closed

[2019-06-05 22:33] #296 closed

[2019-06-05 22:37] salmamali commented on #298
@tijs We will be looking into your issue. Does this happen every time you update Instabug through yarn? And every time you update do you have to delete the `node_modules` and fresh install to get it to work?

[2019-06-05 22:43] salmamali commented on #294
@wynch That shouldn't be happening they should both be consistent. We will be working on a fix for this. However, all features are enabled by default so it shouldn't make a difference whether you enable them initially or not. And as for the screenshot not doing anything, is that happening on iOS or Android or both? Because it could be just that you need to accept the capturing screen permission to

[2019-06-05 22:48] wynch commented on #294
One thing that could come into play is that I have codepush builds. It can bring different behavior than direct build, because the app js bundle isn't in the same directory.

I'll try and test both cases, and tell you....

[2019-06-06 04:47] tijs commented on #298
@salmamali yes that seems to be the case. Clean install works upgrade does not

[2019-06-06 13:28] wynch commented on #294
@salmamali : Ok, I tested again. Direct & Codepush build, and I have consistent behavior between iOS & android. I had to remove `BugReporting.setEnabled(true)` like you advised.

I don't know what happened previously...
I close this issue :)

Thank you !

[2019-06-06 13:28] #294 closed

[2019-06-10 06:32] salmamali commented on #298
@tijs Can I get the version of yarn you're using?

[2019-06-10 06:35] tijs commented on #298
@salmamali 1.16, it’s in the original issue description

[2019-06-12 11:51] timhilgenstoehler opened #302 "No Attachment sent"
Hey Guys,

I have updated to 8.4.0 and everything is working expect the bugs are not sending the attachments (video and images).

Any Ideas why?

Kind Regards,
Tim

[2019-06-12 12:14] salmamali commented on #302
@timhilgenstoehler That may happen if your network is slow. They should eventually load though. Is the initial screenshot as well not appearing on the dashboard or is it just any extra added attachments?

[2019-06-12 12:20] timhilgenstoehler commented on #302
Inside the app everything is working like in the old version 8.0.3. The first screenshot is generated automatically etc. But wenn sending the bug Instabug says there is 'no attachment':

![Screen Shot 2019-06-12 at 2 18 28 PM](https://user-images.githubusercontent.com/2440843/59350776-3be5e180-8d1d-11e9-8010-7a71a756aa12.png)

[2019-06-12 12:24] salmamali commented on #298
@tijs This seems to be an issue with yarn and not the package. We have opened an [issue](https://github.com/yarnpkg/yarn/issues/7333) on their repo. Feel free to track issue there.

[2019-06-12 12:24] #298 closed

[2019-06-12 12:38] salmamali commented on #302
@timhilgenstoehler I just tried reproducing this with no luck. Does this happen every time? or was it just that bug in particular?

[2019-06-12 12:42] timhilgenstoehler commented on #302
I tried 5 bugs or so in a row. On the simulator and on a real device (iPhone X).
Maybe my updating was wrong? I just did an
`pod update instabug-reactnative`
and
`react-native unlink Instabug-reactnative`
`npm install instabug-reactnative`

[2019-06-12 12:52] timhilgenstoehler commented on #302
I just checked it from another device and it is working as expected.
Maybe because of iOS Version?
iOS 12.3.1 - no attachment
iOS 12.2 - working

[2019-06-12 14:08] HeshamMegid commented on #302
@timhilgenstoehler looks like this is a potential issue in our native iOS SDK. I'm transferring the issue to our iOS repo to continue the discussion there.

[2019-06-12 16:41] chrs1885 opened #303 "No native crashes caught before RCTRootView initialization"
### Steps to Reproduce the Problem
Our app is using a native bottom navigation. Each tab is representing a RCTRootView or a native view. Depending on which tab is active when launching the app, the SDK may or may not be initialized. In case of a native view, native crashes will not be reported. I understand that the SDK was not built for app setups like this, but for single RCTRootView apps instea

[2019-06-13 11:18] paomosca opened #304 "using deprecated method Instabug.setViewsAsPrivate(arrayOfViews);"
### Steps to Reproduce the Problem
Just update the last version (8.4.0) and run: react-native run-android

the last version doesn't compile on android for deprecated method

### Expected Behavior

### Actual Behavior

/PATHPROJECT/node_modules/instabug-reactnative/android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java:2051: error: cannot find symbol
                Instab

[2019-06-13 11:45] salmamali commented on #303
@chrs1885 There may be a workaround for your case. I recommend initializing Instabug from the `AppDelegate` using this API in `didFinishLaunchingWithOptions`:
[code]
and you can import Instabug at the top using:
[code]

In that case you won't need to initialize again in the JS side and it should start capturing native crashes on app launch.

[2019-06-13 11:48] chrs1885 commented on #303
@salmamali But will I get the javascript exceptions as well if if do the initialization on the native side?

[2019-06-13 11:51] salmamali commented on #303
@chrs1885 Yes,  just by importing Instabug in your `app.js`, the SDK will start listening for crashes once the js bundle is loaded.

[2019-06-13 11:58] salmamali commented on #304
@paomosca I'm not sure how this is causing a problem because `Instabug.setViewAsPrivate` is a newly added API and not a deprecated one. Can you make sure that the native version of instabug in the `build.gradle` is version `8.4.0.1`? You can find it in the path `<project>/node_modules/instabug-reactnative/android/build.gradle` and you should find the line
[code]

[2019-06-13 12:21] paomosca commented on #304
yes I can confirm it's
[code]

"deprecated method" was the error message of compiler (maybe is a wrong message output)

[2019-06-13 12:45] paomosca commented on #304
some more info:
updating react-native to 0.59.9 the error won't raise.
the version affected was: react-native 0.58.6

[2019-06-13 12:48] salmamali commented on #303
@chrs1885 will close this issue now, feel free to reopen it if you still have any questions regarding this issue.

[2019-06-13 12:48] #303 closed

[2019-06-14 08:08] hohien commented on #304
i also get this error in react-native: 0.59.8

[2019-06-14 08:09] hohien commented on #304
Any idea to fix this one

[2019-06-14 12:08] salmamali commented on #304
@paomosca @hohien We're looking into this and we'll keep you updated.

[2019-06-14 12:20] paomosca commented on #304
@hohien as a temp workaround I commented the line:

`//Instabug.setViewsAsPrivate(arrayOfViews); `

To compile it correctly.

Apparently everything is still working because is a new functionality of Instabug I'm not using in my app.

[2019-06-14 21:20] GlisboaDev opened #306 "onReportSubmitHandler freezes the app"
### Steps to Reproduce the Problem
Install Instabug 8.3.4 or 8.4, on setup, assign `onReportSubmitHandler` and shake your phone to invoke instabug popup.

### Expected Behavior
Show feedback popup
### Actual Behavior
app freezes

### Instabug integration code
[code]

### SDK Version
`"instabug-reactnative": "^8.4.0",`

### React Native, iOS and Android Versions
`"react-native": "0.58.4",`
`iOS 12.

[2019-06-17 02:14] hohien commented on #304
@paomosca thanks

[2019-06-17 12:06] tedcurrent opened #307 "Surveys.getAvailableSurveys() returns an array of null values on iOS"
### Steps to Reproduce the Problem
1. Create a new survey
2. Call `Surveys.getAvailableSurveys(surveys => console.log(surveys))`

### Expected Behavior
Should return an array of surveys

### Actual Behavior
Returns an array of null values

### Instabug integration code
[code]
### SDK Version

`"instabug-reactnative": "^8.4.0"`

### React Native, iOS and Android Versions
`iOS 12.3.1`
`React Native

[2019-06-17 12:11] tedcurrent opened #308 "Wrong typescript definition of Surveys.getAvailableSurveys"
Hey

In index.d.ts:
`function getAvailableSurveys(availableSurveysCallback: () => void): void;`

it should likely be something like this (not really sure about the `Survey` type)
[code]

[2019-06-17 12:50] salmamali commented on #307
@tedcurrent Thanks for pointing this out. The fix will be included in the next release.

[2019-06-17 12:51] salmamali commented on #308
@tedcurrent  Thanks for pointing this out. We'll add this change to the next release.

[2019-06-17 12:53] salmamali commented on #306
@GlisboaDev We can't seem to reproduce this with your integration code. Would it be possible for you to create a simple app that has this issue?

[2019-06-18 15:56] tedcurrent opened #310 "Surveys.getAvailableSurvey() returns unavailable surveys on Android."
Now I'm a bit unsure if this is due to `Instabug-React-Native` package or if it's an Instabug Android SDK issue. If it's an SDK issue, I would love a confirmation. This seems to work as expected on iOS.

### Steps to Reproduce the Problem
1. Create a single new survey with frequency set to "only once for each user"
2. Open survey with `Surveys.showSurveyIfAvailable()` if `Surveys.setAutoShowingEna

[2019-06-18 16:30] tedcurrent commented on #310
I'd also like to note that surveys in `paused` state behave similarly as dismissing the survey. It feels like if the device has ever seen the survey it will always register as available unless the user completes the survey. This is of course impossible for paused and dismissed surveys.

[2019-06-18 16:35] salmamali commented on #307
@tedcurrent fixed in version 8.4.1

[2019-06-18 16:35] #307 closed

[2019-06-18 16:35] salmamali commented on #308
@tedcurrent fixed in version 8.4.1

[2019-06-18 16:35] #308 closed

[2019-06-18 16:36] salmamali commented on #310
@tedcurrent Thank you for the detailed report! This is probably an Android SDK issue. Will transfer this to their repo.

[2019-06-19 13:02] salmamali commented on #304
@paomosca @hohien We're having trouble reproducing this. Could you check that the actual synced instabug version is `8.4.0.1` as shown below in Android Studio under `External Libraries`
<img width="1420" alt="Screen Shot 2019-06-19 at 2 55 00 PM" src="https://user-images.githubusercontent.com/10803019/59767675-191a7680-92a3-11e9-86cc-dbb627c57228.png">

[2019-06-20 07:17] paomosca commented on #304
Yes, I can confirm, but i cannot help anymore in debug, because updating react-native to 0.59.9 did the trick for me, so I cannot catch the error anymore. I'm sorry.

[2019-06-20 07:22] HeshamMegid commented on #304
Thanks @paomosca.

@hohien can you please confirm [this](https://github.com/Instabug/Instabug-React-Native/issues/304#issuecomment-503550846)?

[2019-06-20 08:01] hohien commented on #304
@HeshamMegid  I have updated to the new version 8.4.2, the bug disappeared

[2019-06-20 08:02] #304 closed

[2019-06-20 17:46] GlisboaDev commented on #306
Unfortunately I don't have time to setup a sample app now, since we're paying for the service, I reported it here hoping you'd have a follow up with the support or a fix for it.
What I noticed with the little I looked into, you seem to be sending a notification and waiting for it to trigger the feedback. That notification doesn't seem to be sent or the listener is missing it.

[2019-06-26 09:30] HeshamMegid commented on #306
@GlisboaDev Just letting you know that we're still looking into this. We're having trouble reproducing the issue on our end, but we're trying to figure out what would cause it.

[2019-06-27 07:57] mak12 opened #312 "Android release build fails on Windows"
### Steps to Reproduce the Problem

### Expected Behavior
The build process finishes successfully
### Actual Behavior
The build process throws the following error:

* What went wrong:
Execution failed for task ':instabug-reactnative:upload_sourcemap'.

### Instabug integration code

### SDK Version

### React Native, iOS and Android Versions
0.57.2
### Device Model

### [Optional] Project That Rep

[2019-07-01 13:20] alyezz commented on #312
@mak12 thanks for reporting this, we're currently working on a fix.

[2019-07-03 12:02] alyezz commented on #312
@mak12  We just Release 8.4.3. Update and let us know if you have any issues

[2019-07-03 12:03] alyezz commented on #306
@GlisboaDev   We just Release 8.4.3. Update and let us know if you have any issues

[2019-07-03 12:07] #312 closed

[2019-07-03 12:08] #306 closed

[2019-07-04 05:09] kenvunz opened #314 "NetworkLogger.setEnabled(false) doesn't seem to work"
### Steps to Reproduce the Problem
- Add the code below to `index.js`
[code]
- Shake the device and select "Report a problem"
- Review the message on `https://dashboard.instabug.com`

### Expected Behavior
- No network request details being logged and display on dashboard

### Actual Behavior
- Network request  details still appear on the dashboard

### Instabug integration code
[code]

### SDK Ve

[2019-07-04 09:02] Joao360 opened #315 "'NSInvalidArgumentException unrecognized selector sent to instance' after upgrading from 2.13.3 to 8.4.2"
### Steps to Reproduce the Problem

Report problem on iOS

### Expected Behavior

Report problem successfully

### Actual Behavior

Crashing when pressing the send button

### Instabug integration code

`Instabug.startWithToken(<TOKEN>, [Instabug.invocationEvent.screenshot])`

### SDK Version

8.4.2

### React Native, iOS and Android Versions
- React Native 0.58.6
- iOS 12.3.1

### Device Model

i

[2019-07-04 09:07] alyezz commented on #314
@kenvunz There might be some cashed network logs that are causing this issue, try running `Instabug.clearLogs();` only once then remove it and try again.

[2019-07-04 10:24] alyezz commented on #315
@Joao360 you can do the unlinking/linking steps manually by following our [documentation](https://docs.instabug.com/docs/react-native-integration#section-manual-linking). You can do the steps in reverse to unlink, then redo them to link.

[2019-07-04 12:36] Joao360 commented on #315
@alyezz just did that, still got the same error when trying to submit a report.

[2019-07-04 13:35] alyezz commented on #315
@Joao360 Can you please provide us with the following:

1) The native iOS instabug module version which can be found under : `node_modules/instabug-reactnative/ios/Instabug.framework/Info.plist`. You should find it under `Bundle versions string, short`.

2) Any other instabug integration code you use.

[2019-07-04 14:42] Joao360 commented on #315
@alyezz here's the requested info:

- iOS instabug module version 8.4

integration code:
[code]

I also found out that if I run the app without attaching it to Xcode, reporting a problem works fine.

[2019-07-05 02:29] kenvunz commented on #314
@alyezz your suggestion works! thanks for your help

[2019-07-05 02:29] #314 closed

[2019-07-05 20:35] GlisboaDev opened #316 "Crash on IBGNetworkLog"
We're having crashes from `IBGNetworkLog+CoreDataClass.m:126` with a message `-[__NSCFConstantString allKeys]: unrecognized selector sent to instance`.

We don't use any extra feature for the network logging, so all the settings are the default.

### Steps to Reproduce the Problem
Unknown, happens randomly to our users.

### Expected Behavior
Not crash the app.

### Integration code
[code]

### SD

[2019-07-07 10:00] HeshamMegid commented on #316
@GlisboaDev we're looking into this issue. In the meantime, do you have a full stack trace including all threads?

[2019-07-08 09:42] alyezz commented on #315
@Joao360  We just Release 8.4.4. Update and let us know if you have any issues

[2019-07-08 09:43] alyezz commented on #316
@GlisboaDev We just Release 8.4.4. Update and let us know if you have any issues

[2019-07-08 16:21] Jaraujo6 opened #319 "React Native 0.60 rnpm and autolinking issues"
### Steps to Reproduce the Problem
run ```npm i react-native@latest``` to upgrade to react native 0.60
then run ```react-native run-android```

### Expected Behavior
app will open

### Actual Behavior
compile error:
[code]
[code]

### Instabug integration code

new RNInstabugReactnativePackage.Builder("token",MainApplication.this)
            .setInvocationEvent("button")
            .setPrimaryCo

[2019-07-08 18:15] GlisboaDev commented on #316
@HeshamMegid That's all the log I had.
@alyezz will update it and reopen the ticket if I see the issue again, thanks

[2019-07-10 15:19] alyezz commented on #319
@Jaraujo6 we are currently looking into this, in the mean time can you please send us the complete stack trace

[2019-07-10 16:17] Jaraujo6 commented on #319
Thanks for your assistance @alyezz !
Unfortunately there is no stack trace. The both warnings appear immediate after running ```react-native run-android``.

[2019-07-10 19:12] Jaraujo6 opened #321 "React Native 0.60 Android Compile Issues"
### Steps to Reproduce the Problem
run ```react-native run-android```

### Expected Behavior
app runs

### Actual Behavior
Compile error:
[code]

### Instabug integration code

[code]
### SDK Version

8.4.2

### React Native, iOS and Android Versions
RN 0.60.0
[code]
### Device Model

### [Optional] Project That Reproduces the Issue

[2019-07-10 20:55] andrewheekin opened #322 "Android: Task :app:preDebugBuild FAILED (Could not find com.instabug.library:instabug:8.4.0.2.)"
### SDK Version
8.4.4

### React Native, iOS and Android Versions
RN 0.59

### Device Model
Android

getting the following error on android:

[code]

[2019-07-11 09:11] alyezz commented on #322
@andrewheekin we've switched away from Maven to our own repo available at https://sdks.instabug.com/nexus/repository/instabug-cp

Unlinking and linking again should add this automatically to your build.gradle file. You can also add it manually. Let me know if you have any issues with this.

[2019-07-11 09:59] #322 closed

[2019-07-11 15:37] GlisboaDev commented on #316
Still happening on `8.4.4`

got the following logs:
[code]

[code]

[2019-07-11 15:53] HeshamMegid commented on #316
@GlisboaDev thanks for the stack trace. We're looking into it.

[2019-07-11 21:20] alyezz commented on #321
@Jaraujo6 we just release v8.5.0 which supports React Native 0.60. You can check out the migration guide [here](https://github.com/Instabug/Instabug-React-Native/blob/master/README.md#updating-to-version-85)

[2019-07-11 21:22] alyezz commented on #319
Duplicate of #321

[2019-07-11 21:22] #319 closed

[2019-07-11 21:26] alyezz commented on #316
@GlisboaDev we just release 8.5.0 the issue is fixed there.

The problem was that in some cases, `xhrNetworkInterceptor` library we use returned empty headers when trying to get the response's headers. We added some defensive coding to prevent this issue from happening again.

[2019-07-12 12:55] mattetre commented on #315
@Joao360 did 8.4.4 work for you? We just updated to 8.4.4 and we are seeing this issue

[2019-07-12 13:00] alyezz commented on #315
@mattetre  we just release 8.5.0 the issue is fixed there.

The problem was that in some cases, `xhrNetworkInterceptor` library we use returned empty headers when trying to get the response's headers. We added some defensive coding to prevent this issue from happening again.

[2019-07-12 13:05] Joao360 commented on #315
@alyezz @mattetre , still didn't have a chance to test it, but will surely give you feedback when I do, thank you for the help!

[2019-07-12 14:17] mattetre commented on #315
@alyezz does 8.50 require react native 0.60? We haven't upgraded yet (waiting on some of our Android dependencies to move to AndroidX)

[2019-07-12 14:20] alyezz commented on #315
@mattetre no it doesn't require React Native 0.60

[2019-07-14 08:43] #315 closed

[2019-07-14 08:44] HeshamMegid commented on #316
Closing this for now. Please reopen this issue if you're still seeing the crash on v8.5.

[2019-07-14 08:45] HeshamMegid commented on #321
Closing this for now. @Jaraujo6 feel free to reopen if you're having any issues with v8.5 on React Native 0.60

[2019-07-14 08:45] #321 closed

[2019-07-14 08:56] mattetre commented on #315
Thanks @alyezz, 8.5.0 seems to fix the issues!

[2019-07-15 10:02] leethree commented on #298
I don't see yarn will fix the issue anytime soon. is there anything we can do to workaround this issue other than nuke `node_modules` folder?

[2019-07-15 14:33] EJohnF opened #327 "Impossible to add to pod project"
### SDK Version
8.5.0

### React Native, iOS and Android Versions
react-native 0.56

It's building time problem. When I follow setup steps, after react-native link I've got new line in pod file
Then I run pod install
and it show this error:
`[!] The 'Pods-quarters' target has frameworks with conflicting names: instabug.framework.`

I was struggling around for a long time. But solution for me was t

[2019-07-15 14:40] alyezz commented on #327
@EJohnF since you're using pods anyway, can you try deleting the framework in the following path `node_modules/instabug-reactnative/ios/instabug.framework` and then run pod install again

[2019-07-15 15:05] EJohnF commented on #327
@alyezz yes, then pod install finish successfully

[2019-07-15 15:10] #327 closed

[2019-07-15 15:26] Jaraujo6 commented on #321
It works with android/RN 0.60 with no issues. Thanks guys!

[2019-07-15 15:33] EJohnF commented on #327
But this is still a problem... It requires to remove it after each modules installation

[2019-07-15 15:50] alyezz commented on #327
@EJohnF yes, unfortunately there is no other way for us to support pre RN 0.60, cocoapods and non cocoapods projects, we will eventually migrate to React Native 0.60 and remove the framework from our side.

[2019-07-17 13:30] otajor commented on #327
Shouldn't this be added to the readme? I just encountered the same thing by following the pod install instructions and had to look through here to find this solution.

Happy to make a PR if it would be accepted.

[2019-07-17 13:42] alyezz commented on #327
@otajor we're currently looking into a solution to eliminate the need for this extra integration step

[2019-07-18 17:29] vyrin opened #330 "App hangs when calling startWithToken and then immediately calling console.log"
### Steps to Reproduce the Problem

Call Instabug.startWithToken
Soon afterwards call console.log()

Example code:

[code]
### Expected Behavior

Instabug starts as expected.

### Actual Behavior

The application hangs in the native layer.

In the case of the example code above the console will log:

[code]
And then hang.

### SDK Version

8.4.4 and 8.5.0

### React Native, iOS and Android Version

[2019-07-19 16:20] pbfrias17 opened #331 "Tried to override RNInstabugReactnativeModule (autolinked?)"
### Steps to Reproduce the Problem
I previously had instabug-reactnative installed fine, but upon upgrading to RN 0.60 and 8.5.0 (for this package) I'm having issues.
I ran these in the following order `react-native unlink instabug-reactnative`; `yarn remove instabug-reactnative`; `yarn add instabug-reactnative`; (I didn't even run `react-native add-instabug`, which im assuming is for iOS only any

[2019-07-19 23:42] taschik commented on #331
My solution to the problem was by adding this to the `react-native.config.js`:

[code]

This avoids it being linked automatically and takes the manual linked input from your `MainApplication.java`

[2019-07-20 07:22] alyezz commented on #331
@pbfrias17 Since our library supports autolinking, you integration code should be as follows instead

[code]

[2019-07-20 07:36] alyezz commented on #330
@pbfrias17 thanks for reporting this. I was able to reproduce the issue and your theory seems to be correct. We'll include a fix in the next release.

[2019-07-20 16:47] vyrin commented on #330
Awesome. Thanks! We really enjoy using Instabug and appreciate how fast you respond to issues.

[2019-07-21 19:03] pbfrias17 commented on #331
@alyezz Thanks that makes sense. I didn't even think of calling `build()` without adding it to the PackageList.

[2019-07-21 19:03] #331 closed

[2019-07-22 07:16] RZulfikri commented on #312
Hi, I'm facing this issue, I try 8.4.3 and got this error message:

Task ':instabug-reactnative:upload_sourcemap' is not up-to-date because:
  Task has not declared any outputs despite executing actions.
:instabug-reactnative:upload_sourcemap (Thread[Task worker for ':' Thread 2,5,main]) completed. Took 0.001 secs.

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for

[2019-07-22 15:46] alyezz commented on #330
@vyrin We just release 8.5.1, this fix is included in there. Feel free to reopen this if the issue persists.

[2019-07-22 15:46] #330 closed

[2019-07-25 14:51] GlisboaDev opened #343 "Instabug crashes on startup"
We're receiving random crashes from Instabug initialization on our production app. They're random crashes which I don't have the steps to reproduce, but attached the logs we have bellow.

### Steps to Reproduce the Problem
Happens randomly, no specific steps

### Expected Behavior
Not crash the app

### Actual Behavior
Crashes the app on Instabug initialization

### Instabug integration code
[code

[2019-07-25 15:03] HeshamMegid commented on #343
@GlisboaDev thanks for the report. We're looking into it.

[2019-07-26 15:03] GlisboaDev commented on #316
Issue still not fixed.
Just happened again with a different stack. This time it happened with me when shaking to report a bug, then it shows success popup and freezes, then crash
[code]

[2019-07-31 17:34] prasadpilla opened #348 "IOS build fails after integrating"
"react-native": "0.57"
"instabug-reactnative": "^8.5.1"

After installing and linking the package, iOS build doesn't build.

Error: "Can't read property "invocationEventNone" of undefined.

[2019-07-31 20:33] AliAbdelfattah commented on #348
It seems that the linking process has not been done properly. Please follow the steps in the docs to manually link the SDK in iOS and let us know how it goes https://docs.instabug.com/docs/react-native-integration#section-ios

[2019-08-01 09:07] SudoPlz opened #349 "Crashes upon bug upload"
Hi can you please resolve that? Noone can send feedback because the app crashes.

### Steps to Reproduce the Problem

[code]

Instant crash whenever I tap on the submit (airoplane) icon to send a bug report.

### Expected Behavior
Should not crash.

### SDK Version
"instabug-reactnative": "8.4.2",

### React Native, iOS and Android Versions
"react-native": "0.59.9",
iOS 12.4

### Device Model
iPad

[2019-08-01 09:23] HeshamMegid commented on #349
@SudoPlz we're very sorry you're running into this crash. This issue has been fixed in 8.4.4. Please update to the latest version.

[2019-08-01 09:23] #349 closed

[2019-08-01 09:29] HeshamMegid commented on #316
@GlisboaDev sorry, we missed your reply on the closed issue.

Since the top part of the stack trace is identical to the crashes coming from earlier versions, can you please confirm that this stack trace is indeed from version 8.4.4 or above?

In the meantime, we're adding more defensive code from the native side to make sure that when XHR return invalid data to us, this doesn't happen.

[2019-08-01 09:51] SudoPlz commented on #349
Awesome, I'll update, thanks!

[2019-08-02 06:18] prasadpilla commented on #348
@AliAbdelfattah yes, it works after the manual linking, thnaks!

[2019-08-02 06:18] #348 closed

[2019-08-02 12:46] cxrod opened #350 "Add data to manual crash report"
Hi, is there any way to add custom data when a crash is reported manually?

### SDK Version
8.5.1

### React Native, iOS and Android Versions
React Native 0.59.9

[2019-08-02 13:43] cxrod opened #351 "Can't override string "Take a screen recording""
Hi,

There is no string key mapped to override "Take a screen recording" from the chat's attachment options.

### SDK Version
8.5.1

### React Native, iOS and Android Versions
0.59.9

[2019-08-05 07:25] AliAbdelfattah commented on #351
@cxrod thanks for reporting this. We're looking into it.

[2019-08-05 13:54] GlisboaDev commented on #316
Yes I checked the version and it's exactly 8.4.4

[2019-08-05 14:02] GlisboaDev commented on #343
@HeshamMegid Any updates on it? This is happening in a huge frequency (282 this weekend.)

[2019-08-05 14:38] cxrod commented on #351
Also, the key `conversationsHeaderTitle` just mapped on Android.

[2019-08-05 16:33] AliAbdelfattah commented on #350
Hey @cxrod, have you tried `Instabug.onReportSubmitHandler`?

Example:
[code]

[2019-08-05 17:20] GlisboaDev commented on #343
Not sure if it's exactly the same problem, but just noticed this when debugging the app locally:
[code]
And I always get this stack exactly on the line:
`[Instabug startWithToken:@"" invocationEvents:IBGInvocationEventShake];`

[2019-08-06 13:00] HeshamMegid commented on #316
Sorry for the confusion here. As @alyezz mentioned, the issue was fixed in 8.5, not 8.4.4

I've referenced the wrong version above. Please update to the latest version which includes this fix.

[2019-08-06 13:00] #316 closed

[2019-08-06 13:06] HeshamMegid commented on #343
@GlisboaDev the stack trace you shared is coming from the Core Motion framework. It's a bug in the framework that Apple has acknowledged, and it's safe to ignore. More details [here](https://github.com/Instabug/Instabug-iOS/issues/298#issuecomment-485663403).

We're still working on a fix for the other issue. We're sorry it's taking that long.

[2019-08-06 14:02] GlisboaDev commented on #316
Are you sure of this @HeshamMegid ? According to your changelog it's on `8.4.4`

[code]

[2019-08-07 21:15] cxrod commented on #350
@AliAbdelfattah Thanks for you feedback! As I understand that function is executed in each report, correct? What I am looking for is a way to add meta data to reportJsException.

[2019-08-08 13:09] prasadpilla opened #357 "Instabug.show() doesn't do anything in Android"
### Steps to Reproduce the Problem
Show Instabug in Javascript manual method, Instabug.show() in Android

### Expected Behavior
It should show instabug dialogue

### Actual Behavior
Nothing is happening, no logs in the console as well.

### Instabug integration code
new RNInstabugReactnativePackage.Builder(token, MainApplication.this)
                            .setInvocationEvent("shake", "butto

[2019-08-08 14:44] HeshamMegid commented on #350
@cxrod can you give us an example of the type of data you want to add to the reported exception?

[2019-08-08 14:49] HeshamMegid commented on #357
@prasadpilla we automatically disable the SDK when the app token is incorrect. Can you please double check that the token is correct and has no leading or trailing whitespace?

[2019-08-08 14:51] HeshamMegid commented on #343
@GlisboaDev just letting you know that we fixed this in a1c845ba4c5f71e9ff14d11d8e1bde34e28cf9e0. This fix will be included in the version we are releasing later today.

[2019-08-08 16:33] HeshamMegid commented on #343
We just released v8.5.3 that includes this fix.

[2019-08-08 16:33] #343 closed

[2019-08-08 16:33] HeshamMegid commented on #351
We just released v8.5.3 that includes this fix.

[2019-08-08 16:33] #351 closed

[2019-08-09 09:57] prasadpilla commented on #357
Hey @HeshamMegid , thanks for your quick response. I didn't change the token, but it got fixed after I fixed a few other issues in the build. But unfortunately, I don't have a specific root cause.

[2019-08-09 09:57] #357 closed

[2019-08-09 22:15] SudoPlz opened #359 "Instabug.setFloatingButtonEdge is not a function"
Instabug.setFloatingButtonEdge is not a function

It's super simple, just try to use that, you'll see there's no implementation any more.
Please fix it.

### Steps to Reproduce the Problem
`Instabug.setFloatingButtonEdge(...)`

### Actual Behavior
Crash

### SDK Version
"instabug-reactnative": "^8.5.3",

### React Native, iOS and Android Versions
"react-native": "0.59.9",

### Device Model
iOS Sim

[2019-08-09 22:40] SudoPlz commented on #359
Fix: https://github.com/Instabug/Instabug-React-Native/pull/360

[2019-08-10 01:24] alyezz commented on #359
@SudoPlz Thanks for reporting this, we're looking into it and will release a hotfix soon

[2019-08-10 10:22] alyezz commented on #359
@SudoPlz we just release 8.5.4 fixing this issue. Feel free to reopen this if you have any issues.

[2019-08-10 10:22] #359 closed

[2019-08-14 11:07] jacquesdev opened #362 "TypeError: Invalid param, Expected String"
### Steps to Reproduce the Problem
Pass in an empty string
Instabug.setUserAttribute('anykey', '')

### Expected Behavior
I would expect it to either accept an empty string or to have a better error because it should be a value error, in this case, assuming Instabug does not want to accept an empty string.

### Actual Behavior
TypeError: Invalid param, Expected String

### Instabug integration cod

[2019-08-14 17:23] cxrod commented on #350
Usually is a string, some object that may be involve in the crash parsed as JSON

[2019-08-15 09:44] predbjorn opened #363 "Change lintOption => abortOnError to false"
### Steps to Reproduce the Problem
build latest with react

### Expected Behavior
build success

### Actual Behavior

Ran lint on variant debug: 2 issues found
Ran lint on variant release: 2 issues found
Wrote HTML report to file:/// xxx /node_modules/instabug-reactnative/android/build/reports/lint-results.html
Wrote XML report to file:/// xxx /node_modules/instabug-reactnative/android/build/repor

[2019-08-19 17:35] nasmuris opened #365 "IBGpreSendingHandler is not a supported event type for InstabugReactBridge"
Hi, it seems that setting `onReportSubmitHandler` is not possible anymore, while not stated in docs?

### Steps to Reproduce the Problem
```Instabug.onReportSubmitHandler(() => { foo() });```
### Expected Behavior
should be working just fine as it did in previous versions
### Actual Behavior
red error screen: ```IBGpreSendingHandler is not a supported event type for InstabugReactBridge. Supported

[2019-08-19 18:07] AliAbdelfattah commented on #365
@nasmuris, thanks for reporting this. We're looking into it.

[2019-08-20 10:41] HeshamMegid commented on #362
Thanks for reporting this. We're looking into it and will get back to you soon.

[2019-08-20 13:35] AliAbdelfattah commented on #350
@cxrod, unfortunately, we currently don't have a way to directly attach data to the API `reportJsException`. However, you can use other APIs to achieve what you need.

[code]

[2019-08-20 14:06] HeshamMegid commented on #350
Closing this for now. Please feel free to reopen if you have any more questions.

[2019-08-20 14:06] #350 closed

[2019-08-20 16:09] AliAbdelfattah commented on #363
Hey @predbjorn, while I'm unable to reproduce this error, it seems from the error message that you're using the deprecated API `Instabug.setAutoScreenRecordingEnabled`. Please give `BugReporting.setAutoScreenRecordingEnabled` a shot and let us know if you're still having errors.

[2019-08-20 16:09] #363 closed

[2019-08-21 16:34] AliAbdelfattah commented on #365
@nasmuris, we're sorry you ran into this error. It's been fixed now in v8.5.6.

[2019-08-21 16:34] #365 closed

[2019-08-21 16:35] AliAbdelfattah commented on #362
The issue has been fixed in v8.5.6.

[2019-08-21 16:35] #362 closed

[2019-08-21 23:43] plowman opened #369 "upload_sourcemap.sh could use some love"
Hey there. Apologies for not using the template. This is more of a feature request. Right now there are a bunch of deficiencies with upload_sourcemap.sh. Among them:
1. The script doesn't wait until it has an app token before compiling the sourcemap, meaning your build wastes easily 15-30 seconds creating a sourcemap it cannot possibly use.
2. If you have different staging/prod instabug instances

[2019-08-22 10:44] tedcurrent opened #370 "Instabug hijacking main thread on Modal open after Instabug 8.4.0"
Modal opens have started to lag since `instabug-react-native` 8.4.0. Reverting to 8.3.4 seems to fix the issue. Please see screenshots and videos below.

### Steps to Reproduce the Problem
1. Install `instabug-react-native` 8.4.0 or newer
2. Add a RN Modal with animation (easiest to use `react-native-modal`)
3. Open the modal

### Expected Behavior
Modal open should animate smoothly.

### Actual B

[2019-08-24 01:08] AliAbdelfattah commented on #370
Thank you for reporting this. We're looking into it.

[2019-08-26 09:38] HeshamMegid commented on #369
@plowman thank you for pointing these out.

PRs are always welcome, but we're actively working on improving this and planning to address those issues in future releases.

I'll keep this issue open for further discussion about this as we work on it more.

[2019-08-27 08:01] e55o opened #374 "Instabug is hanging the app on the first fresh load"
### Steps to Reproduce the Problem

We are currently using Instabug-reactnative v. 8.4.2
On android and when you freshly install the app for the first time, the instabug thread is hanging on `Allow <APP_NAME> to access you media`, if you do not click on `Allow` or `Deny` within 2 seconds, the main thread of the app is hanging, you need to kill the process and open the app again. (it stays on the l

[2019-08-27 09:20] HeshamMegid commented on #374
@e55o we're looking into this and will get back to you soon.

[2019-08-27 09:36] HeshamMegid commented on #374
@e55o we're currently working on a fix for this.

I'm transferring the issue to our Android repo since this is an issue in our native Android SDK.

[2019-08-27 14:51] alyezz commented on #369
@plowman We included fixes/improvements for all of the above mentioned cases here: #375

Fell free to reopen this if you still have any concerns

[2019-08-27 14:51] #369 closed

[2019-08-28 10:58] OleksandrKucherenko opened #377 "Bug! version 8.6.1.0 does not exist, should be 8.6.1 instead"
https://github.com/Instabug/Instabug-React-Native/blob/018081bb91875cb75343cad997e49da8bf6fbd1f/android/build.gradle#L30

this line produce error during the compilation.

[2019-08-29 02:06] AliAbdelfattah commented on #370
@tedcurrent, here’s an ad-hoc build of the SDK that has a different method of capturing screenshots for Repro Steps that solves the performance issue you’re facing. Please let us know how this build performs as we are currently testing it out before shipping it to production.

You can install it by running:
[code]

[2019-08-29 08:48] jacquesdev opened #378 "Crashing on Android"
I updated to version 8.6.1 of the plugin (from 8.5.1). I uploaded to beta on the Google Play Store, and getting crash reports related to instabug

### SDK Version
8.6.1

### React Native, iOS and Android Versions
[code]
### Device Model
 Android 8.0.0
 Galaxy S7

[code]

[2019-08-29 08:53] AliAbdelfattah commented on #378
@jacquesdev thanks for reporting this. We're looking into it.

[2019-08-29 08:59] AliAbdelfattah commented on #378
@jacquesdev would you be able to send the full stack trace, please? It'd definitely help us a lot.

[2019-08-29 09:12] jacquesdev commented on #378
![Screenshot 2019-08-29 at 10 11 53](https://user-images.githubusercontent.com/7842197/63927369-766e3900-ca45-11e9-8d1b-e0c5400f7b17.png)

I can try sending more, but hopefully, this does the trick?

[2019-08-29 09:39] HeshamMegid commented on #377
@OleksandrKucherenko we've switched away from Maven to our own repo available at https://sdks.instabug.com/nexus/repository/instabug-cp

Unlinking and linking again should add this automatically to your `build.gradle` file. You can also add it manually.

Feel free to reopen the issue if you're still having trouble with this.

[2019-08-29 09:39] #377 closed

[2019-08-29 11:44] AliAbdelfattah commented on #378
@jacquesdev that should do it, thank you!

While our Android team investigates the issue, we have a few questions that'll help us narrow down the root cause.

1. Is it happening consistently and still reproducible?
2. Are there specific steps we can follow to reproduce the issue? (Sample code would be perfect)
3. Are there other devices and OS versions (other than Galaxy S7 on Android 8) on which

[2019-08-29 12:00] tedcurrent commented on #370
@AliAbdelfattah Thanks a lot! We'll get to testing this tomorrow! Superb :)

[2019-08-30 06:22] OleksandrKucherenko commented on #377
I think you don't get it... version 8.6.1.0 does not exists in repository exists only 8.6.1

When gradle try to resolve the dependency it fails. And it does not depend on repository hosting.

8.6.1 != 8.6.1.0 in Gradle terms

<img width="1340" alt="Screenshot 2019-08-30 at 08 21 07" src="https://user-images.githubusercontent.com/6419758/63997593-3cfa0400-caff-11e9-88f1-33e9e8ab43a2.png">

[2019-08-30 06:32] OleksandrKucherenko commented on #377
@HeshamMegid ^ read comments please, and than re-open bug please

[2019-08-30 06:58] HeshamMegid commented on #377
@OleksandrKucherenko the screenshot you have is from the Maven Central repo. As I mentioned above, we've switched away from Maven Central to our own repo. When you add the custom Maven repo URL to your `build.gradle` file, Gradle will be able to resolve version 8.6.1.0.

[2019-08-30 07:04] OleksandrKucherenko commented on #377
Still, a bug. If you on purpose did this, then in gradle file should be registered custom repository. By default android gradle scripts know google, jcenter, mavenCenter repositories.

[code]

[2019-08-30 07:07] HeshamMegid commented on #377
I'm not sure I understand. You're not able to resolve version 8.6.1.0 after adding the custom Maven repo using the snippet you mentioned above?

[2019-08-30 07:21] OleksandrKucherenko commented on #377
I have an active project, I update the version of the module and it start fail.

So in two words: new version broke the build pipeline. Of course, I found solution in 30 seconds, but I'm confused that latest version break pipeline. Like nobody is interested in "smooth" version upgrades.

I point u on bug, so just apply the change and fix it.

Bug is in broken upgrade flow.

[2019-08-30 07:39] HeshamMegid commented on #377
We definitely don't want to break builds for anyone updating from one Instabug version to another. We're not aware of any way to solve this issue automatically since the custom repo has to be in the app-level `build.gradle`, so we do our best to make those build-breaking changes visible in our changelog and upgrade guide on the repo's readme.

I'd love to know if you have suggestions on how to mak

[2019-08-30 08:41] jacquesdev commented on #378
Hi @AliAbdelfattah

So we are a small team and haven't seen it ourselves, but as soon as we released our new version to beta (we have about 500 users testing the app for us on beta), we immediately started seeing this issue in our crash logs.

I'll attach some screenshots that show the breakdown by devices, just to show it's happening across a variety of devices and OS versions.

![Screenshot 2019

[2019-08-30 20:48] SudoPlz opened #380 "BugReporting.setPromptOptionsEnabled is not a function. (In 't.BugReporting.setPromptOptionsEnabled(!1,!0,!0)', 't.BugReporting.setPromptOptionsEnabled' is undefined)"
Hi, why is the app crashing when I'm running:
`BugReporting.setPromptOptionsEnabled(false, true, true);`
?

Thanks

### Steps to Reproduce the Problem
[code]

### Expected Behavior
No crash

### Actual Behavior
Crash

### Instabug integration code

[code]

### SDK Version
"instabug-reactnative": "^8.5.6",

### React Native, iOS and Android Versions
"react-native": "0.59.9",
Android various OS leve

[2019-08-30 22:44] AliAbdelfattah commented on #380
Hi @SudoPlz, `BugReporting.setPromptOptionsEnabled` has been deprecated for a while now, we've removed it in v8.6 to be in sync with our native SDK.

Please check the migration guide [here](https://docs.instabug.com/docs/react-native-sdk-8-6-migration-guide). We apologize if this has caused any inconvenience.

[2019-09-02 06:26] tedcurrent commented on #370
@AliAbdelfattah Alright I tested it properly this time. We can still see a slight ~60ms delay in the timing logs, which does cause a small jank, but it's definitely better. It's good to know that we can pinpoint it to repro steps, helps a ton!

Here's a comparison with the adhoc build

Adhoc build (Repro steps enabled):
![with-adhoc-build](https://user-images.githubusercontent.com/7895034/64093838

[2019-09-02 09:21] HeshamMegid commented on #370
@tedcurrent thanks a lot for testing it out and for the comparison. We're looking into ways to optimize this even more and for better support for Repro Steps on React Native. As a temporary workaround, you can disable Repro Steps for now.

I'll close this issue for now, but please feel free to reopen it if you need to discuss it more.

[2019-09-02 09:21] #370 closed

[2019-09-02 09:33] HeshamMegid commented on #370
@tedcurrent actually, since we haven't been able to reproduce the slow performance you're getting, it would be really helpful if you could send us a dump of the view hierarchy of the view controller you're presenting that has the performance issue.

You can do this by pausing the Xcode debugger and typing `po [[UIWindow keyWindow] recursiveDescription]` into the console, or if you prefer, you can

[2019-09-02 12:33] SudoPlz commented on #380
@AliAbdelfattah Is there any list of deprecated commands anywhere?

I need to make sure I don't have anything else that needs to be changed.

[2019-09-02 12:33] #380 closed

[2019-09-02 12:44] HeshamMegid commented on #380
@SudoPlz In addition to the v8.6 migration guide mentioned above, please check the [v8.1 migration guide](https://docs.instabug.com/docs/react-native-sdk-8-1-migration-guide).

[2019-09-02 12:49] SudoPlz commented on #380
Thanks, btw there are a lot of typos in those docs..

i.e here, there's no Options method in BugReporting: https://docs.instabug.com/docs/react-native-sdk-8-1-migration-guide#section-setinvocationoptions

[2019-09-02 12:53] HeshamMegid commented on #380
Oh, sorry about that. The correct method is `setOptions`. We're reviewing the rest of the document to make sure it doesn't have any more errors.

[2019-09-02 13:04] SudoPlz commented on #380
Cool, thanks @HeshamMegid

[2019-09-03 17:18] SudoPlz opened #383 "logUserEventWithNameAndParams no longer exists??????? (and complaints about constantly making BREAKING CHANGES)"
Can you PLEAAAAAAAASE stop making **breaking** changes ALL the time?

You keep on making useless changes and break our code constantly, and you don't even bother making it super clear about what changes we need to make on our end.

I understand you may have made poor naming choices in method names in the past (we all do), but even so there are a ton of ways to fix those without breaking the existi

[2019-09-04 06:30] tedcurrent commented on #370
@HeshamMegid thanks for committing time to this!

See view hierarchy dump here:
[logs.txt](https://github.com/Instabug/Instabug-React-Native/files/3572983/logs.txt)

I also noticed from the console that we get this on each modal open:
[code]
So 5 logs on each modal open. This seems to pop up on modals only. Other views don't show such logs.

[2019-09-04 09:10] HeshamMegid commented on #370
@tedcurrent thank you so much! We'll be looking into why this specific view hierarchy is taking a long time to be captured.

[2019-09-04 10:21] HeshamMegid commented on #383
@SudoPlz please accept my apologies for that. I understand how frustrating it can be to have breaking changes when updating dependencies and not easily find documentation for those changes.

Most API changes happen to reflect changes in the product itself and how it’s evolving, while a smaller number of changes happen (as you mentioned) to have a more consistent naming convention that works with e

[2019-09-04 10:28] twilczek opened #385 "Error when building Android: Error: null, Cannot fit requested classes in a single dex file (# methods: 82071 > 65536)"
### Steps to Reproduce the Problem
Build Android app with Instabug linked

### Expected Behavior
The app builds properly

### Actual Behavior
The Android app cannot be built

### Instabug integration code

### SDK Version
    "instabug-reactnative": "^8.6.2",
    "react-native": "0.59.3",

### React Native, iOS and Android Versions
        minSdkVersion = 16

### Device Model

### [Optional] Proje

[2019-09-04 10:28] SudoPlz commented on #383
Cool, so is that removed from the native SDK's as well?
Can I open a PR and add this functionality myself?

Thank you.

[2019-09-04 10:34] alyezz commented on #385
@twilczek can you please send us the build error you're getting?

[2019-09-04 10:47] HeshamMegid commented on #383
@SudoPlz this has been removed from the native SDKs as well. We still have full support for events, but we just dropped the ability to add parameters to them.

[2019-09-04 11:42] twilczek commented on #385
@alyezz
[code]

[2019-09-04 12:16] SudoPlz commented on #383
Got it, so is this for the old instabug versions as well?
I mean can we no longer send event data even if we use old versions of the sdk?

Thanks

[2019-09-04 12:16] #383 closed

[2019-09-04 13:39] alyezz commented on #385
@twilczek Modify the module-level build.gradle file to enable multidex and add the multidex library as a dependency, as shown here:

[code]

[2019-09-04 15:27] alyezz commented on #385
i will close this now, feel free to open it if you have and issues

[2019-09-04 15:27] #385 closed

[2019-09-05 07:28] twilczek commented on #385
Just a note to others -> make sure you modify the android/app/build.gradle not the andorid/build.gradle file

[2019-09-05 08:10] HeshamMegid commented on #383
@SudoPlz yes, that's true. Older version of the SDK will let you send the data but it will be discarded and not visible on the dashboard.

[2019-09-06 21:20] SudoPlz commented on #383
Cool, please make such changes more clear in the future, I'd really appreciate that, thanks.

[2019-09-08 15:54] cxrod opened #387 "[Android] Cannot read property 'invocationEventNone' of undefined"
### Steps to Reproduce the Problem
Follow migration guide to 8.6.3, then build and run application on android.

### Expected Behavior
Successfully run the app on android

### Actual Behavior
Its working fine on iOS but on android Im getting this error.

![image](https://user-images.githubusercontent.com/16138018/64490774-eb582480-d236-11e9-84dd-161ae241e1d6.png)

### Instabug integration code
[cod

[2019-09-09 08:22] alyezz commented on #387
@cxrod This happens when the sdk isn’t linked properly. Make sure you run react-native link instabug-reactnative. If you're still getting this error then something went wrong while linking, you will need to follow the manual linking steps [here] (https://docs.instabug.com/docs/react-native-integration#section-manual-linking)

[2019-09-09 08:42] cihati opened #388 "Update documentation"
I see references to the method `setUserStepsEnabled` throughout different parts of Instabug documentation, but there's no such method. The relevant methods now are `setTrackUserSteps` and `setReproStepsMode`, I think.

[2019-09-09 09:07] HeshamMegid commented on #388
Thanks @cihati for letting us know. We're on it.

[2019-09-09 09:11] HeshamMegid commented on #388
We just updated the docs to reflect the method name changes.

[2019-09-09 09:11] #388 closed

[2019-09-10 14:45] mattetre commented on #387
@alyezz  What is the proper way to initialise with `8.6.3`? The manual instructions you sent still have the `RNInstabugReactnativePackage.Builder` in the `getPackages` method but the upgrade steps say to remove the builder (https://github.com/Instabug/Instabug-React-Native/blob/master/README.md#updating-to-version-863)?

[2019-09-10 17:38] lucidtheory commented on #387
agreed, most upgraded rN packages for rN v .60+ utilize the autolinkng.

The sample project seems to be utilizing autolinking even though it still imports instabug in the `MainApplication.java`

[2019-09-11 07:59] alyezz commented on #387
@mattetre Sorry about that, the proper way is to remove the builder, following this link https://github.com/Instabug/Instabug-React-Native/blob/master/README.md#updating-to-version-863
 I will update the docs right away

[2019-09-11 08:41] mattetre commented on #387
@alyezz I have removed the builder, but now I am receiving the `'invocationEventNone' of undefined` error

[2019-09-11 08:48] mattetre commented on #387
Also when running `react-native link instabug-reactnative` it seems to auto add in the builder to the `MainApplication.java`

[2019-09-11 20:04] rollsroyc3 commented on #387
Also running into this same issue, upgraded to 8.6.2 last week with no issues. But then saw this and liked the idea of cleaning up my build process, but now running into the same invocationEventNone error

[2019-09-11 21:02] alyezz commented on #387
We are aware of this issue and working on a hotfix

[2019-09-11 21:08] elyalvarado opened #392 "Instabug shake doesn't work on Android on app first run"
### Steps to Reproduce the Problem
1. Integrate instabug-reactnative
2. Launch App for the first time
3. Try to shake, and Instabug won't open
4. Minimize the app, and open it again
5. Shake now opens
6. Close the app from the App manager
7. Open the app again, and shake: Instabug won't open

### Expected Behavior
Instabug should open any time, not only after restoring the app

### Actual Behavior

[2019-09-11 21:13] elyalvarado opened #393 "Instabug Custom Initialization configuration ignored on Android"
### Steps to Reproduce the Problem
1. Integrate instabug-reactnative with custom primary color and welcome message mode
2. On second app opening (see #392) Instabug will show the welcome message despite it being disabled.
3. When reporting an Issue the colors passed are ignored

### Expected Behavior
1. Instabug should not show the welcome message if the mode is disabled.
2. Report Alert and dialo

[2019-09-13 11:05] rafalzawadzki opened #396 "Instabug.start(...) does not recognize token as a variable"
### Steps to Reproduce the Problem
Integrate Instabug.

### Expected Behavior
I can use a constant instead of a string to provide the Instabug token, like this:
`Instabug.start(Constants.INSTABUG_TOKEN, [Instabug.invocationEvent.shake]);`

### Actual Behavior
I receive a build error while building Android project:
`Instabug: err: INSTABUG_APP_TOKEN not found. Make sure you've added the SDK initial

[2019-09-13 11:44] alyezz commented on #396
@rafalzawadzki The error you are getting is from the script that automatically generates and uploads the sourcemap files to your dashboard for crash symbolication. You can simply add `INSTABUG_APP_TOKEN` as an environment variable with your token.

[2019-09-13 16:16] WillyRamirez opened #397 "Manual linking steps -> react-native link not working"
Hi, the react-native link command is not working for me (local issue). Could you please point me to the documentation containing the manual linking steps for both ios and android?

[2019-09-13 16:17] alyezz commented on #397
@WillyRamirez Here you go https://docs.instabug.com/docs/react-native-integration#section-manual-linking

[2019-09-13 16:17] #397 closed

[2019-09-13 16:57] nasmuris opened #398 "BugReporting.show() not supported"
Hello,
I've discovered some problems with `BugReporting.show()` method in version 8.6.3
`index.d.ts` definitions:
[code]

while `index.js` has only `show()` method, when using it with no parameters, I'm getting
```Argument 0 (IBGBugReportingReportType) of IBGBugReporting.show must not be null```
Tested with iOS, but after checking the sourcecode, I assume the same behavior on android

[2019-09-14 01:10] plowman opened #400 "ANR Triggered by InstabugAnnouncementSubmitterService"
### What I'm seeing
<img width="620" alt="instabug_anr" src="https://user-images.githubusercontent.com/148066/64901428-f43d6180-d64d-11e9-88d1-829f9791c41a.png">

Right now in the "ANR" view of the Google Play Console, it seems like basically all of our users are seeing this problem where the app freezes when it starts and an Instabug service is to blame. **Even stranger**: I only see this issue w

[2019-09-15 07:39] HeshamMegid commented on #400
@plowman thanks for all the details! We haven't seen anything like this before. We're looking into it and we'll get back to you ASAP.

[2019-09-15 07:41] HeshamMegid commented on #398
Thanks for the report. We're on it.

[2019-09-15 07:53] HeshamMegid commented on #387
Unfortunately, we’ve found an issue in v8.6.3 related to initializing the SDK from Javascript that slipped our testing. We just released v8.6.4, rolling back the changes related to initialization that were included in v8.6.3. This means you’ll have to add the Builder snippet back to your Java code.

We know how inconvenient this is, so please accept our apologies for that. We’re currently working

[2019-09-15 07:53] #387 closed

[2019-09-15 07:54] HeshamMegid commented on #393
This issue has been fixed in 8.6.4, however, we’ve found an issue in v8.6.3 related to initializing the SDK from Javascript that slipped our testing. v8.6.4 rolls back the changes related to initialization that were included in v8.6.3. This means you’ll have to add the Builder snippet back to your Java code.

We know how inconvenient this is, so please accept our apologies for that. We’re currentl

[2019-09-15 07:54] #393 closed

[2019-09-15 08:33] alyezz commented on #398
@nasmuris I think you are confusing `Instabug.show()` with `BugReporting.show(ReportType, Options)`. The first one invokes the SDK, the latter shows a specific report type (Bug, Feedback, Question). Feel free to reopen this if you have any questions.

[2019-09-15 08:33] #398 closed

[2019-09-16 04:42] alyezz commented on #396
@rafalzawadzki I will close this now feel free to re-open if you have any questions

[2019-09-16 12:45] WillyRamirez commented on #397
@alyezz thanks for pointing me in the right direction. I followed the docs and I ran into the same problem as shown in this thread:
https://github.com/Instabug/Instabug-React-Native/issues/322

I can't comment on the thread anymore as it has been closed. However, the link you posted in that comment is dead. How would i go about installing your own repo to get my instabug to work?
And can this info

[2019-09-16 12:48] alyezz commented on #397
@WillyRamirez you just need to add the following maven repository to your project level gradle

[code]

[2019-09-16 15:12] mcnestrb opened #403 "Application crashing: Instabug getInstance called before Instabug.Builder().build() was called"
### Steps to Reproduce the Problem
Build and open the app.
The app builds successfully on Android but crashes immediately when it is opened with the following error. The app runs successfully with Instabug on iOS

[code]
### Expected Behavior
The application opens and we can use our application
### Actual Behavior
On start-up an error is thrown with the message `Instabug getInstance called before

[2019-09-16 15:15] phiilu commented on #403
I get the same error on Android

[2019-09-16 15:56] alyezz commented on #403
@mcnestrb @phiilu Yes you are correct, since our library supports autolinking, the integration code should be in the `onCreate()` method as follows:
[code]

Since this is just an initialization of the native SDK instead of actually linking the package with react native.

I will update the repo's readme to reflect this change, sorry about that.

[2019-09-16 16:00] mcnestrb commented on #403
This worked perfectly 😄 thanks @alyezz and @phiilu ❤️

[2019-09-16 16:15] #403 closed

[2019-09-17 09:38] cihati opened #405 ":instabug-reactnative:upload_sourcemap taking too long"
:instabug-reactnative:upload_sourcemap step in local Android build in development mode takes quite a bit of time. Is there a way to disable it for local development, or to make it much faster?

Instabug 8.6.4
RN: 0.60.5

[code]

[2019-09-17 09:48] alyezz commented on #405
@cihati Yes you can disable it, (here)[https://github.com/Instabug/Instabug-React-Native#uploading-source-map-files-for-crash-reports]'s how

[2019-09-17 10:07] cihati commented on #405
@alyezz thanks! can you clarify if needs to be build.gradle in android/build.gradle or android/app/build.gradle ?

[2019-09-17 12:38] WillyRamirez commented on #397
Thanks!

[2019-09-17 13:05] alyezz commented on #405
@cihati It needs to be added to the top-level build.gradle

[2019-09-17 13:05] #405 closed

[2019-09-17 13:11] cihati commented on #405
@alyezz I tried it already with no luck, here's my build.gradle

[code]

I tried putting it under buildscript -> ext, inside allprojects, and as a top level key. None of it disabled it the `:instabug-reactnative:upload_sourcemap` task. Would you mind pasting a full build.gradle an example?

[2019-09-17 13:22] alyezz commented on #405
@cihati sure, here's an example
[code]

[2019-09-17 13:51] cihati commented on #405
Unfortunately, I tried this and `instabugUploadEnable = false` had no effect -- the gradle task was triggered anyways.

[2019-09-17 13:59] alyezz commented on #405
@cihati are you sure you are on 8.6.4? because there was an issue with this variable and was just fixed in the latest release. Also, this script is only triggered during release build, is that the case with you?

[2019-09-17 14:04] cihati commented on #405
Yep, I'm sure we are on 8.6.4

And this is for local, development build -- I simply run `react-native run-android`.

[2019-09-17 14:13] alyezz commented on #405
Can you please send me the build.gradle inside `node_modules/instabug-reactnative/android`

[2019-09-17 14:15] cihati commented on #405
[code]

[2019-09-17 14:17] cihati commented on #405
I did run `yarn install` again -- although there's no change to yarn.lock, the file content did change:

[code]

so I'm trying to build again to see if this works.

[2019-09-17 14:23] cihati commented on #405
In any case, it might be beneficial to make the README more explicit @alyezz

[2019-09-17 21:34] Javi opened #406 "Multiple "Warning: Require cycle" messages"
# Steps to Reproduce the Problem
Simply running a build with Instabug enabled

### Expected Behavior
No warnings at all

### Actual Behavior
Several of these appear
![image](https://user-images.githubusercontent.com/4081895/65081248-8e1c4b80-d979-11e9-8b3d-4c2e03fd9540.png)
![image](https://user-images.githubusercontent.com/4081895/65081275-9ffdee80-d979-11e9-8a50-ebc8821aed3e.png)

### SDK Versio

[2019-09-18 10:28] alyezz commented on #406
Thanks for the report. We're on it.

[2019-09-19 22:50] jacquesdev commented on #396
@alyezz - in the example above, @rafalzawadzki is in fact doing one of the options mentioned in the feedback, `Make sure you've added the SDK initialization line Instabug.start Or added the environment variable INSTABUG_APP_TOKEN`

So they have added it to the SDK initialization, but it's not working, and not sure why you are suggesting adding it to the environment.

[2019-09-19 22:58] alyezz commented on #396
@jacqueesdev the script works by looking for the token in the project files and matching to an expression. The expression to be matched requires that the token be written in the same line as the initialization `Instabug.start("example-token", ..`, so in this case he added a constant that contains the token and not the token itself, therefore the script was not able to automatically detect the toke

[2019-09-19 23:02] jacquesdev commented on #396
Can you improve the script so that it's not necessary? Because you are essentially asking users to then preferably store the actual token in the source which is not a good practice. I understand you can set an env variable, but realistically that does not sound like a good solution?

[2019-09-19 23:08] alyezz commented on #396
@jacquesdev you are definitely correct there is always room for improvement here. We try as much as we can to come up with a script that works for everyone. The token may be stored in a separate file with other tokens, in constants or maybe substituted  at build/runtime depending on each user's setup and environment. If you have any improvements in mind feel free to create a PR with it and we'd be

[2019-09-20 08:10] rafalzawadzki commented on #396
@alyezz Please at least make the error more informative... I've wasted almost an hour going through your docs & code, trying to understand why something so trivial does not work.

Figured it totally by accident with a disbelieving: `noooo, they *seriously* did that this way!` on my lips.

Should say:
`INSTABUG_APP_TOKEN not found. Make sure you've added the SDK initialization line Instabug.start *

[2019-09-20 18:59] SudoPlz opened #408 "Attempt to invoke virtual method 'int com.instabug.bug.model.a.i()'"
[code]

### Expected Behavior
No crashes
### Actual Behavior
Crash during app launch

### SDK Version
"instabug-reactnative": "^8.6.2",

### React Native, iOS and Android Versions
"react-native": "0.59.9",
Android 9 API LVL 28

### Device Model
Samsung SM-N975U (maybe happens on other devices too, but the crash report came from this device)

[2019-09-22 09:47] HeshamMegid commented on #396
@rafalzawadzki the error message could definitely be clearer. We'll change it to something more descriptive.

Thanks!

[2019-09-22 09:49] HeshamMegid commented on #408
@SudoPlz thanks for the report. We're looking into it.

[2019-09-22 09:55] #396 closed

[2019-09-22 13:29] HeshamMegid commented on #408
@SudoPlz how frequently are you seeing this crash? Also, can you please share the full crash report?

[2019-09-23 17:20] SudoPlz commented on #408
@HeshamMegid this IS the full stacktrace that bugsnag gives me.

The other information that it gives me are what was going on on each thread at the time of the crash, here's the thread that instabug was running on:

[code]

Also another hint is that the app was paused (background) 1 second before the crash, and then came to the foreground (resumed)

What |  When
-- | --
 | MainActivity 1s before |

[2019-09-23 21:34] danivovich opened #409 "Galaxy S10+ Screenshot Invoke Method Triggering on Scroll"
### Steps to Reproduce the Problem

Android app built with React Native 0.60.0 and instabug-reactnative 8.6.4, using the screenshot method to invoke Instabug, when scrolling a flat list view, the Instabug capture dialog opens

### Expected Behavior

The instabug capture dialog should only open when a screenshot is triggered

### Actual Behavior

The dialog opens whenever a scroll of a flat list is

[2019-09-24 10:27] HeshamMegid commented on #409
@danivovich thanks for the report. A couple of questions:

1. Is this happening only on the Galaxy S10+?
2. Do you have code either in your app or from a 3rd party dependency that captures screenshots of the app while it's running?

[2019-09-24 10:33] HeshamMegid commented on #408
@SudoPlz thanks for the details. We're looking into it.

[2019-09-24 11:48] danivovich commented on #409
@HeshamMegid Thanks for getting back to me.

1. Yes, the only device reporting the issue is the Galaxy S10+ Other Android devices do not seem to be having the issue (for sure not on a Pixel 2XL and Pixel 3a)
2. No, Instabug is the only dependency designed to capture the screen.

[2019-09-24 14:17] saudahmed commented on #406
@Javi which steps did you take to run react-native 0.60.5 with instabug.

The documentation are pretty confusing as I am not even able to integrate simply the SDK

[2019-09-25 05:06] Javi commented on #406
I called this on the JS side
[code]
and this on the android side on the `onCreate` method
[code]

[2019-09-25 11:27] alyezz commented on #406
@Javi we just merged a PR that includes a fix for this #410 and will be included in our next release.

[2019-09-25 11:27] #406 closed

[2019-09-26 11:18] HeshamMegid commented on #409
@danivovich thanks for the details, we'll get back to you soon.

[2019-09-26 21:03] jonczeck opened #412 "iOS Exception - TypeError: Cannot read property 'setShakingThresholdForiPhone' of undefined"
Instabug crashes when setting shaking threshold.

### Steps to Reproduce the Problem

Follow manual install process. https://docs.instabug.com/docs/react-native-integration

### Expected Behavior
..Sets shaking threshold and doesn't throw an exception.

### Actual Behavior
Exception

### Instabug integration code
[code]

### SDK Version
8.7.0

### React Native, iOS and Android Versions
React Nativ

[2019-10-01 19:23] dancomanlive commented on #397
Worked. Auto-linking should be updated. Running > 60 and got this as error message:

[code]

[2019-10-01 21:14] WillyRamirez opened #415 "Could not resolve com.instabug.library:instabug-chat:8.7.0.0."
Hi, followed the manual linking steps mentioned here:
https://docs.instabug.com/docs/react-native-integration#section-android

And got this error when doing a release build on android.

[code]

Here is my build.gradle
[code]

### SDK Version
"instabug-reactnative": "^8.7.0",

### React Native, iOS and Android Versions
"react-native": "0.59.8",

### [Optional] Project That Reproduces the Issue

[2019-10-02 08:32] newah commented on #396
@alyezz  adding INSTABUG_APP_TOKEN in my .env file didn't work. also, I have different tokens for ios/android.

and how is this not enough?
[code]

[2019-10-02 10:13] WillyRamirez commented on #415
this seems to have solved my issue....

https://stackoverflow.com/questions/50389211/android-studio-maven-url-https-jitpack-io-cant-download

[2019-10-02 10:13] #415 closed

[2019-10-07 10:34] AliAbdelfattah commented on #412
Hi @jonczeck, sorry it took us a while to reply. Unfortunately, we're unable to reproduce it on our side. Would it be possible to upload a sample app where this issue is reproducible?

[2019-10-08 15:01] HeshamMegid opened #417 "adding INSTABUG_APP_TOKEN in my .env file didn't work. also, I have different tokens for ios/android."
adding INSTABUG_APP_TOKEN in my .env file didn't work. also, I have different tokens for ios/android.

and how is this not enough?
[code]

_Originally posted by @newah in https://github.com/Instabug/Instabug-React-Native/issues/396#issuecomment-537393269_

[2019-10-08 15:02] HeshamMegid commented on #396
@newah we've missed your reply since the issue is closed. I've your reply to a new issue (#417) so we could continue the discussion there.

[2019-10-09 21:43] AliAbdelfattah commented on #417
Hi @newah, could you please clarify how it's not working? Are you getting any errors upon running `upload_sourcemap.sh` script?

[2019-10-10 04:10] tuannguyen041094 opened #418 "InstaBug.SetStringToKey Instabug.strings.reportBug not working on android"
I have Problem when set up  InstaBug.SetStringToKey with Instabug.strings.reportBug. On IOS it ok but in android it's not right . Please help me resolve this problem.
<img width="732" alt="Screen Shot 2019-10-10 at 11 08 24 AM" src="https://user-images.githubusercontent.com/39692275/66538407-6ec6a780-eb4e-11e9-87cb-eca226d05891.png">

[2019-10-10 15:19] AliAbdelfattah commented on #418
Hi @tuannguyen041094, thanks for reporting this. It seems there's an issue with the relevant locale key in our native Android SDK, we'll look into it.

[2019-10-11 09:10] tuannguyen041094 opened #420 "Recording video on android is not working"
When I use the recording screen in android I have 2 issues:
1. When I finish recording and press stop It is not saved on my form to submit
2. When I  recording the screen a go to report a bug form It's stopped my record and not save on the form either.
Please help me solve this problem

[2019-10-11 12:55] AliAbdelfattah commented on #420
Hi @tuannguyen041094, thanks for reporting this. We're looking into it.

Please fill in the issue template to help us reproduce it and fix it faster.

[2019-10-11 16:50] jonczeck opened #421 "upload_sourcemap cut command only strips double quotes from INSTABUG_APP_TOKEN"
### Steps to Reproduce the Problem
If you use single quotes for your string, the sourcemap script breaks.

This doesn't work:
`Instabug.startWithToken('AppTokenHere', [Instabug.invocationEvent.shake]);`

This does:
`Instabug.startWithToken("AppTokenHere", [Instabug.invocationEvent.shake]);`

If you have prettier or something enforcing single quoted strings, you can work around this issue by puttin

[2019-10-11 16:51] jonczeck commented on #412
I made a blank project and added Instabug to it, and it worked. I'm not sure what the difference is, so I give up on it.

[2019-10-14 03:15] tuannguyen041094 commented on #420
Recording video on android is not working

Steps to Reproduce the Problem:
- Recording and press stop It is not saved on my form to submit
- Recording the screen a go to report a bug form It's stopped my record and not save on the form either.
Expected Behavior
 All recorded video should attach in instabug form.
Actual Behavior
Video must be save in instabug form to submit

SDK Version
8.7.1

Reac

[2019-10-14 08:04] AliAbdelfattah commented on #412
Closing this for now. Please feel free to reopen if you encounter it again.

[2019-10-14 08:04] #412 closed

[2019-10-14 08:08] AliAbdelfattah commented on #421
@jonczeck thanks for reporting this, we're looking into it.

[2019-10-14 09:16] AliAbdelfattah commented on #420
Sorry @tuannguyen041094, we're not able to reproduce it. Could you check if you have enough disk space?

Also, to help us investigate further, we have a couple of questions for you.
- What's the Android version and the device model?
- Does the screenshot attachment appear in the report form?

[2019-10-14 10:32] tuannguyen041094 commented on #420
@AliAbdelfattah We have checked and there is enough space for it.
Our android version is 8.1.0
screenshot attachment appears in report form, but not for recorded video.

[2019-10-14 13:01] AliAbdelfattah commented on #421
@jonczeck we've found the cause of the issue, we've fixed it and it'll be available in the next release. You'll be able to use single quotation marks and won't have to work around it.

[2019-10-14 13:01] #421 closed

[2019-10-14 18:58] AliAbdelfattah commented on #420
@tuannguyen041094 unfortunately, we're still unable to reproduce the issue. Have you tried it across different devices? and please let us know the device model name you're testing on.

It'd also be great if you could provide a sample app where the issue is reproducible.

[2019-10-16 21:47] #417 closed

[2019-10-18 06:13] Akash-T2S opened #425 "null is not a object evaluating IBGBugReporting.show"
### Steps to Reproduce the Problem
Below line added to make comments required.

BugReporting.showWithOptions([BugReporting.option.commentFieldRequired]);

### Expected Behavior

Should make comments field mandatory.

### Actual Behavior

Throws error, null is not an object evaluating IBGBugReporting.show

### Instabug integration code

### SDK Version

8.7.1

### React Native, iOS and Android Vers

[2019-10-18 16:29] AliAbdelfattah commented on #425
@Akash-T2S thanks for reporting this. We're looking into it.

[2019-10-21 13:33] AliAbdelfattah commented on #425
Hi @Akash-T2S, the API `BugReporting.showWithOptions` is missing the first parameter, the report type you're trying to show here; e.g., bug, feedback, question.

Here's an example:
[code]

To set the invocation options for all report types, there's a different API for that:
[code]

Feel free to reopen the issue if it's still throwing an error.

[2019-10-21 13:33] #425 closed

[2019-10-21 19:33] #420 closed

[2019-10-25 18:52] azizuysal opened #426 "React Native - Android compilation fails on SDK v8.7.1 (ReactNative v0.61.2)"
### Steps to Reproduce the Problem
Following the [integration steps](https://docs.instabug.com/docs/react-native-integration) as outlined in your documentation, iOS app seems to work fine but Android app fails to compile.

#### Additional issues:
Probably not needed to resolve the main issue above, but I want to report these as well, hoping you'd fix them too.

1) The various SDK integration instr

[2019-10-27 17:06] AliAbdelfattah commented on #426
@azizuysal thank you for the extensive report!

We're currently working on enhancing the process of updating the docs more consistently across our platforms, we totally understand how frustrating it can be to follow outdated docs. Regarding the update message showing on your dashboard, we've recently fixed an issue related to that, let us know if you're still seeing it.

As for the compilation iss

[2019-11-04 18:26] bscheideldyrt opened #427 "App crash when attempting to show Feature Requests page"
### Steps to Reproduce the Problem
[code]
### Expected Behavior

The feature requests list should be displayed.

### Actual Behavior

[code]

### Instabug integration code
[code]

### SDK Version
8.7.1

### React Native, iOS and Android Versions
[code]

### Device Model
Tested on both iOS simulator and physical devices

[2019-11-05 09:11] alyezz commented on #427
@bscheideldyrt Thanks for the detailed report! we are looking into it

[2019-11-06 11:53] #426 closed

[2019-11-13 16:28] jphilipstevens opened #429 "App Crash using setViewHierarchyEnabled"
# Steps to Reproduce the Problem

run an ios app on a simulator or device

### Expected Behavior
The app loads with the welcome mode

### Actual Behavior
app crashes with an error:
TypeError: IBGBugReporting.setViewHierarchyEnabled is not a function. (In 'IBGBugReporting.setViewHierarchyEnabled(viewHierarchyEnabled)', 'IBGBugReporting.setViewHierarchyEnabled' is undefined)
- node_modules/instabug-

[2019-11-14 09:25] alyezz commented on #429
@jphilipstevens thanks for the detailed report, we're looking into it

[2019-11-14 10:42] alyezz commented on #429
@jphilipstevens we just release a hotfix for that v8.7.3. Please update and feel free to reopen this if you're still facing the issue.

[2019-11-14 10:42] #429 closed

[2019-11-18 14:55] nchase opened #431 "Can you include compiled/transpiled (from ES6) code in the npm package?"
Our test environment runs our compiled/transpiled code, not the source code.

When I include Instabug in a module that is under test, I see this error:

[code]

I think this is because your package.json's `main` points to `index.js` which is the original code.

Is it possible for you to transpile the code and point the `main` to a directory that includes the transpiled code instead?

### SDK Versi

[2019-11-19 15:58] HeshamMegid commented on #431
@nchase, thanks for the report, we're looking into the issue and if we should transpile the code.

In the meantime, would your issue be solved by excluding Instabug from the module being tested?

[2019-11-20 12:01] alyezz commented on #431
@nchase Usually you would want to exclude Instabug as a module from your tests, you can do so in your testing framework, in Jest for example you can use the property `transformIgnorePatterns` in your package.json to exclude Instabug, more info [here](https://jestjs.io/docs/en/configuration#transformignorepatterns-array-string)

[2019-11-20 22:19] nchase commented on #431
Hi Instabug team – We can exclude it manually the way you've described, but since you are a providing a dependency, I think other users will run into this and you may see more of these similar issues as your userbase grows.

Having taken a look at a handful of the other dependencies that we use, all of the dependencies that write their source code as something other than standard ES5 point their `

[2019-11-21 08:09] HeshamMegid commented on #431
What you're saying makes sense. We will be working on that for a future release.

I'll keep this issue open for further discussion related to this till we release it.

[2019-11-21 19:01] SudoPlz opened #432 "Unless a name is there, the user email won't be stored either."
Hey there,

I spent half an hour again trying to debug an issue that I discovered today (users were unidentified, eventhough we were setting their email address).
After debugging your native code I noticed that unless the name of a customer is a non empty string, the email won't be taken into account!

If that is the expected behaviour (I don't see any reason why), at least add it to the docs.

##

[2019-11-24 14:07] HeshamMegid commented on #432
@SudoPlz thanks for the report. We're working on changing the API so that the name parameter would be an optional nullable without affecting whether the email is retained or not.

Will let you know once we release this.

[2019-11-25 15:57] gcottrell1 opened #433 "Strings in index.d.ts do not match index.js"
There are discrepancies between the exported `strings` in `index.d.ts` and `index.js`. For example `index.js` includes `reportQuestionDescription`, but `index.d.ts` does not

### SDK Version

8.7.3
### React Native, iOS and Android Versions
N/A
### Device Model

N/A
### [Optional] Project That Reproduces the Issue

N/A

[2019-11-25 18:19] alyezz commented on #433
@gcottrell1 thanks for the report, we're looking into it

[2019-11-26 11:02] AlexHolubDoIt opened #434 "Crashes on android (samsung J6+)"
Crash on samsung and huawei devices, happens when device is in background. We are using react-native-background-geolocation and react-native-background-uploading, hope this can help to solve the issue

[code]
### Steps to Reproduce the Problem
install intabug from sdk-integration page
### Expected Behavior
app not crashed on android
### Actual Behavior
app is crashed on android
### Instabug integr

[2019-12-02 08:35] alyezz commented on #427
@bscheideldyrt sorry for the late reply, i think this is a React Native issue, updating to the latest version might fix it.

[2019-12-02 08:44] alyezz commented on #434
@AlexHolubDoIt thanks for the report, this issue was fixed will be included in our next release, we'll let you know once it's released

[2019-12-02 08:46] HeshamMegid commented on #427
@bscheideldyrt to expand on what @alyezz is saying, `applyOptionsOnWillMoveToParentViewController` is a [React Native Navigation method](https://github.com/wix/react-native-navigation/blob/6d446a8882f92b82cd01b78992331d66c31b5abf/lib/ios/RNNBasePresenter.m#L38) which it is incorrectly calling on Instabug view controllers. There are similar reports to your issue [on their repository](https://github

[2019-12-02 08:46] #427 closed

[2019-12-02 14:48] alyezz commented on #432
@SudoPlz we just release v9.0.0, this release includes a fix for this issue.

Feel free to reopen this if you still have any issues

[2019-12-02 14:48] #432 closed

[2019-12-02 14:48] alyezz commented on #433
@gcottrell1 we just release v9.0.0, this release includes a fix for this issue.

Feel free to reopen this if you still have any issues

[2019-12-02 14:48] #433 closed

[2019-12-02 14:48] alyezz commented on #434
@AlexHolubDoIt we just release v9.0.0, this release includes a fix for this issue.

Feel free to reopen this if you still have any issues

[2019-12-02 14:48] #434 closed

[2019-12-02 14:51] SudoPlz commented on #432
Perfect, thanks @alyezz

[2019-12-04 08:27] Yuras opened #436 "Bashism in upload_sourcemap.sh"
The `upload_sourcemap.sh` fails because `[[` [here](https://github.com/Instabug/Instabug-React-Native/blob/dbaccb4e448e7c6c1805e27c6a467d60e7bcb160/android/upload_sourcemap.sh#L5) is specific to `bash` and not supported in POSIX `sh`.

The solution could be either to replace bashism with a language construct supported by POSIX `sh`, or actually use `bash` [here](https://github.com/Instabug/Instabu

[2019-12-04 09:41] HeshamMegid commented on #436
Thanks for the detailed report. We're working on a fix.

[2019-12-05 18:13] kimobrian opened #437 "App store rejection"
### Steps to Reproduce the Problem
- Install the library and submit your app to the store.

### Expected Behavior
- The app should be accepted.

### Actual Behavior
- The app is rejected with the following reason.

I did a grep on the ios folder to see any traces of bluetooth and this is one of them:

![image](https://user-images.githubusercontent.com/22055697/70261647-ee19d580-17a3-11ea-8274-5af3

[2019-12-08 00:02] AliAbdelfattah commented on #437
Thanks for reporting this. We're looking into it.

[2019-12-09 10:25] AliAbdelfattah commented on #437
Hi @kimobrian, we don't use _CoreBluetooth_ in our SDK. Also, I was unable to reproduce this on my side using the grep command.

I'd suggest you reinstall node modules and check again:
`rm -rf node_modules && yarn`

[2019-12-11 01:36] ste00martin commented on #426
@AliAbdelfattah could you update the React Native docs on Instabug's website? They don't have this step added in

[2019-12-16 10:40] #437 closed

[2020-01-02 23:17] marcusmolchany opened #442 "Welcome banner showing on Android without starting module"
### Steps to Reproduce the Problem
1. install `instabug-reactnative` on your react native project
2. run on android
3. import the module in whatever your main file is. _DO NOT_ `.start()` or `.startWithToken()` the module

### Expected Behavior
Instabug should not have started. You should not have seen the welcome message ("We are happy to hear your thoughts").

### Actual Behavior
Some part of In

[2020-01-02 23:19] marcusmolchany commented on #442
To shed some more light on the situation, I'm trying to conditionally start Instabug based on whether or no a user is an admin in our system. Based on the API I was hoping I could not `.start()` Instabug until I could check to see the users role. This works on iOS, however on Android I'm running into the issue described above.

[2020-01-03 12:03] alyezz commented on #442
@marcusmolchany the android SDK is initialized in the Application class on the android side therefore there is no way to conditionally start it, If you wish you can disable the welcome message using the API `Instabug.setWelcomeMessageMode(false);` .

[2020-01-03 18:06] marcusmolchany commented on #442
ah, that makes a ton of sense. thanks!

[2020-01-08 00:19] marcusmolchany commented on #442
@alyezz I tried setting that in the javascript code and the welcome message was still showing on Android.

I changed the code in `node_modules/instabug-reactnative/android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java` to match what was said here https://github.com/Instabug/Instabug-React-Native/issues/193#issuecomment-417176631 and that worked. This won't work longterm

[2020-01-08 10:29] alyezz commented on #442
@marcusmolchany Yes you can ass it to the `MainApplication.java` After the builder
`Instabug.setWelcomeMessageState(WelcomeMessage.State.DISABLED);`

[2020-01-08 16:59] marcusmolchany commented on #442
@alyezz do you know the syntax for that? I'm using this react native package and do not have `Instabug` or `WelcomeMessage` namespaces available.

[2020-01-09 10:55] alyezz commented on #442
@marcusmolchany Just add the following imports to the `MainApplication.java`
[code]

[2020-01-09 17:41] marcusmolchany commented on #442
awesome, that worked. thanks so much

[2020-01-09 17:41] #442 closed

[2020-01-14 14:15] pengcao1 opened #443 "How can we disable **Upload Sourcemap** when we build ios app?"
**[21:51:51]: ▸ Running script 'Upload Sourcemap'**  cost more 30 min every times.

Is there anyway to disable this action?

[2020-01-15 08:46] alyezz commented on #443
@pengcao1 Sure, open xcode and go to build phases and remove the entry `Upload Sourcemap`
![Screen Shot 2020-01-15 at 10 45 57 AM](https://user-images.githubusercontent.com/10798072/72418862-576a0c80-3784-11ea-9585-f1d7ffcde60c.png)

[2020-01-15 08:50] pengcao1 commented on #443
Thank your reply.

I also want to customize this `Upload Sourcemap`.

eg:
under QA/UAT, I don't want to upload the sourcemap file to instabug dashboard
under Prod, I want to upload the sourcemap file to the Instabug dashboard.

[2020-01-15 08:58] alyezz commented on #443
@pengcao1 you can expand `Upload Sourcemap` to find:
![Screen Shot 2020-01-15 at 10 56 10 AM](https://user-images.githubusercontent.com/10798072/72419576-c7c55d80-3785-11ea-8a04-1c992fd7819f.png)

Add a check to conditionally run the command  `bash "../node_modules/instabug-reactnative/ios/upload_sourcemap.sh"` based on your Env.

Hope this helps

[2020-01-15 20:25] jjblumenfeld opened #444 "Upgrade 8.0 to 9.0.1: JSON value '0' of type NSNumber cannot be converted to NSArray"
## Steps to Reproduce the Problem
Upgraded existing integration from instabug-reactnative 8.0.26 to 9.0.1
Updated the API methods to the 9.x versions.

### Expected Behavior
Instabug would launch without errors.

### Actual Behavior
Instabug Launches with error:
JSON value '0' of type NSNumber cannot be converted to NSArray

+[RCTConvert NSArray:]
    RCTConvert.m:54
__41-[RCTModuleMethod processM

[2020-01-20 08:59] alyezz commented on #444
@jjblumenfeld the following API was changed:
Old usage:
`BugReporting.setReportTypes(false, true, true);`

Instead it now accepts an array of report types that you want

New usage:
`BugReporting.setReportTypes([
      BugReporting.reportType.bug,
      BugReporting.reportType.feedback,
      BugReporting.reportType.question
    ]);`

feel free to re-open this if you still have any issues/ question

[2020-01-20 08:59] #444 closed

[2020-01-20 09:30] bscheideldyrt opened #445 "App Crash when replying to an in app message from Instabug"
### Steps to Reproduce the Problem

1. Open App and send bug report to Instabug
2. Open Instabug.com and find bug report
3. Click on 'View conversation'
4. Enter message and click 'Send'
5. Open App and view message
6. Enter reply and send

### Expected Behavior

Reply is viewable in the conversation on Instabug.com

### Actual Behavior

App crashes with:

[code]

### Instabug integration code

[c

[2020-01-20 09:30] bscheideldyrt opened #446 "App Crash when replying to an in app message from Instabug"
### Steps to Reproduce the Problem

1. Open App and send bug report to Instabug
2. Open Instabug.com and find bug report
3. Click on 'View conversation'
4. Enter message and click 'Send'
5. Open App and view message
6. Enter reply and send

### Expected Behavior

Reply is viewable in the conversation on Instabug.com

### Actual Behavior

App crashes with:

[code]

### Instabug integration code

[c

[2020-01-20 09:57] alyezz commented on #445
@bscheideldyrt thanks for the detailed report! we're looking into it

[2020-01-20 12:08] alyezz commented on #446
duplicate of #427

[2020-01-20 12:08] #446 closed

[2020-01-20 16:03] jjblumenfeld commented on #444
Thanks,.
Do you have more details on the transition from the old usage to new usage?
I don't know what the old usage of (false, true, true) translates to in the
new usage.

On Mon, Jan 20, 2020 at 3:59 AM Aly Ezz <notifications@github.com> wrote:

[2020-01-21 09:04] alyezz commented on #444
@jjblumenfeld so that would translate to `BugReporting.setReportTypes([ BugReporting.reportType.bug, BugReporting.reportType.feedback]);`

[2020-01-21 20:31] jjblumenfeld opened #447 "Android build fails on react-native 0.59.10 instabug 9.0.1"
### Steps to Reproduce the Problem
Trying to build Android app after upgrading to version 9.0.1

### Expected Behavior
Should build.

### Actual Behavior
Build fails with error:

[code]

### Instabug integration code

### SDK Version
9.0.1

### React Native, iOS and Android Versions
0.59.10

### Device Model
Android emulator/Pixel 2 API 28

[2020-01-22 08:52] alyezz commented on #447
@jjblumenfeld can you try adding `tools:replace="android:appComponentFactory` to the <application> tag as suggested?

[2020-01-22 20:38] jjblumenfeld commented on #447
I tried adding:
[code]
into my androidmanifest.xml

Then it error'ed out as:
[code]

[2020-01-22 23:48] jjblumenfeld commented on #447
I fixed this by switching to use androidX.

[2020-01-22 23:48] #447 closed

[2020-01-27 17:15] bscheideldyrt opened #449 "java.lang.NullPointerException: Attempt to invoke interface method 'int android.database.Cursor.getColumnIndex(java.lang.String)' on a null object reference"
### Steps to Reproduce the Problem

Unknown, seeing this error in Sentry logs.

### Expected Behavior

No crashes.

### Actual Behavior

[code]

### Instabug integration code

[code]

### SDK Version
9.0.1

### React Native, iOS and Android Versions
React-Native:  0.61.4
Android: Android 9

### Device Model
Moto Z4

[2020-01-27 17:24] bscheideldyrt opened #450 "android.database.sqlite.SQLiteCantOpenDatabaseException: unknown error (code 1294 SQLITE_CANTOPEN_ENOENT[1294]): Could not open database"
### Steps to Reproduce the Problem

Unknown, seeing this error in Sentry logs.

### Expected Behavior

No crashes.

### Actual Behavior

[code]

### Instabug integration code

[code]

### SDK Version
9.0.1

### React Native, iOS and Android Versions
React-Native:  0.61.4
Android: Android 9

### Device Model
SM-S367VL

[2020-01-28 10:29] alyezz commented on #449
@bscheideldyrt Thanks for the report, how many occurrences did you find? and are you able to reproduce it?

[2020-01-28 10:29] alyezz commented on #450
@bscheideldyrt Thanks for the report, how many occurrences did you find? and are you able to reproduce it?

[2020-01-28 15:57] bscheideldyrt commented on #450
This has been hit by 1 user so far.  We haven't been able to reproduce it.

[2020-01-28 15:58] bscheideldyrt commented on #449
This has been hit by 3 users so far.  We haven't been able to reproduce it.  Can you tell if this is on app boot or when somebody actually tries to log an issue?

[2020-01-29 15:06] alyezz commented on #450
@bscheideldyrt This crash happened upon app termination, we will add some defensive code to prevent it from happening, we will let you know once this is released.

Thanks!

[2020-01-29 15:06] alyezz commented on #449
@bscheideldyrt This crash happened upon app termination, we will add some defensive code to prevent it from happening, we will let you know once this is released.

Thanks!

[2020-02-06 02:57] jd20 opened #454 ""onReportSubmitHandler" fires too early"
### Steps to Reproduce the Problem
Setup a handler like so:

[code]

### Expected Behavior
According to the docs, the handler should be fired right before the report is submitted. If I wanted to collect meaningful info from the report (such as the message entered, tags, attachments, etc...) I'd be able to do so from the `report` param that is passed.

### Actual Behavior
The listener is called as

[2020-02-06 08:25] AliAbdelfattah commented on #454
Hi @jd20, thanks for reporting this. We're looking into it.

[2020-02-06 16:43] AliAbdelfattah commented on #454
Hi @jd20, the purpose of `Instabug.onReportSubmitHandler` is to add your own additional logs to the report before sending it out, the report attributes data represent these additional data. This is why it gets invoked before you actually press Submit. Here's an example:
[code]

Here's the full list of APIs you can invoke before the report is submitted.
<img width="1556" alt="Screen Shot 2020-02-06

[2020-02-06 22:32] jd20 commented on #454
I see that I can push data into the report, what I was looking for was a way to pull out user-entered data from the report when it is submitted. For example, if user entered e-mail or description fields, or added a screenshot / video, there does not seem to be a callback that would give my app access to that information?

[2020-02-15 19:08] AndrewMorsillo opened #455 "The number of method references in a .dex file cannot exceed 64K."
I'm attempting to integrate end to end testing with [Detox](https://github.com/wix/Detox). When attempting to build the test configuration for Android per the docs there, the build fails on the step:

[code]

The strange thing is, I have multiDex enabled and working. The normal debug and release builds of my project work fine. It is only when attempting to build a testing configuration that multiD

[2020-02-15 19:45] AliAbdelfattah commented on #455
Hi @AndrewMorsillo, thanks for reporting this. I've enabled the multidex from our Android side and here's a custom build with the fix. Could you give it a try and let me know if it fixes your issue please?

[code]

[2020-02-15 19:58] AndrewMorsillo commented on #455
@AliAbdelfattah That works! Will multidex be enabled for a future official release?

[2020-02-15 20:52] AliAbdelfattah commented on #455
@AndrewMorsillo glad it worked! We'll definitely include it in the next release.

[2020-02-15 22:48] AndrewMorsillo opened #457 "Crash due to modification of react-native ui operations queue"
I'm not sure if this crash is related to Instabug but it possibly could be. Some thread is modifying the react-native ui operations queue in my app causing a random crash. Is it possible that Instabug is causing the crash described in this pull request?

https://github.com/facebook/react-native/pull/11428

### SDK Version
Latest

### React Native, iOS and Android Versions
[code]

[2020-02-15 23:14] AliAbdelfattah commented on #457
Hi @AndrewMorsillo, would you be able to provide a stack trace from the crash of your app?

[2020-02-15 23:16] AndrewMorsillo commented on #457
@AliAbdelfattah Unfortunately the stack trace doesn't tell us much. It's the same as described in the PR I linked.

[code]

If I'm reading that PR correctly this issue can be caused by any thread other than the UI thread modifying the ui operations queue. I'm really just taking a guess that Instabug might do that based on the functionality.

[2020-02-15 23:56] AliAbdelfattah commented on #457
@AndrewMorsillo Unfortunately, we don't have any calls to `enqueueUIOperation`. I have grepped the whole project including `node_modules` as well as our native Android repo.

[2020-02-16 00:54] #457 closed

[2020-02-16 00:56] #455 closed

[2020-02-18 20:12] AndrewMorsillo opened #458 "logUserEvent may be causing a performance issue"
In profiling a separate issue in my project I noticed that logUserEvent in the Android java code is using a suspiciously high amount of CPU time on the main thread. My users have been complaining of poor performance and I wonder if Instabug may be contributing to that since it seems that logUserEvent is eating up ~12% of CPU time when profiling normal app usage in the emulator.

Our app logs event

[2020-02-18 20:21] AliAbdelfattah commented on #458
Hi @AndrewMorsillo, thanks for reporting this. We're looking into it.

[2020-02-24 07:10] #443 closed

[2020-02-24 07:54] N1ghtly opened #462 "identifyUserWithEmail doesn't work on Android. Works fine for iOS."
### Steps to Reproduce the Problem

Call `Instabug.identifyUserWithEmail("example@mail.com", "")` on startup.

### Expected Behavior
When opening the Bug Reporting modal, email is prefilled.

### Actual Behavior
When opening the Bug Reporting modal, email is empty on Android. works on iOS.

### Instabug integration code

### SDK Version
8.7.1

### React Native, iOS and Android Versions
RN 0.61.5

[2020-02-24 15:45] MikePendo opened #463 "Do you support codeless analytics for screen views"
Is there any support for screen views analytics without code (like in google analytics) for native apps?

[2020-02-24 17:46] AliAbdelfattah commented on #463
No, we don't provide analytics for screen views. However, our SDK can help you with:
- Detecting issues before each release.
- Reproducing and fixing bugs faster while debugging.
- Tracking and ensuring release stability.
- Collecting feedback and validating ideas.
- Driving positive app reviews.

Please let me know if you have other questions regarding the SDK.

[2020-02-24 18:20] AliAbdelfattah commented on #462
Hi @N1ghtly, the issue has been fixed on the latest version, please update your SDK.

Closing the issue now, please feel free to reopen if it still occurs after the update.

[2020-02-24 18:20] #462 closed

[2020-03-01 12:49] AliAbdelfattah commented on #454
@jd20 sorry it took a while to get back to you. Unfortunately, it isn't possible to access this data through the SDK. I'm closing the issue for now, please feel free to reopen.

[2020-03-01 12:49] #454 closed

[2020-03-01 12:50] #463 closed

[2020-03-06 21:30] jonczeck opened #464 "Android build exception in task :app:processDebugResources for React Native 0.61.5 and SDK 9.0.6"
### Steps to Reproduce the Problem
Test repo: https://github.com/jonczeck/instabug-react-native-android-test

1. Init a react-native application with `npx react-native init InstabugReactNativeTest --template react-native-template-typescript` (At the time of writing, that is using react-native 0.61.5)
2. `cd InstabugReactNativeTest`
3. `npm i`
4. Go through steps 1, 2 and 3 at https://github.com/In

[2020-03-06 21:39] alyezz commented on #464
@jonczeck Please change your android compileSDK version to 29

[2020-03-06 21:42] #464 closed

[2020-03-10 11:27] mrarronz opened #467 "java.lang.NullPointerException crashes on Google play console"
**Steps to Reproduce the Problem**

This crash happened on our app, many users have encountered this crash.

**Expected Behavior**
Instabug should not crash

**Actual Behavior**
Crash happened more than 60 times at this moment, we have released the app for 20% rollout, more than 14k install events.

**Instabug integration code**
We have followed the  official document to complete the implementatio

[2020-03-10 11:31] mrarronz commented on #467
I've checked this crash on https://github.com/Instabug/Instabug-Android/issues/249, and then I upgraded the Instabug-reactnative to v9.0.7. Not sure if this crash is resolved because we cannot reproduce it.

And a new problem occurred when I use the record screen function of Instabug. The record video button is not disappeared after video is recorded, it always stays on the top of my app screen, t

[2020-03-10 11:51] alyezz commented on #467
@mrarronz you are correct the crash is fixed on the latest version 9.0.7.

Regarding the recording/capturing button issue, we are unable to reproduce it. Do you have specific reproduction steps or a sample project you could share with us?

[2020-03-10 11:57] mrarronz commented on #467
@alyezz Thank you for your quick response, Here is my screenshot for the button issue. `Contact App Support` is the entry to use Instabug related functionalities

![Instabug_issue](https://user-images.githubusercontent.com/10354834/76310169-4283a280-6309-11ea-936b-f7fdd984031a.jpeg)

[2020-03-10 12:04] mrarronz commented on #467
instabug-reactnative: v9.0.6/v9.0.7, I've tried both.
**reproduce steps:**

1. Enter the Contact App Support screen
2. Click record video
3. The recording button shows on the screen, click the button, begin recording
4. click stop to complete video recording, return to Instabug screen automatically, noticed that the recording button is not disappeared.
5. click close button on the navigation bar a

[2020-03-10 12:06] mrarronz commented on #467
My initialization code for Instabug component in react-native:
[code]

[2020-03-10 12:08] mrarronz commented on #467
Here is the code to enter `Contact App Support` screen:

[code]

[2020-03-10 12:16] mrarronz commented on #467
@alyezz  I want to know the lowest version of `instabug-reactnative` which has fixed the crash. v9.0.7 is the latest but it's not the best for me since it has such a strange bug, so I would like to try a different version. Thank you, please help me, this is very urgent problem, 'cause we are considering to make a hot fix for our latest release since this crash will affect more users.

[2020-03-10 12:48] mrarronz commented on #467
v9.0.5 has the same problem, tested just now. I guess this is a new problem since v9.0

[2020-03-10 13:10] alyezz commented on #467
@mrarronz i create a custom build for you based on 8.7.3 containing the fix for the above crash. `npm install --save https://github.com/Instabug/Instabug-React-Native#customBuild/8.7.3.1`
Let me know if this fixes the issue for you

[2020-03-10 13:27] chanind opened #468 "Send reports via a HTTP Proxy"
Is there a way to send reports via a HTTP Proxy? We have an app with some users in China, so if Instabug is going to send reports directly across the firewall a lot of the requests will fail. I'd like to set up a http proxy as an intermediary for the requests sent from China, but I can't find an option to set an HTTP proxy in the react native client.

[2020-03-11 07:09] mrarronz commented on #467
@alyezz Thank you! I've tried the custom build version, didn't find the above issue. Recording&Capturing both work fine on our release build.

If this version has fixed the crash, I'll push it to production asap, and I would like to keep this version until the recording/capturing bug disappearing from v9.0 and later versions.

Here are detailed steps to reproduce the bug, maybe you can try it agai

[2020-03-11 07:23] mrarronz commented on #467
Will post the result here after publishing a hot fix version and see if crash is resolved.

[2020-03-11 09:14] alyezz commented on #468
@chanind Unfortunately, there is no way to do so because all the requests our SDK send are from the native side rather than js side

[2020-03-11 09:14] #468 closed

[2020-03-11 09:22] #467 closed

[2020-03-11 09:59] chanind commented on #468
Should I open an issue in the native SDK repos then?

[2020-03-13 02:32] mrarronz opened #469 "java.lang.NullPointerException: at com.instabug.bug.view.reporting.b.initViews"
Instabug crashes on Android 10, this crash both recorded in google play console and firebase console

**Expected Behavior**
Instabug should not crash

**Actual Behavior**
Instabug crashes

**SDK Version**
Instabug-reactnative:v8.7.3.1, this is a customBuild from @alyezz

**React Native, iOS and Android Versions**
React Native: 0.61.2
buildToolsVersion = "28.0.3"
minSdkVersion = 21
compileSdkVersio

[2020-03-13 02:34] mrarronz commented on #469
I've searched on https://github.com/Instabug/Instabug-Android/issues/190, from the firebase we can see that this is the same crash. Here is the log from firebase:
[code]

[2020-03-13 02:43] mrarronz commented on #469
Hello @alyezz This crash is happening on the version https://github.com/Instabug/Instabug-React-Native#customBuild/8.7.3.1 you have posted to me in issue #467 .

Maybe that fixed the crash mentioned in issue #467 , but a new crash occurred, could you please help?? Since this crash happened just on 1 user on our local testing, if we push that to production, the crash rate must be increasing quickly

[2020-03-13 03:33] mrarronz commented on #469
Hi @mzelzoghbi , I see that you have made a fix on Android part about this crash in previous release, could you please help to get this fixed on the customBuild/8.7.3.1?? Or could you tell me how to fix it? Really appreciate your help.

[2020-03-13 13:01] alyezz commented on #469
@mrarronz i created another custom build for you on a new branch `customBuild/8.7.3.2`containing the fix for this crash.
It is recommended however to update to the latest version as it contains alot of fixes.

[2020-03-13 13:01] #469 closed

[2020-03-18 10:32] arindam-heynugget opened #472 "Instabug not triggering on screenshot"
### Steps to Reproduce the Problem

Add instabug to react native project.

### Expected Behavior

On Asus Zenfone 4 Max running Android 8.1.0, the instabug trigger for screenshot should work.

### Actual Behavior

On Asus Zenfone 4 Max running Android 8.1.0, the instabug trigger for screenshot does not work. The shake trigger works though.

### Instabug integration code

[code]

### SDK Version

9

[2020-03-18 10:49] alyezz commented on #472
@arindam-heynugget Thanks for the report, is the screenshot invocation not working on all android devices or only this specific one?

[2020-03-18 10:55] KevinNugget commented on #472
Hi, I'm also the developer work with Aridam, it only doesn't work on Asus Zenfone 4 Max. All the remaining are working well.

[2020-03-18 11:02] arindam-heynugget commented on #472
@alyezz As @KevinNugget mentioned, so far works on other devices except the Zenfone 4 Max.

[2020-03-18 11:17] alyezz commented on #472
@arindam-heynugget since this is device specific we will need more information to pinpoint the issue here, can you please add the following line to the JS code:
`Instabug.setDebugEnabled(true);` try the issue a few times and send us the console logs?

[2020-03-23 09:10] arindam-heynugget commented on #472
Hi @alyezz ,
Here's the output after enabling debug mode and pressing the screenshot trigger -

[code]

[2020-03-24 03:31] mrarronz commented on #469
Thank you! @alyezz
We have released our app with customBuild/8.7.3.1, looks good than I thought. This crash seems not happen for real users, only occurred once during our testing. But Instabug library still got some OutOfMomory crashes,  the OOM crashes are always there since we integrated  instabug-reactnative, it's been a legacy problem.

Anyway, thank you for your help!

[2020-03-24 03:33] mrarronz commented on #467
We have released with this custom build/8.7.3.1 and do not see this crash now, I'm sure it's fixed.

[2020-03-24 03:48] mrarronz opened #474 "java.lang.OutOfMemoryError"
**Steps to Reproduce the Problem**
No specific steps, this crash occurred on google play console. I guess this is image processing related problem in Instabug.

**Expected Behavior**
Crash should not happen

**Actual Behavior**
Crash always exists since we integrated `instabug-reactnative` in the first  app version.

**SDK Version**
`https://github.com/Instabug/Instabug-React-Native#customBuild/8.

[2020-03-24 03:52] mrarronz commented on #474
Since we are tracking crash problems in google play console, this crash happens for a long time. Is there any way to fix?

We are not hurry to get this fixed, but it will be great if this could be or have been fixed.
Any help will be much appreciated.

[2020-03-24 12:23] jayasme opened #475 "shake causes iOS getting freeze when onReportSubmitHandler called"
### Steps to Reproduce the Problem

1) Handle onReportSubmitHandler with a callback
[code]

2) Enable shake to call out the bug report
[code]

3) Run the App
4) Shake the phone

I found eventually it's about the invisible function in the Instabug's iOS SDK `setWillSendReportHandler_private` call causing the freeze, if I just replace it with
[code]
and
[code]
Everything goes fine, but I am very con

[2020-03-24 13:39] alyezz commented on #475
@jayasme Thanks for the detailed report, we are looking into it

[2020-03-24 13:41] alyezz commented on #474
@mrarronz can you please update to the latest version 9.1, as it has many fixes and will likely solve this crash.

Please update and feel free to re-open this if the issue still persists

[2020-03-24 13:41] #474 closed

[2020-03-24 13:43] alyezz commented on #472
@arindam-heynugget Thanks, we will look into this further and get back to you

[2020-03-25 02:44] arindam-heynugget commented on #472
Thanks @alyezz

[2020-04-01 00:25] jacquesdev opened #477 "Disable the automatic upload of the sourcemap in iOS"
Your documentation mentions how to disable this for Android, but I'd like to know how to disable this for iOS, see this link: https://github.com/Instabug/Instabug-React-Native#uploading-source-map-files-for-crash-reports.

[2020-04-01 00:40] jacquesdev opened #478 "Turn of instabug features"
I'd like to completely turn off the following features of Instabug in Android and iOS

- Bug Reporting
- Crash Reporting

Is this currently possible?

I love this part of Instabug
- In-App Replies
- In-App Surveys

But the Bug Reporting and Crash Reporting is really not worth the effort in our app since we use alternative options right now, and this, unfortunately, creates unintentional bloat in o

[2020-04-01 13:08] AliAbdelfattah commented on #477
@jacquesdev you'll need to remove "Upload sourcemap" script in the build phases through Xcode.

[2020-04-01 13:08] AliAbdelfattah commented on #478
Hi @jacquesdev, here's the script to disable the Bug Reporting and Crash Reporting:
[code]

[2020-04-01 16:54] jacquesdev commented on #478
Thank you!

[2020-04-02 11:04] #477 closed

[2020-04-02 22:44] jacquesdev commented on #478
@AliAbdelfattah - quick question on this, if I disable these two, I see it's still uploading the sourcemap - when I do the iOS archive - is that expected? I would not have expected that to happen once these two functions are disabled.

[2020-04-03 14:37] AliAbdelfattah commented on #478
@jacquesdev linking between these two is somewhat limited. Given that a feature flag is highly reliant on runtime and the sourcemap uploading is more like a configuration step which RN linking process is responsible for. We'd appreciate it if you have any ideas on how we could link them together.

You can manually remove the script that uploads the sourcemap though. You'll find it in the Build Pha

[2020-05-07 08:42] Aldeee opened #481 "Exception 6"
### Steps to Reproduce the Problem

Bump `instabug-reactnative` version from 8.7.0 to 9.1.0.
We have seen the issue dozen of times in sentry on real users in production. But we have no fullstory to see what exactly is going wrong.

We can reproduce the issue in development. For example, when reloading application through react-native dev tools. Reloading gets stuck with `Exception 6, Code ###, Sub

[2020-05-07 09:34] alyezz commented on #481
@Aldeee can you please provide us with the stack trace since its reproducible on your side ?

[2020-05-11 15:32] Aldeee commented on #481
@alyezz, thanks for watching the issue.

This is Sentry raw report

[code]

[2020-05-13 15:43] nchase opened #482 "Is Instabug's Nexus server down?"
Getting this gradle error when trying to build an app with Instabug on Android:

[code]

[2020-05-13 16:13] AliAbdelfattah commented on #482
@nchase thanks for reporting this, we're looking into it 👌

[2020-05-13 19:05] #478 closed

[2020-05-13 22:30] Balake commented on #482
I am getting:
[code]

[2020-05-13 23:07] cgradwohl commented on #482
We are seeing the same issue:

[code]

[2020-05-14 00:14] AliAbdelfattah commented on #482
Hey guys, this should be fixed now. Sorry for any inconvenience 🙏

Give it a try now and let me know if you're still facing any issues!

[2020-05-14 00:32] cgradwohl commented on #482
We are still seeing the same issue.

[2020-05-14 00:57] nullfox commented on #482
@AliAbdelfattah I'm seeing this as well. Would thumbs up previous comment but this is build breaking and urgent.

[2020-05-14 01:05] AliAbdelfattah commented on #482
@cgradwohl @nullfox please try now 🙏

[2020-05-14 03:00] cgradwohl commented on #482
@AliAbdelfattah awesome, our builds are compiling now.

[2020-05-14 08:47] #482 closed

[2020-05-20 07:13] Dineshchitta opened #483 "Could not find instabug.aar (com.instabug.library:instabug:8.4.0.2)."
### Steps to Reproduce the Problem

When building with `"instabug-reactnative": "8.4.4"` getting error that
`Could not find instabug.aar (com.instabug.library:instabug:8.4.0.2)`

### Expected Behavior
Should be built without any issues

### Actual Behavior

Build failing with this error

[code]

### Instabug integration code
Not needed I guess as it is a build issue

### SDK Version
`"instabug-rea

[2020-05-20 09:11] Dineshchitta commented on #483
If I update the version to latest I am not getting that error. It seems some versions are not found in this [https://sdks.instabug.com/nexus/](https://sdks.instabug.com/nexus/). Is it expected?

[2020-05-20 12:58] alyezz commented on #483
@Dineshchitta we deleted some of the unused (older) packages, if you need that specific version we can upload it on demand, however, we recommend you update to a newer version

[2020-05-21 09:05] Dineshchitta commented on #483
Okay. We updated, Thank you

[2020-05-21 09:05] #483 closed

[2020-06-03 07:45] alyezz commented on #449
@bscheideldyrt the fix is included in out latest release. Feel free to reopen this if you're still facing this issue

[2020-06-03 07:45] #449 closed

[2020-06-03 07:45] alyezz commented on #450
@bscheideldyrt the fix is included in out latest release. Feel free to reopen this if you're still facing this issue

[2020-06-03 07:45] #450 closed

[2020-06-22 16:05] AliAbdelfattah commented on #481
Hi @Aldeee, it seems you've sent the thread dump, could you send the stack trace please, or even share Sentry crash link so we could have further details into this?

[2020-06-26 11:37] jacquesdev opened #486 "Cannot upgrade instabug, android build errors: AAPT: error: attribute android:foregroundServiceType not found"
I am currently on version 9.0.1 of instabug. When I try to upgrade to 9.0.5 of this plugin, I get the following error when I try to build for Android.

[code]

When I try upgrading to 9.1.1 it gets worse

[code]

Please let me know what I can do to get it building?

[2020-06-26 22:34] AliAbdelfattah commented on #486
Hi @jacquesdev, in build.gradle file, update compileSdkVersion to 29.

[2020-06-27 12:00] jacquesdev commented on #486
Thanks, all sorted!

[2020-06-27 12:00] #486 closed

[2020-06-30 10:42] #481 closed

[2020-07-07 03:19] mrarronz opened #490 "Crash occurs every time when launching the app on iOS"
One of our customers has reported that every time he uses the app, the app crashes during launching process. This makes the customer frustrated. From the crash log we can see this is probably caused by Instabug library.

### Steps to Reproduce the Problem
Just launching the app

### Expected Behavior
No crash

### Actual Behavior
App crashes in every launching process.

### Instabug integration co

[2020-07-07 03:24] mrarronz commented on #490
This crash already happened many times for multiple users, we have tried to upgrade the Instabug library to the latest version v9.1.1, but there is a strange bug on Android (please see the screenshot on #467 ), so we give up the upgrading and keep version at `#customBuild/8.7.3.1`. Please help, thank you in advance.

[2020-07-09 14:59] alyezz commented on #490
@mrarronz i was not able to reproduce the issue above however it is most likely fixed in the newer versions of our iOS SDK, we are planning to release early next week. Will update you on this thread once it's released

[2020-07-15 12:34] AliAbdelfattah commented on #436
Sorry for the late reply. We haven’t received any requests to support POSIX since the issue was raised and that got the issue moved down our priority list. Unfortunately, we currently have no plans to support POSIX in the near future. However, this can change depending on the number of requests on this or the priorities in our backlog. We apologize for any inconvenience this may have caused.

[2020-07-15 12:34] #436 closed

[2020-07-16 15:56] alyezz commented on #490
@mrarronz we just released 9.1.6, please upgrade and let us know if you have any issues

[2020-07-16 16:13] SudoPlz opened #494 "NullPointerException Attempt to invoke virtual method 'java.lang.String android.view.View.getTransitionName()"
### Stacktrace
[code]

### Reproduction steps

We received the following breadcrumbs from a user in production that indicates the user paused and resumed the instabug dialog activity a couple of times before this crash happened.

Many users have reported they can't get Instabug to show up, so maybe this is related to that? Dunno...

0ms before |   | NAVIGATIONInstabugDialogActivityActivityLifecycl

[2020-07-20 09:14] alyezz commented on #494
@SudoPlz Thanks for reporting this. The issue has been fixed and will be included in our next release. In the meantime here is a custom build with the fix that you can use ```npm install --save https://github.com/Instabug/Instabug-React-Native#customBuild/9.1.6.1```

Feel free to re-open this if you are still facing this issue

[2020-07-20 09:14] #494 closed

[2020-07-20 13:15] SudoPlz commented on #494
Awesome, thanks @alyezz I appreciate it.

[2020-07-21 05:24] mrarronz commented on #490
Thanks @alyezz , after we tried the latest v9.1.6, we still found the button issue on Android, capture button stay on the screen. This bug does not happen on iOS, so I guess this is a bug inside Android SDK. This bug exists since this library upgraded to v9.0 and later versions. We have decided to upgrade this library to latest version v9.1.6 to resolve iOS crash, but for Android we will still kee

[2020-07-29 11:36] SudoPlz opened #496 "Crash Caused by: java.net.UnknownHostException Unable to resolve host "api.instabug.com": No address associated with hostname"
[code]

### Expected Behavior
No crashes
### Actual Behavior
Crash

### SDK Version
"instabug-reactnative": {
      "version": "git+https://github.com/Instabug/Instabug-React-Native.git#c28ba0f0e9f77d46df52c79ddc02abe78bd6a904",
      "from": "git+https://github.com/Instabug/Instabug-React-Native.git#customBuild/9.1.6.1"
    },

### React Native, iOS and Android Versions
Android 10, react-native 0

[2020-07-29 12:15] AliAbdelfattah commented on #496
@SudoPlz thanks for reporting this, it seems we have a similar issue reported on the Android repo https://github.com/Instabug/Instabug-Android/issues/305. We're working on a fix and we'll update you soon.

[2020-07-29 14:56] jashatton commented on #482
I am seeing this issue today.  Has it potentially come back?

<img width="1566" alt="instabug_maven_sec_issue" src="https://user-images.githubusercontent.com/121117/88816137-b2dc7480-d181-11ea-8f64-2ab55c4c7aca.png">

[2020-07-29 15:45] naveenst2s opened #497 "Again instabug server got failed?"
* What went wrong:
Execution failed for task ':app:preAppReleaseBuild'.

     Required by:
         project :app > project :instabug-reactnative

[2020-07-29 16:01] jashatton commented on #482
looks like it is working now

[2020-07-30 09:17] AliAbdelfattah commented on #497
It was down for a few mins, sorry for the inconvenience. It should be working now.

[2020-07-30 09:17] #497 closed

[2020-08-04 18:03] santiagogarzon opened #498 "Mising "onNavigationStateChange" function inside index.d.ts definitions for 9.1.6 Version"
Instabug-React-Native 9.1.6 Version

### Expected Behavior
Every new feature should be added inside index.d.ts for typescript projects
### Actual Behavior
onNavigationStateChange is missing in index.d.ts

[2020-08-06 15:07] axeljeremy7 commented on #498
any updates?

[2020-08-06 15:13] santiagogarzon commented on #498
@axeljeremy7 I created a PR https://github.com/Instabug/Instabug-React-Native/pull/499. Waiting to be approved in order to merge it.

[2020-08-10 08:19] #498 closed

[2020-08-10 11:15] alyezz commented on #498
@santiagogarzon Thanks for the PR! It has been merged and included in the latest release 9.1.7

[2020-08-14 06:42] mrarronz commented on #490
Upgrade instabug-reactnative to v9.1.6 for iOS, still see crash reports on latest build according to Firebase console. This crash has become a main problem that ruin our user experience.
[code]

[code]

[2020-08-22 19:12] zeevl opened #501 "java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.String com.instabug.library.visualusersteps.c.a()' on a null object reference"
By adding `Instabug.onNavigationStateChange` to `onStateChange`, I'm getting a crash at startup on Android.
[code]

Results in:
[code]

### Instabug integration code

[code]

### SDK Version
`instabug-reactnative@9.1.6`
`"react-native": "0.63.2",`

[2020-08-28 03:10] gilbertl commented on #475
Hi all,

This seems like a pretty significant issue but the fix has been sitting around for the past 2 months. Should we been patching it ourselves? Is there a different fix?

[2020-08-28 08:45] amrdraz opened #504 "Typescript definition does not reflect the package's API"
### Steps to Reproduce the Problem
import Instabug, { BugReporting, actionTypes } from 'instabug-reactnative';

Instabug.setEmailFieldRequiredForActions(false, actionTypes.reportBug);

### Expected Behavior
no errors

### Actual Behavior
an error can not read property reportBug of undefined

### SDK Version

### React Native, iOS and Android Versions
`"instabug-reactnative": "^9.1.1"`

you have an

[2020-08-28 16:39] AliAbdelfattah commented on #504
@amrdraz thanks for reporting this. Let me look into it and get back to you.

[2020-08-28 16:49] AliAbdelfattah commented on #475
Hi @gilbertl, we do have a fix ready for the issue. However, we've found a blocker while testing that was causing an issue in the SDK. We know the fix probably took longer than expected, sorry about that. We wanted to make sure it doesn't affect other parts of the SDK.

That being said, I'll do my best in moving the fix into production within next week, sounds good? :)

[2020-08-28 17:03] AliAbdelfattah commented on #501
Hi @zeevl `Instabug.onNavigationStateChange` API is intended for react-navigation v4, we're currently working on supporting v5. Meanwhile, you can give it a try if that's possible, we'd appreciate any feedback you might have.

Snapshot:
`npm install --save https://github.com/Instabug/Instabug-React-Native#customBuild/react-navigation-v5`

New API usage:
`onStateChange={Instabug.onStateChange}`

[2020-08-31 17:25] AndrewMorsillo opened #505 "Android spams "Invalid ID 0x000...." mesages to logs on every touch, coming from Instabug"
### Steps to Reproduce the Problem
Add instabug to a react-native project, start project and touch anything

### Expected Behavior
No log is output

### Actual Behavior
An exception is thrown and "Invalid ID 0x0000...." is logged

### Instabug integration code
Not sure what to include here, I have Instabug set up per the documentation.
`Instabug.startWithToken("MYTOKEN", [Instabug.invocationEvent.

[2020-08-31 17:34] AliAbdelfattah commented on #505
@AndrewMorsillo thank you for reporting this. We're looking into it.

[2020-08-31 21:23] AliAbdelfattah commented on #505
Hi @AndrewMorsillo could you send the full exception message? Also could you send the Android integration code please?

[2020-09-01 00:52] AndrewMorsillo commented on #505
@AliAbdelfattah There is no exception message since it's caught and logged. The logs are like the following on every tap/interaction

[code]

The underlying Exception is like this

`android.content.res.Resources$NotFoundException: Unable to find resource ID #0xdf`

It also seems that any time a user sends an Instabug report there are hundreds and hundreds of these same error lines logged.

Here's

[2020-09-01 09:48] AliAbdelfattah commented on #496
Hey @SudoPlz, just wanted to give you an update on the issue. The native fix should be included in the next official Android release (estimated within 3 weeks). We'll do a RN release shortly after that.

[2020-09-04 00:51] melvinmt opened #506 "RN + dSYM results in: Instabug: err: script not found. Make sure that you're including Instabug.bundle in your project directory"
### Steps to Reproduce the Problem

1. Follow instructions on installing instabug for react native:

[code]

2. Follow instructions to install [iOS dSYM symbolication](https://docs.instabug.com/docs/ios-symbolication#automatically)

### Expected Behavior

Project builds and uploads dSYM with no errors

### Actual Behavior

Project build aborts with the following error:

[code]

### Instabug integr

[2020-09-04 15:46] AndrewMorsillo opened #507 "OOM exception on Android on InstabugUserEventLogger.runInsertionHandler"
### Steps to Reproduce the Problem
Not entirely known. Run a production Android application with Instabug.

### Expected Behavior
There are no crashes.

### Actual Behavior
Instabug crashes with the following stack in production

[code]

### Instabug integration code
MainApplication.java
[code]

### SDK Version
"instabug-reactnative": "^9.1.7",

### React Native, iOS and Android Versions
RN 0.63.2

[2020-09-07 10:12] SudoPlz commented on #496
Awesome, thanks for the heads up, looking forward to upgrade, can you please ping me whenever that is out?

I'd be grateful.

Thanks

[2020-09-07 12:05] AliAbdelfattah commented on #506
Hi @melvinmt, could you try executing the command `pod install` inside your ios directory and try building again?

[2020-09-08 18:23] AndrewMorsillo commented on #505
@AliAbdelfattah Any progress on this one? It still happens on every touch.

[2020-09-08 18:50] AndrewMorsillo opened #510 "Sourcemap upload fails for android on 9.1.7"
### Steps to Reproduce the Problem
`./gradlew assembleRelease` with instabug 9.1.7

### Expected Behavior
Sourcemaps upload correctly

### Actual Behavior
Sourcemap upload task fails with

[code]

### Instabug integration code
Exactly per most recent docs.

### SDK Version
9.1.7

### React Native, iOS and Android Versions
RN 0.63.2

### Device Model
N/A

[2020-09-08 21:32] spsaucier-bakkt opened #511 "Sourcemap generation in iOS build phase fails with EMFILE: too many open files"
### Steps to Reproduce the Problem
Add the integration for auto-upload of sourcemaps to iOS in a Build Phase.

### Expected Behavior
It will build the sourcemaps and upload them successfully

### Actual Behavior
It starts the RN process but gives an error:
[code]

### Instabug integration code
[code]

### SDK Version
`^9.1.6`

### React Native, iOS and Android Versions
RN: 0.63.0
iOS: Most recent

[2020-09-08 23:54] zeevl commented on #501
Hey, thank you for the patch.  Sorry for the delay!

One problem I've run into with this is, when hot reload happens during
development, instabug is causing an `undefined is not an object` error
accessing "state.routes":

[image: Screenshot_1599609141.png]

On Fri, Sep 4, 2020 at 12:31 PM Ali Abdelfattah <notifications@github.com>
wrote:

[2020-09-08 23:55] zeevl commented on #501
Hey, thank you for the patch.  Sorry for the delay!

One problem I've run into with this is, when hot reload happens during
development, instabug is causing an `undefined is not an object` error
accessing "state.routes":

![Screenshot_1599609141](https://user-images.githubusercontent.com/1621969/92538608-f9e36e00-f1f3-11ea-84a5-7652ffab13fc.png)

[2020-09-10 13:41] AliAbdelfattah commented on #510
@AndrewMorsillo thanks for reporting this. We're looking into it.

[2020-09-10 13:48] AliAbdelfattah commented on #501
Hmm.. let me look into that.

[2020-09-10 15:26] zeevl commented on #501
It only happens on occasion.. seems to be a timing issue.   Otherwise the
repo steps work great!

On Thu, Sep 10, 2020 at 6:48 AM Ali Abdelfattah <notifications@github.com>
wrote:

[2020-09-13 01:19] AndrewMorsillo commented on #505
@AliAbdelfattah An update on this would be much appreciated. May be related to our other issue: https://github.com/Instabug/Instabug-Android/issues/333

We've had to remove Instabug for now on our production android release. We desperately need to re-enable it to gather customer feedback but we need assistance with these issues first.

[2020-09-14 12:45] #506 closed

[2020-09-16 08:30] Guna-T2S opened #513 "Crash Issue"
It got crashed in initial screen of the app.

Device:  samsung SM-G950F

instabug version: 9.1.7

react-native version : "0.61.5"

Error Message:
io.reactivex.exceptions.UndeliverableException: java.net.UnknownHostException: Unable to resolve host "api.instabug.com": No address associated with hostname (NetworkManager.java:8)

[2020-09-16 09:50] AliAbdelfattah commented on #513
Hi @Guna-T2S, thanks for reporting this. We're looking into it.

[2020-09-16 10:39] #475 closed

[2020-09-16 19:22] AndrewMorsillo opened #514 "java.lang.NullPointerException Attempt to invoke interface method 'void com.facebook.react.uimanager.UIViewOperationQueue$UIOperation.execute()' on a null object reference"
This nullPointerException only occurs when Instabug is integrated into my app. If I remove Instabug this issue goes away. This appears to be a thread safety issue where something is accessing react-natives ui operations queue from a thread other than the UI thread. There's more information in these issues:

https://github.com/facebook/react-native/pull/11428
https://github.com/facebook/react-nativ

[2020-09-16 19:25] AndrewMorsillo opened #515 "Fatal Exception: java.lang.IndexOutOfBoundsException index=4 count=3 android.view.ViewGroup.addInArray (ViewGroup.java:5455)"
This indexOutOfBoundsException only occurs when Instabug is integrated into my app. If I remove Instabug this issue goes away.

This crashes 5-10% of end user sessions. Possibly related to https://github.com/Instabug/Instabug-React-Native/issues/514 ?

This only happens in our release build on the play store.

[code]

### Steps to Reproduce the Problem
Run a release build of a RN 0.63.2 app with I

[2020-09-16 19:27] AndrewMorsillo opened #516 "Crash at com.instabug.library.core.ui.InstabugBaseFragment.onCreateView (InstabugBaseFragment.java:3)"
This InflateException only occurs when Instabug is integrated into my app. If I remove Instabug this issue goes away.

Possibly related to https://github.com/Instabug/Instabug-React-Native/issues/514 ?

This only happens in our release build on the play store.

[code]

### Steps to Reproduce the Problem
Run a release build of a RN 0.63.2 app with Instabug on Android

### Expected Behavior
App shou

[2020-09-16 19:31] AndrewMorsillo opened #517 "Fatal Exception: com.facebook.react.uimanager.IllegalViewOperationException Trying to remove a view index above child count 8 view tag: 647"
This IllegalViewOperationException only occurs when Instabug is integrated into my app. If I remove Instabug this issue goes away.

Possibly related to https://github.com/Instabug/Instabug-React-Native/issues/515 ?

This only happens in our release build on the play store.

[code]

### Steps to Reproduce the Problem
Run a release build of a RN 0.63.2 app with Instabug on Android

### Expected Beha

[2020-09-16 20:05] AliAbdelfattah commented on #513
This should be fixed in v9.1.8. Please give it a try and feel free to reopen the issue if it persists.

[2020-09-16 20:05] #513 closed

[2020-09-16 20:10] AliAbdelfattah commented on #496
@SudoPlz this has been fixed in v9.1.8.

[2020-09-16 20:10] #496 closed

[2020-09-16 20:13] AliAbdelfattah commented on #501
@zeevl Fixed in the official release v9.1.8. Please give it a try and let us know if you encounter any other issues.

[2020-09-16 20:13] #501 closed

[2020-09-16 20:21] AliAbdelfattah commented on #505
Custom build provided here: https://github.com/Instabug/Instabug-Android/issues/333#issuecomment-693529750

Closing this issue now. Please continue the conversation on the mentioned issue.

[2020-09-16 20:21] #505 closed

[2020-09-16 20:33] AliAbdelfattah commented on #511
Hi @spsaucier-bakkt this seems like a local issue. Are you still encountering this issue by any chance?

[2020-09-16 21:02] AliAbdelfattah commented on #517
This doesn't seem to be related to our SDK, we don't do any UI manipulation in react native.

The information posted here may help https://github.com/facebook/react-native/issues/13984#issuecomment-301757346

[2020-09-16 21:05] AndrewMorsillo commented on #517
It certainly seems strange but I have verified that this issue _only_ happens when the Instabug react-native SDK is integrated into the app. I made two builds with the only change between them being removal of Instabug. Without Instabug this crash never happens. Perhaps related to `Instabug.setPrivateView(elem)`?

[2020-09-16 21:05] AliAbdelfattah commented on #516
Thank you for reporting this. We're looking into it.

[2020-09-16 21:10] spsaucier-bakkt commented on #511
I am - not sure where to look to see if I can resolve it elsewhere, but it occurs only when running the `upload_sourcemap.sh` script in the Instabug npm module.

When I run this _outside_ of the Xcode build, it successfully generates the sourcemap:
[code]

Results in:
[code]

[2020-09-16 21:22] AliAbdelfattah commented on #511
This may be a long shot but could you try our latest version v9.1.8 and make sure to run `pod install` after inside the ios directory? Also, what's XCode and node versions?

[2020-09-16 21:34] AliAbdelfattah commented on #517
Umm.. do you call that API anywhere in your app `setPrivateView`?

[2020-09-16 22:17] spsaucier-bakkt commented on #511
I still got it on 9.1.8.
* XCode: `Version 11.6 (11E708)`
* Node: `v12.18.3`

[2020-09-17 12:21] AndrewMorsillo commented on #517
Yes, we call it to mask some potentially personal information from user reports.

[2020-09-17 13:03] SudoPlz commented on #496
Awesome, thanks just upgraded to it.

[2020-09-17 14:54] AndrewMorsillo commented on #514
I have confirmed that this issue still happens with Instabug build `https://github.com/Instabug/Instabug-React-Native\#snapshot-android/9.1.7.1-INSD-4445` from https://github.com/Instabug/Instabug-Android/issues/333. My build without Instabug still does not throw this error.

[2020-09-17 15:10] AliAbdelfattah commented on #514
@AndrewMorsillo just so we're on the same page, the snapshot you mentioned wasn't targeted to address the issue in here.

[2020-09-17 15:13] AliAbdelfattah commented on #514
@AndrewMorsillo we're currently looking into the crashes you've submitted, and we'll update you once we reach any conclusions. Appreciate your patience 🙏

[2020-09-17 15:16] AndrewMorsillo commented on #514
@AliAbdelfattah Yep, thanks for the clarification, I assumed that update wouldn't help with this issue but I wanted to make sure you had exact information about what builds I've reproduced the issue with.

I hope we can get this figured out quickly, we're seeing about 17% of end user sessions crashing with Instabug enabled and 0% without Instabug... but Instabug is so useful and critical to our be

[2020-09-18 11:04] 08Thug opened #518 "In coversation module screenrecorded video is not displaying"
### Steps to Reproduce the Problem
Select Report a bug option choose screen recorder option and record the video and post it along with report on the conversation module posted video is not displaying  instead it show as image or it doesn't show anything all
### Expected Behavior
The expected behaviour is when we attach screen recorded video with bug reporting on the conversation module it should

[2020-09-23 15:08] 08Thug opened #520 "Popup disappears automatically if it remains idle for a short period of time"
### Steps to Reproduce the Problem
Installed the plugin and after shaking the popup appears but it disappear when it remains idle after short period of time (10sec)
### Expected Behavior
Is there is way to override it? it should not disappear when the device is idle for a short period of time
### Actual Behavior
the Instabug popup appears but it disappear when it remains  idle after short period o

[2020-09-23 15:19] 08Thug opened #521 "Delay in getting report in conversation page"
### Steps to Reproduce the Problem
- send a report
- After sent, open conversations
- reported bug is not showing
- finally shows after some delay"
### Expected Behavior
Reported bugs should show in converstion once reported
### Actual Behavior
There is a delay in showing reported bugs in conversation
### Instabug integration code
public void onCreate() {
super.onCreate();
new RNInstabugReactnativ

[2020-09-23 15:28] 08Thug opened #522 "Conversations : Another User's conversations are also listed along with Currently logged in user"
### Steps to Reproduce the Problem
-when I Logged in with a account and reports a bug from that account
-logged out from that account again logs in with a new account
-open instabug navigate to convo page it shows the reports attached by the pervious logged users.
### Expected Behavior
It should not show report sent by previous user should only show the currently logged user reports
### Actual Beh

[2020-09-23 15:29] AndrewMorsillo commented on #514
@AliAbdelfattah I made a new build where I removed all calls to `Instabug.setPrivateView` and I haven't seen this issue since. This crash previously always appeared within hours of a new build (it was our most common crash). There were no other changes in that build. I'm almost 100% certain now that this crash is caused by `Instabug.setPrivateView` on react-native.

[2020-09-23 15:31] 08Thug opened #523 "instabug and its feature dismisses automatically"
### Steps to Reproduce the Problem
- select suggest an improvment
- click description - keypad is open
- Sometimes keypad getting closed instabug also closed automatically
Note: Randamly occured
### Expected Behavior
Instabug and its feature should not get teminated automatically
### Actual Behavior
Instabug and its feature should gets teminated automatically
### Instabug integration code

public

[2020-09-23 15:35] 08Thug opened #524 "- Conversation option is not available initially, It ll be displayed after 2 reports only"
### Steps to Reproduce the Problem
- Conversation option is not available initially, It ll be displayed after 2 reports only
attached a report the convo icon is not visible intially after attaching more than two reports the convo icon is displayed
http://prntscr.com/ujbs2g
note appears in both android and ios
### Expected Behavior
Convo icon should be shown after making the first report
### Actual

[2020-09-23 16:13] AliAbdelfattah commented on #522
Hi @08Thug, are you calling `identifyUser` and `logOut` APIs anywhere in your project? If so, please specify the use cases.

[2020-09-23 16:14] AliAbdelfattah commented on #523
@08Thug thank you for reporting this. We're looking into it.

[2020-09-23 16:40] AliAbdelfattah commented on #521
@08Thug how long is the delay?

[2020-09-24 12:31] 08Thug commented on #521
we don't know the exact time some times report is shown after some minutes or until next report has been made

[2020-09-30 17:11] #522 closed

[2020-09-30 22:20] AndrewMorsillo commented on #514
Hi @AliAbdelfattah just following up, I still haven't seen this crash since I disabled `Instabug.setPrivateView`. It seems fairly certain there's a bug in the Instabug SDK there.

[2020-10-01 13:55] AliAbdelfattah commented on #514
@AndrewMorsillo I've created a snapshot that has a defensive code specifically for `Instabug.setPrivateView` API. Since we can't reproduce the issue on our end, could you please give it a try and let us know how it goes?
`npm install --save https://github.com/Instabug/Instabug-React-Native#snapshot/9.1.8-hide-view-defensive`

[2020-10-04 21:47] AliAbdelfattah commented on #521
@08Thug are you still encountering this delay? If so:
- Just to confirm, you're having this delay on both Android and iOS, correct?
- If possible, could you be more specific about how long it may take for a report to appear i.e. the maximum delay duration?

[2020-10-13 16:34] AndrewMorsillo commented on #510
@AliAbdelfattah Source map upload is still broken in `https://github.com/Instabug/Instabug-React-Native#snapshot/9.1.8-hide-view-defensive`

[2020-10-14 17:35] AndrewMorsillo commented on #514
@AliAbdelfattah I upgraded to that build and reenabed `setPrivateView`. The crashes came back right away exactly as before, no improvement, it's definitely `setPrivateView` causing this crash. I don't know if you got a chance to review these two issues but they had some potentially useful clues:

facebook/react-native#11428
facebook/react-native#27819

[2020-10-23 17:14] IlyaGazman commented on #450
Hey, @alyezz this happens to me all the time on my local testing, using 'io.requery:sqlite-android:3.33.0'

It happens when upgrading from an old version to anew version of my app, only in release build and it's only crashing once, during the first launch.

What kind of demon is this, lol?

My old app is using 'io.requery:sqlite-android:3.28.0', I tested this on Pixel 2

[code]

[2020-11-12 09:58] alyezz commented on #520
@08Thug This is by design and currently there is no way to override the timeout. Do you mind sharing with us the use case for this?

[2020-11-12 10:03] alyezz commented on #518
@08Thug apologies for the late reply, would you mind showing us a screen recording of the issue?

[2020-11-12 14:23] bevanmw commented on #482
Also getting this issue today:

[code]

[2020-11-12 14:49] 08Thug commented on #482
getting this issue from this evening,

[2020-12-07 21:10] guptakavya opened #536 "Crash caused by : java.net.UnknownHostException Unable to resolve host "api.instabug.com""
[code]

[code]

### Expected Behavior
No crash

### Actual Behavior
The following crash occurrence :
`NetworkManager.java line 8
com.instabug.library.network.NetworkManager.connectWithNormalType
`

### SDK Version

[code]

### React Native, iOS and Android Versions
Android OS 10, 8 and 9.

### Device Model

Samsung, Google and others.

[2020-12-07 21:12] guptakavya commented on #536
I am assuming from this issue report here : #496 that this might have. been fixed in v9.1.8? Confirming about the same?

[2020-12-07 23:29] AliAbdelfattah commented on #536
@guptakavya, yes this issue was fixed in v9.1.8

[2020-12-12 21:52] #536 closed

[2020-12-16 20:29] SudoPlz opened #539 "Bridge is not set. This is probably because you've explicitly synthesized the bridge in InstabugBugReportingBridge"
App crashes when the user dismisses the popup, here's the stacktrace:

[code]

### Expected Behavior
No crashes
### Actual Behavior
Crash

### SDK Version
instabug-reactnative: 9.1.9
"react-native": 0.63.3

### React Native, iOS and Android Versions
iOS 13.5

### Device Model
Simulator iPhone 11 Pro Max

[2020-12-17 00:04] gilbertl opened #540 "Missing console.log statements in report because of react-native-reanimated"
The app my team and I work on uses react-native-reanimated for rendering animations. After installing their latest major version, we notice that Instabug is no longer capturing / sending console.log / error statements

We believe the culprit is some kind of unintended consequence of either package trying to override the behavior of console.log

e.g https://github.com/software-mansion/react-native-

[2020-12-17 10:39] AliAbdelfattah commented on #539
@SudoPlz thank you for reporting this. We're looking into it.

[2020-12-17 10:53] AliAbdelfattah commented on #539
@SudoPlz I'm unable to reproduce the crash. Could you please provide the steps taken to reproduce it?

[2020-12-17 11:30] AliAbdelfattah commented on #540
@gilbertl thank you for reporting this. We're looking into it.

[2020-12-17 17:56] SudoPlz commented on #539
@AliAbdelfattah I think I know what's happening.

The instabug modal popped up whenever I shook the device (while on dev), then I hit reload, and then then while it was reloading I pressed cancel, therefore this crash took place. I just figured it out.
So I assume this would not happen in production.
Feel free to decide if you want to fix that for dev or just close.

[2021-01-01 00:35] gilbertl opened #542 "Cannot fully disable Instabug welcome message"
### Steps to Reproduce the Problem
1. Call Instabug.setWelcomeMessageMode(2)
2. open up an app setup with Instabug Beta (as opposed to live)

### Expected Behavior
No Instabug welcome messages will appear

### Actual Behavior
Instabug still pops up a "welcome to the beta" message

### Instabug integration code
N/A

### SDK Version
9.1.10

### React Native, iOS and Android Versions
RN 0.64rc-1

###

[2021-01-04 10:13] imranMnts opened #543 "User steps features"
Hello,

I have a request about your nice lib.
Do you plan to add `User steps` features? If yes can we have any ETA please?

Thanks

[2021-01-06 00:54] bsameh-at-instabug commented on #543
Hello @imranMnts

It's in our backlog, however, there's no exact ETA at the moment. Will make sure to bump this up our queue so that it's prioritized and will let you know as soon as we have an ETA 👍

[2021-01-06 00:54] #543 closed

[2021-01-26 17:53] SteffenAuer opened #546 "Build Issue using iOS Simulator on M1 MacBook"
When I try to build my project using either `react-native run-ios` or via Xcode, I get the following error message and the build fails.
**This only occurs when building for the simulator, the build on an actual device is working just fine.**

[code]
Running Xcode 12.3 on an M1 MacBook Air.

### Steps to Reproduce the Problem
I have to say, I'm not sure how consistently this can be reproduced. The

[2021-01-28 13:26] AliAbdelfattah commented on #546
@SteffenAuer thank you for reporting this. We're looking into it.

[2021-01-30 11:45] mukesh-simform opened #547 "Instabug: err: INSTABUG_APP_TOKEN not found"
### Steps to Reproduce the Problem
1. Must have [react-native-config](https://github.com/luggit/react-native-config) setup
2. Create .env file with INSTABUG_APP_TOKEN=""
3. Add an invocation event
[code]
4. Generate signed APK ./gradlew assembleRelease

### Expected Behavior
- It should auto-upload source map file

### Actual Behavior
- Getting Instabug: err: INSTABUG_APP_TOKEN not found error whi

[2021-01-30 11:52] mukesh-simform commented on #547
It's working fine if use the INSTABUG_APP_TOKEN directly instead from the .env to constant variable
[code]

[2021-02-01 12:04] AliAbdelfattah commented on #547
Hi @mukesh-simform, to automatically upload the sourcemap files, you have to directly add the token (hardcoded) or you can store the token in an environment variable. I understand the first approach isn't very convenient, but it's how our regex is currently implemented. However, I've added this to our backlog.

For more info, please check [the README](https://github.com/Instabug/Instabug-React-Nat

[2021-02-01 12:04] #547 closed

[2021-02-03 12:52] AliAbdelfattah commented on #546
For anyone facing the issue, we've pushed a custom build that leverages the use of XCFramework which Apple enforces with the release of Xcode 12.3. We'd appreciate your feedback if you do try it out.

`npm install --save https://github.com/Instabug/Instabug-React-Native\#hotfix/xcframework`

[2021-02-07 13:37] sinakiani88 opened #550 "I have problem to read my sqlite data"
Caused by: android.database.sqlite.SQLiteCantOpenDatabaseException: unknown error (code 1294 SQLITE_CANTOPEN_ENOENT[1294]): Could not open database
![1](https://user-images.githubusercontent.com/76960433/107148133-dd945a80-6966-11eb-9822-ec8ce11e02fe.jpg)

[2021-02-07 16:48] AliAbdelfattah commented on #550
Hi @sinakiani88, thanks for your report. I'm not sure this is being caused by Instabug, could you please double-check and if so post the full stack trace?

These SoF questions might give you an idea of what's going wrong, I hope it helps.
https://stackoverflow.com/questions/65256201/android-cannot-open-my-database-from-assets
https://stackoverflow.com/questions/52053932/specified-directory-or-data

[2021-02-07 17:17] sinakiani88 commented on #550
actually it could not help me

[2021-02-10 16:23] SaraChicaD commented on #542
I'm also having this issue, were you able to find a Javscript fix or just messing with the Java files?

[2021-02-10 17:50] AliAbdelfattah commented on #542
Hi @SaraChicaD, sorry this issue is a bit old, it's been resolved through a different support channel; we haven't been able to reproduce it though. Do you mind creating a new issue where you could share with us the reproduction steps, integration code, and the SDK Version?

I'm assuming you're having this issue on Android while this one was reported for iOS, please correct me if I'm mistaken.

[2021-02-13 13:32] 08Thug commented on #521
Yeah sure let me consult with my QA team!

[2021-02-13 13:47] 08Thug opened #551 "Locale is not supporting for IOS"
In document it is told that instabug will fetch the device locale and will reflect the same! this feature works well for android,but it is not working in IOS it sticks to the default language i.e english i even tried the override method
Instabug.setLocale(Instabug.locale.french);
yet no change

### Steps to Reproduce the Problem
change the device language
shake for instabug popup
locale is not upd

[2021-02-19 05:51] PavithraPurushothaman-T2S opened #553 "[Android] Updating to 10.0.0 crashing the app immediately after launch."
### Steps to Reproduce the Problem
Update the package instabug-reactnative to 10.0.0
Run the app
App gets crash

### Expected Behavior
App should run

### Actual Behavior
App is crashing immediately after launch

### SDK Version
10.0.0

### React Native Versions
0.61.5

[2021-02-19 08:10] Soliman13 commented on #553
+1

I got the same issue, with react native 0.63.4

[2021-02-19 09:52] AliAbdelfattah commented on #553
@PavithraPurushothaman-T2S could you share the crash logs? Also which OS and OS version?

[2021-02-22 18:53] SudoPlz commented on #546
That hotfix does fix the issue for us.
When will it be included in the latest release? I noticed it wasn't part of 10.0.0

Thanks

[2021-02-23 14:37] ahmed1hisham commented on #551
Thank you for opening this issue. We are currently looking into it.

[2021-02-26 10:56] PavithraPurushothaman-T2S commented on #553
Android-> failed with this exception

[code]

[2021-03-02 14:41] ahmed1hisham commented on #551
Hi there,
We traced the issue, and here’s what you should do to ensure that the Instabug SDK follows the device language:
 (You can use the attached screenshot to help you) 
- Open your project in Xcode.
- Navigate to the LaunchScreen of your App.
- Go to file inspector on the right side.
- Under the Localization section, check all the languages you want the SDK to support. 

Hope this helped! Ple

[2021-03-03 11:18] AliAbdelfattah commented on #553
@PavithraPurushothaman-T2S the error you posted is related to your JDK environment, this [SOF answer](https://stackoverflow.com/questions/64968851/could-not-find-tools-jar-please-check-that-library-internet-plug-ins-javaapple) should help.

[2021-03-03 11:26] AliAbdelfattah commented on #550
Closing the issue. Please feel free to reopen if you were able to find logs related to Instabug.

[2021-03-03 11:26] #550 closed

[2021-03-03 12:45] AliAbdelfattah commented on #504
@amrdraz sorry for not getting back to you sooner. The `actionTypes` is indeed being exported in the TS definition while it isn't being exported from our SDK, we'll make sure to keep the TS definition updated to avoid any confusion. Meanwhile, please use the below API since the one being used in your example has been deprecated.
[code]

[2021-03-08 12:37] ahmed1hisham commented on #540
Hi @gilbertl ,
We couldn't reproduce the issue using the react-native-reanimated v2 [release](https://github.com/software-mansion/react-native-reanimated/releases/tag/2.0.0)
Are you still able to reproduce it given this latest release?

[2021-03-08 16:02] ahmed1hisham commented on #524
Hi @08Thug ,
Thank you for opening this issue. Please note that it takes 15-60 seconds for conversation updates to reflect. If you submit one bug report and wait for the updates to take effect, you will see the icon.
Thank you and please let us know if you face any other problems.

[2021-03-08 20:56] gilbertl commented on #540
This seems to be fixed in react-native-reanimated

[2021-03-09 15:26] #551 closed

[2021-03-10 00:26] jsonreeder opened #557 "Android assembleRelease errors: Could not get resource"
### Steps to Reproduce the Problem

### Expected Behavior

When I run `./gradlew assembleRelease` in CircleCI, the build completes with `BUILD SUCCESSFUL`.

This was the behavior we had until our last successful build at 12:04pm GMT-8 today 3/9.

### Actual Behavior

When I run `./gradlew assembleRelease` in CircleCI, the job fails with the following error

[code]

This was the case at 12:39pm GMT

[2021-03-10 00:58] Jonovono commented on #557
We are getting this as well, @jsonreeder I have reached out to support and they are looking into it so hopefully will be resolved soon :)

[2021-03-10 04:12] harshal-moneylion commented on #557
We are also getting same, Adding logs below for reference.

[code]

[2021-03-10 05:30] snamstorm commented on #557
We are getting the exact same logs as well

[2021-03-10 11:19] lha-ryq commented on #557
The same here:
[code]

[2021-03-10 11:53] #542 closed

[2021-03-10 12:07] AliAbdelfattah commented on #557
Just letting you know, we're still looking into it. Will keep you updated.