[2016-11-15 07:44] RakanNimer opened #1 "Publish to NPM ?"
Hey !

Thanks for the great work on this module and instabug.
Could you publish this package to npm so we can freeze the package version in our build ?

Cheers !

[2016-12-30 18:45] shercoder opened #2 "Adding the Javascript frames to the crash reports’ stack trace."
Currently, the stacktrace we get is useless when trying to track the problem in Javascript. It makes it difficult to reproduce the problem and harder to fix when we don't have Javascript stacktrace.

Are there are any plans to support this in near future?

Currently I am trying to get the following solution working which I took from [https://github.com/mikelambert/react-native-fabric-crashlytics](

[2017-01-01 12:43] yousefhamza commented on #2
Thanks for your feedback we highly appreciate it, We have looked into it and will consider it for future development.

[2017-01-07 01:25] sjyoung12 opened #3 "Android runtime exception: "Got unknown argument class: Locale""
Hi there,

I'm getting the following exception immediately after retrieving the bundle from the packager (iOS works fine):
![screen shot 2017-01-06 at 5 04 10 pm](https://cloud.githubusercontent.com/assets/1925695/21737991/f3be2c72-d433-11e6-8ac6-3c899c5282a1.png)

Usage:
[code]

According to the [React Native source](https://github.com/facebook/react-native/blob/911c05a89bbe86e9c805d7eee58cdfd66b

[2017-01-07 14:16] DevHossamHassan commented on #3
Hey @sjyoung12,
Thanks for reporting this issue.
We are looking into it and will inform you when we are done.
Cheers

[2017-01-09 16:00] DevHossamHassan commented on #3
Hey @sjyoung12
Please, update to Version 1.0.3 and let me know if you still facing any problems.

[2017-01-09 19:20] sjyoung12 commented on #3
@DevHossamHassan: thanks, that did the trick.  BTW, I think you forgot to bump the version number in your `package.json`. :)

[2017-01-09 21:45] yloeza opened #4 "Typo on iOS enums for InstabugEnums invocationModeNewFeedback"
Enum has a typo on the name is getting bridge to JS. So the value ends up been undefined in JS.
Then you can't use `invocationModeNewFeedback` for invoking Instabug.

https://github.com/Instabug/instabug-reactnative/blob/master/ios/RNInstabug/RCTConvert%2BInstabugEnums.m#L26

[2017-01-09 22:46] DevHossamHassan commented on #3
@sjyoung12  good catch. thank you 👍
try it now, I updated the `package.json` file just now.

[2017-01-09 23:33] DevHossamHassan commented on #4
Hi @yloeza,
Thanks for reporting this.
We've just fixed this typo, so please update to v1.0.4.

[2017-01-09 23:58] yloeza commented on #4
There is another typo in the constantsToExport function: https://github.com/Instabug/instabug-reactnative/blob/master/ios/RNInstabug/InstabugReactBridge.m#L219

FYI, All constants are broken for android since is not been implemented properly. See https://github.com/Instabug/instabug-reactnative/blob/master/android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java#L442

[2017-01-10 00:46] yloeza opened #6 "Andriod Instabug constants are not implemented."
Constants for android are not been implemented as it is for iOS.

[2017-01-11 02:46] DevHossamHassan commented on #4
There is a fix for that typo in dev repo /
and for the constants issue, we are looking into it and will get back to you.
By the way thank you reporting this and for the PR! 👍

[2017-01-11 02:46] #4 closed

[2017-01-11 02:46] #3 closed

[2017-01-13 17:46] sjyoung12 opened #9 "Android `minSdkVersion` inconsistent with react-native"
Android build fails on account of inconsistent `minSdkVersion`, which is set to 10 in instabug-reactnative and 16 in react-native:
[code]

Here is where `minSdkVersion` is set:
[code]

[2017-01-13 20:05] #9 closed

[2017-01-13 21:46] yloeza opened #11 "Release v1.0.5 does not contain any changes from previous version"
Some bug fixes got merged into master but the release v1.0.5 does not contains any of those fixes.

Seems like the only change this version contains is just the version bump in the `package.json` file.

@DevHossamHassan Wondering if you can release a fix for this any time soon?

[2017-01-14 01:35] DevHossamHassan commented on #11
Hey @yloeza,
The release v1.0.5 contains all those hotfixes.
Please delete `instabug-reactnative` old version and try to install the latest one.
I could send you a sample app uses v1.0.5 contains the hotfixes, If you want.

[2017-01-17 18:13] yloeza commented on #11
@DevHossamHassan Confirmed, v1.0.5 look good now, not sure what happened before. Closing this issue.

[2017-01-17 18:13] #11 closed

[2017-01-17 18:18] yloeza commented on #6
@DevHossamHassan I'm trying to avoid the need of checking the platform for selecting the invocation mode.
[code]

I prefer to relay in library constants, in case it change the value of the constant for whatever reason. The only thing is preventing to just have the following line is that in andriod the constants are returning `undefined`.
[code]

[2017-01-23 00:26] DevHossamHassan commented on #6
Thanks @yloeza for reporting this and for the PR as well,
I have just merged the PR and it will be released soon stay tuned.
Cheers :)

[2017-01-23 17:18] yloeza commented on #6
Awesome, thanks!

[2017-01-24 08:59] #6 closed

[2017-02-02 20:03] yloeza opened #20 "Some issues with release v1.0.6"
@DevHossamHassan Hey, thanks for releasing a new version containing some of my fixes, I wanted to give it a try but I found some issues.

One of the changes made on this version was fixing a typo of a bridge instabug function `setPostInvocationHandler`. I was looking at the documentation but apparently it has not been updated since still has typo in the name (https://instabug.com/public/ios-api-re

[2017-02-02 23:05] DevHossamHassan commented on #20
Hey @yloeza,
Thanks for reporting these issues we really appreciate that.
We are fixing them and will get back to you ASAP.

By the way, we have just released the latest features we have been working on for the past month.
Read more at: http://blog.instabug.com/2017/02/instabug-february-updates/

[2017-02-03 20:56] yloeza commented on #20
Awesome! .. thanks for updates reference.

[2017-02-05 15:04] pelle commented on #20
We're having these same issues as well

[2017-02-06 14:24] yousefhamza commented on #20
@yloeza, @pelle I pushed some fixes that will fix your problems (Make sure to update your pods as well to version 7.0)!

[2017-02-06 14:24] #20 closed

[2017-02-08 23:02] yloeza commented on #20
Thanks! I was able to successfully build and test the fixes.

[2017-04-07 10:09] jozan commented on #2
JS stacktrace is quite important for us as well. I would like to see them in the future releases!

[2017-04-28 00:40] booboothefool opened #28 "Instabug.invoke() doesn't seem to work on Android."
I am able to get the floating button to work, but I would like to use my own button with `Instabug.invoke()`. When called, the prompt options doesn't appear. This is only on Android. iOS is working great.

[code]
^ Floating blue button appears, pressing it shows the prompt options.

but

[code]
then
[code]
^ Nothing appears when button is pressed. (Same button works on iOS).

If I understood the s

[2017-04-28 01:15] DevHossamHassan commented on #28
Hello @booboothefool,
Thank you for reporting this, That's weird we'll check it and we will get back to you as soon as possible.

[2017-04-28 02:53] booboothefool commented on #28
@DevHossamHassan Sorry, but it seems like there's more to it!

[code]
^ This actually works. Sorry, I didn't test it earlier. I was actually doing this.

[code]

For some reason, when using an Alert to invoke, it will not show. Not a big deal however, as I could do without the Alert and just invoke from button. This does work in iOS, however.

[2017-04-28 18:12] booboothefool opened #29 "Android Instabug.setUserName('username') is not a function"
Clearly it's there... but I get an error when I try to use it like `Instabug.setUserName('username')`. `Instabug.setUserData()`, `Instabug.setUserEmail()` work, however.

![screen shot 2017-04-28 at 2 10 07 pm](https://cloud.githubusercontent.com/assets/13257645/25541414/95a0fafc-2c1c-11e7-84c3-6265ec4ed782.png)

[2017-04-30 03:42] booboothefool opened #30 "Random iOS crash?"
Started getting this crash after integrating Instabug. It seems kind of random as I cannot reproduce it consistently, and I am unsure how to actually read this crash report, but it seems Instabug may potentially be linked to it. Any ideas?

![crash](https://cloud.githubusercontent.com/assets/13257645/25561236/6a960ae0-2d35-11e7-9508-7a46b0bbc692.png)

[2017-04-30 06:38] booboothefool commented on #30
This is very similar to this http://stackoverflow.com/questions/31357028/ios-crash-libobjc-a-dylib-objc-msgsend, a bug in Crashlytics. Considering Instabug is similar, a bug/crash reporting service, could something be wrong?

[2017-04-30 07:06] booboothefool commented on #30
Okay, yes.

I can confirm this crash is no longer happening after I removed:
`Instabug.startWithToken(Config.INSTABUG_TOKEN_IOS, Instabug.invocationEvent.shake);`

but I would like to use Instabug in my app. ;)

[2017-04-30 07:16] yousefhamza commented on #30
Try editing the Podfile for getting the Instabug SDK to:
`pod 'Instabug', '~> 7.0'`
from:
`pod 'Instabug', '~> 7.0.0'`

[2017-04-30 07:38] booboothefool commented on #30
@yousefhamza

Those seem to both do the same thing? (use `nstabug 7.0.5`)

but I will try:
`pod 'Instabug', '7.0.0'`

[2017-04-30 07:40] yousefhamza commented on #30
Use `pod 'Instabug', '~> 7.2'`

[2017-04-30 08:11] yousefhamza commented on #30
Great 👍

[2017-04-30 08:20] booboothefool commented on #30
@yousefhamza Hey sorry, I spoke a little too soon. The crash is still occurring. 😢

[2017-04-30 08:23] yousefhamza commented on #30
Will look into it, If you have a project that reproduce the crash that would help quicken the process.

[2017-05-02 00:44] booboothefool commented on #29
Hi, I found the issue.

In instabug-reactnative you added `setUserName`: https://github.com/Instabug/instabug-reactnative/blob/master/index.js#L207

but in the Android bridge it is actually `setUsername`: https://github.com/Instabug/instabug-reactnative/blob/master/android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java#L184

so I had to do this:
[code]

[2017-05-03 06:16] booboothefool commented on #28
Hi, so I discovered the issue is not Alert. It's that I need to call invoke twice for some reason e.g.

[code]

[2017-05-07 03:13] DevHossamHassan commented on #29
Hello @booboothefool thank you for reporting this issue
This should be fixed. you may need to uninstall and reinstall the plugin to pull the fix.
Cheers

[2017-05-07 03:13] #29 closed

[2017-05-09 22:18] SudoPlz opened #33 "Does logUserEventWithNameAndParams really exist?"
I saw you support `Instabug. logUserEventWithNameAndParams` but I don't see this implemented here?

http://docs.instabug.com/v5/docs/loggin-react
Am I mistaken or is this a feature not yet deployed?

Thanks.

[2017-05-10 07:52] yousefhamza commented on #33
Hi this is yousef from Instabug team.

It's not deployed yet, scheduled this weak 👍

Thanks for your patience.

[2017-05-10 08:12] SudoPlz commented on #33
Hey Yousef..!

Awesome, thanks for letting me know, that would be amazing..!

[2017-05-10 08:12] #33 closed

[2017-06-01 16:01] jplanders opened #36 "android: cannot find symbol mInstabug.setUserName(username);"
I saw in a closed issue and in a commit that you fixed the setUsername to be setUserName for consistency with iOS.  However, we are now seeing this gradle build error when building for Android:

cannot find symbol mInstabug.setUserName(username);

As seen here:

https://stackoverflow.com/questions/43932286/gradle-build-error-cannot-find-symbol-for-minstabug-setusernameusername

So I changed line 1

[2017-06-05 21:49] seantimm commented on #28
I'm seeing the same issue.

[2017-06-09 17:11] jfvfrazao commented on #36
Same thing happening to me

[2017-06-10 03:29] DevHossamHassan commented on #36
Hello @jplanders,
Thank you for reporting this, It will be released in minutes since we are not expecting to merge Dev branch soon, So we are releasing the fix right now.

[2017-06-10 03:30] #36 closed

[2017-06-14 06:44] calvinlang commented on #33
I'm still getting the React Native crash that: Instabug.logUserEventWithNameAndParams is not a function. Has this been implemented?

[2017-06-29 16:43] pukeanddie opened #45 "RN Installation without cocoapods"
I have a React Native xcode project setup and due certain constrains (Realm DB) I am unable to use cocoapods. I've tried following your installation instructions and have tried to manually link the Instabug sdk after running `react-native link instabug-reactnative`.

My issue is that the project fails to build with an error that `Instabug/Instabug.h` file not found in InstabugReactBridge.m

[2017-07-10 16:43] #28 closed

[2017-07-10 16:49] DevHossamHassan commented on #1
Hello @RakanNimer
Thank you so much for your suggestion.
and we really sorry for the delay, and finally we did publish `instabug-reactnative` to npm 🎉
So, You can install it anytime via `npm`
Thank you for your patience

[2017-07-10 16:49] #1 closed

[2017-07-21 20:15] SudoPlz opened #51 "Another random iOS crash"
I'm also getting random crashes on iOS
Not sure wether it was the same as https://github.com/Instabug/instabug-reactnative/issues/30 so I opened another issue.

[code]

ALSO my CI gives me the following data:

[code]

[2017-07-22 12:31] Kmohamed commented on #51
@SudoPlz
We are very sorry for inconvenience,
This crash is fixed so please update to the latest version and inform me if you still face the same issue.

[2017-07-24 11:57] SudoPlz commented on #51
Thanks for letting me know @Kmohamed ! I'll close this and I'll reopen it if I see it again later.
You're doing a great job with instabug, thanks.

[2017-07-24 11:57] #51 closed

[2017-07-24 12:32] Kmohamed commented on #51
@SudoPlz Thanks a lot 😊,
Also If you face any issues please let me know.

[2017-07-26 20:01] SudoPlz opened #52 "Crash in Android (rx.exceptions.OnErrorNotImplementedException)"
I opened an issue here but I'm not 100% sure wether it's an android related problem or a react-native related problem.

https://github.com/Instabug/android-sample/issues/52

Please check it out and let me know.
I'm using `"instabug-reactnative": "1.1.8"`
Thank you

[2017-07-26 20:59] salmatarzi commented on #52
@SudoPlz This is an Android related issue. Someone from our android team will follow up with you on the android sample issues channel, or via our support channel support@instabug.com :blush:

[2017-07-26 21:02] #52 closed

[2017-08-09 09:21] salmatarzi commented on #30
@booboothefool Is this crash still occuring? If yes, then could you please symbolicate the crash, or tell us the steps that will lead to reproduce the crash?

[2017-08-09 10:46] salmatarzi commented on #45
Hi @pukeanddie, you need to follow these steps to manually link the library after running ```react-native link instabug-reactnative```

1. Create a Frameworks folder in the ios directory of your project, and add the Instabug.framework file inside of it
2. Open your Xcode project, open the General tab, and under the Embedded Binaries, add the Instabug.framework file from the directory you have just

[2017-08-09 16:13] jplanders opened #55 "RNInstabugReactnativeModule.java error: cannot find symbol"
"instabug-reactnative": "1.2.0",
"react-native": "0.47.1"

Just updated to react-native 0.47.1 and instabug-reactnative 1.2.0.

No issue with iOS but with run-andorid I am running into the following errors:

[code]

[2017-08-09 19:01] gvillenave commented on #55
I'm seeing the same thing, although I'm still on RN 0.46.4

[2017-08-09 21:45] juanamd commented on #55
Same here. Apparently the "sendEvent" method is not defined or something

[2017-08-10 08:54] salmatarzi commented on #55
@jplanders @gvillenave @juanamd Yes, you're quite right, we have missed this method, there's a PR #56 already done to fix it, and I will update you as soon as we release!

[2017-08-10 09:33] #45 closed

[2017-08-10 10:49] salmatarzi commented on #55
@jplanders @gvillenave @juanamd The release is now up, please ugrade to [v1.2.1](https://github.com/Instabug/instabug-reactnative/tree/v1.2.1)

[2017-08-10 12:06] #55 closed

[2017-08-10 12:09] salmatarzi commented on #2
@jozan @shercoder I know this issue has been here for a long time, and I really apologise for that. Update: We are currently working on supporting JS stacktraces, and hopefully it will be released by the end of September.

[2017-08-10 15:12] salmatarzi commented on #30
@booboothefool I will close this issue for now, if the problem is still there, feel free to reopen the issue.

[2017-08-10 15:12] #30 closed

[2017-08-15 16:44] SudoPlz commented on #2
That's the only reason I'm also using BugSnag right now.
If you guys implement javascript stack trace (w/ deobfuscation) I'd definitely prefer using your tool for bugs.

[2017-08-22 10:07] NadineMansour commented on #2
@shercoder I renamed the issue to help other people identify the topic more quickly.

[2017-08-31 00:08] juanamd opened #63 "Error when upgrading to 1.2.4 in Windows"
There seems to be an issue with a pod file when upgrading in windows (or at least with Android build only configured). This is the error after executing "yarn upgrade instabug-reactnative":

Command failed.
Exit code: 1
Command: C:\WINDOWS\system32\cmd.exe
Arguments: /d /s /c cd ../../ios && pod install
Directory: C:\Users\_[...]_\node_modules\instabug-reactnative
Output:
'pod' is not recognized a

[2017-08-31 06:19] gvillenave commented on #63
+1
The post install script running Cocoapod install needs to only run on Mac, or be optional.

[2017-08-31 15:19] NadineMansour commented on #63
@juanamd @gvillenave
This issue has been fixed in 177cc852b1730977501dd580398aba9a61f7131c

Please, take a look at the steps mentioned [here](https://github.com/Instabug/instabug-reactnative#upgrading-guide).

[2017-08-31 17:43] gvillenave commented on #63
@NadineMansour Thanks, upgrading to v2 worked.

[2017-08-31 18:10] juanamd commented on #63
Yep now it works, thanks. Closing this issue.

[2017-08-31 18:10] #63 closed

[2017-08-31 21:43] gvillenave opened #67 "Errors when validating an iOS release build after upgrading to 2.0.0"
I just upgraded to v2.0.0 but I'm getting the following validation errors when trying to submit a release archive of my app to the app store:

iTunes Store operation failed.
Unsupported Architectures. The executable for Trybeo.app/Frameworks/Instabug.framework contains unsupported architectures '[x86_64, i386]'.

iTunes Store operation failed.
Invalid Mach-O Format. The Mach-O in bundle "Trybeo.ap

[2017-08-31 21:51] msoliman commented on #67
@gvillenave looks like you need to call the `strip-frameworks.sh` script that removes the simulator architectures from your app before submitting to the store.

Can you try adding a new "Run Script Phase" in your target's "Build Phases" and add the following snippet to it

[code]

Let me know how it goes.

[2017-08-31 22:52] gvillenave commented on #67
It solved the issue. Thanks! Can you update the documentation?

[2017-08-31 22:54] msoliman commented on #67
@gvillenave sure will do. Thanks for the update

[2017-08-31 22:54] #67 closed

[2017-09-04 09:10] MatthieuPeyrot opened #69 "Build Fail when i update React Native 0.48"
Hi i update to last version of react native and instabug and have this issue :

![screen shot 2017-09-04 at 11 07 34](https://user-images.githubusercontent.com/22000269/30019622-86867c2c-9161-11e7-95cd-9f91ffbf98b4.png)

[2017-09-04 10:49] MatthieuPeyrot commented on #69
There is link related to the  issue : https://github.com/facebook/react-native/issues/15775

[2017-09-04 11:49] MatthieuPeyrot commented on #69
I can build if i change #import "RCTBridgeModule.h" to #import <React/RCTBridgeModule.h>
 in the InstabugReactBridge.h

[2017-09-04 12:59] reemalashry1 commented on #69
Hey @MatthieuPeyrot sorry for the late reply here,

we will include the fix for this issue in our next release, I'll notify you when it's out.

[2017-09-04 13:00] MatthieuPeyrot commented on #69
Thanks

[2017-09-05 09:46] reemalashry1 commented on #69
Hey @MatthieuPeyrot
please check the fix for this issue in the new release here: f2a5890d0133c8c7a9a5d7a21ffc9c038e838698

[2017-09-18 21:45] SudoPlz opened #74 "rx.exceptions.OnErrorNotImplementedException error on Android"
rx.exceptions.OnErrorNotImplementedException
        InternalObservableUtils.java:386 rx.internal.util.InternalObservableUtils$ErrorNotImplementedAction.call
        InternalObservableUtils.java:383 rx.internal.util.InternalObservableUtils$ErrorNotImplementedAction.call
        ActionSubscriber.java:44 rx.internal.util.ActionSubscriber.onError
        SafeSubscriber.java:152 rx.observers.SafeSubsc

[2017-09-19 12:02] reemalashry1 commented on #74
Hey @SudoPlz this issue seems to be caused by the native Android SDK, our Android team will be working on a fix, meanwhile, would you please tell me if this exception occurs consistently?

[2017-09-19 12:43] SudoPlz commented on #74
I'm not entirely sure as our QA team is not testing Android yet.

On Sep 19, 2017 7:02 AM, "reemalashry1" <notifications@github.com> wrote:

[2017-09-19 13:34] reemalashry1 commented on #74
@SudoPlz No problem, we will be checking it and I'll get back to you 👍

[2017-09-20 10:29] jfilter opened #75 "com.facebook.react.JavaScript (14): EXC_BAD_ACCESS (code=1, address=0x1)"
When starting the app for iOS, I receive this error:
com.facebook.react.JavaScript (14): EXC_BAD_ACCESS (code=1, address=0x1)

For this line:
InstabugReactBridge.m:458 `IBGNSLog(compeleteLog, arg_list);`

[2017-09-20 11:46] reemalashry1 commented on #75
Hey @jfilter we have fixed the issue and released a new version that includes the fix, here: 9b67bad

[2017-09-20 17:57] jfilter commented on #75
Works for me. Thanks!

[2017-09-20 17:57] #75 closed

[2017-09-21 10:44] reemalashry1 commented on #74
Hey @SudoPlz
We have fixed the issue and made **4.2.11.1 Snapshot**.
Please add this to your app-level` build.gradle `file to grab the snapshot:

[code]

[2017-09-21 15:16] SudoPlz commented on #74
Perfect, thanks!

[2017-09-21 15:16] #74 closed

[2017-09-21 19:39] fforres opened #77 "Build fails on RN 0.48 and iOS 11"
I'm getting some errors while trying to upgrade install 2.0.3 on RN 0.48.3 on an iOS device running iOS 11 on `InstabugReactBridge.m:461`

![image](https://user-images.githubusercontent.com/952992/30714867-c48dbf8a-9eea-11e7-8801-32351a2f5fe7.png)

Out of the 6 errors, 5 are fixable by an xcode suggestion
`Use of undeclared identifier 'IBGLogLevelTrace'; did you mean 'RCTLogLevelTrace'?`
`Use of u

[2017-09-21 20:09] fforres commented on #77
PS: You folks are still supporting 1.x?
I created the pr with fix for 1.x version to support RN 0.48.3 but could not figure out if there was maybe a branch to keep supporting it?
Anyways, it's here but I closed it -> https://github.com/Instabug/instabug-reactnative/pull/78/files

[2017-09-23 00:05] reemalashry1 commented on #77
Hey @fforres
I just need to make sure, are you following the #upgrading-guide when upgrading from version 1.x.x to version 2.0.3, you can find that here: 584befd35459bf3b99677c7abe18953779f7b13a

Regarding  the PR for supporting version 1.x, I'll be checking this with the team and will get back to you about it 👍

[2017-09-29 21:15] juanamd opened #79 "Installing Xcodeproj gem"
Lately I upgraded an app for iOS from version 1.x to 2.0.5 and had quite a lot of issues. After a long time iI discovered that I was missing the xcodeproj gem which is required by the linking ruby script.
As the error atm prints only "xcodeproj doesn't exist", at first I thought it refered to a file or folder which it was unable to find, or something similar, which made it quite hard to exactly te

[2017-10-03 00:21] reemalashry1 commented on #79
Hey @juanamd
Thank you for your feedback 👍
Both the integration guide and the improved error message have been updated here 4ab8e827e19f537a2ad1410dc83378a9c9a862bf

[2017-10-04 15:49] alliannas opened #80 "Calling `Instabug.setStringToKey` on fails on android"
When setting up InstantBug with with custom strings for keys the app fails on android
![android_instant_bug](https://user-images.githubusercontent.com/1064453/31185464-8de0a48a-a91b-11e7-9ea4-30feca0bf02f.png)

Happens on

instanbug-rectnative version: 2.0.5
react-native version: 0.48.3

Example call
[code]

[2017-10-05 10:10] reemalashry1 commented on #80
@alliannas Thank you for the fix! 😊

[2017-10-05 10:10] #80 closed

[2017-10-05 11:17] alliannas commented on #80
No problem :) Thank for having the bindings open-source and making it possible to due fixes like this 👏

[2017-10-06 18:29] SaraChicaD commented on #77
We had the same issue and had to comment out Instabug just to get our app to run. Would love an update on this! Thanks for your hard work on this package!

[2017-10-07 11:29] reemalashry1 commented on #77
Hey @SaraChicaD are you following the [Upgrade Guide] when upgrading from version 1.x.x to version 2.0.3, you can find that here: 584befd ?

[2017-10-08 15:33] SaraChicaD commented on #77
hi @reemalashry1 so i never updated, I installed 2 first. It just fails on iOS 11, but still works on Android? Thanks for your prompt reply!

[2017-10-09 11:06] #79 closed

[2017-10-09 11:07] #69 closed

[2017-10-09 11:30] reemalashry1 commented on #77
Hey @SaraChicaD this seems to be a different error, we will be checking this and I'll get back to you 😊

[2017-10-09 19:21] eliperkins opened #82 "EXC_BAD_ACCESS in InstabugReactLogFunction"
I came across the same issue as reported in https://github.com/Instabug/instabug-reactnative/issues/77#issuecomment-335014604.

The issue is that since `InstabugReactLogFunction` is not a variadic function, `va_list arg_list` is null here: https://github.com/Instabug/instabug-reactnative/blob/7cc7e90/ios/RNInstabug/InstabugReactBridge.m

It looks like the implementation of `IBGNSLogWithLevel` expe

[2017-10-10 16:38] SaraChicaD commented on #82
hi @reemalashry1 any updates? thanks so much!!

[2017-10-11 03:07] seantimm commented on #82
Same problem here.

[2017-10-11 11:30] reemalashry1 commented on #82
@SaraChicaD @seantimm We are on it, I'll get back to you about it today (hopefully 😀)
Thank you for your patience!

[2017-10-11 11:32] jfilter opened #84 "Let the User disable and enable Instabug"
I want to give the user the option to disable Instabug or at least that it does not get invoked on shake. Is it even possible? On iOS, I could just check for the preference when the App launches but how do I do it on Android?

[2017-10-11 11:47] #82 closed

[2017-10-11 15:59] reemalashry1 commented on #84
Hey @jfilter for Android you can use `Instabug.disable()`
Do you mind sharing what you do for iOS?

[2017-10-13 03:16] sebirdman opened #85 "No logs for ios?"
Hi!

I'm using the latest version of this library and i'm trying to get logs for ios in my bug reports. Android works great (all the logcat data i could want)

Do i need to replace my console.logs with some function that sends this data off to instabug for ios? or am i not setting something up properly?

edit: i should note i'm using ios 10, i see in the ios specific version of this library that t

[2017-10-13 03:59] sebirdman commented on #85
strangely, further tests are showing all the logs i could want!

closing the ticket.

[2017-10-13 03:59] #85 closed

[2017-10-18 10:21] jozan opened #86 "Build error: ld: framework not found Instabug"
I got this error while trying to build with custom schemes. Turned out that `react-native link instabug-reactnative` adds `../node_modules/instabug-reactnative/ios` only to the default schemes `Debug` and `Release`. Could it detect that there are custom schemes defined and handle those properly as well?

It's this line which does the trick: https://github.com/Instabug/instabug-reactnative/blob/mas

[2017-10-18 10:23] jozan commented on #2
@salmatarzi Hello! Do you know is the support for JS stacktraces still on your priority list?

[2017-10-18 12:12] salmatarzi commented on #2
@jozan Hey! Yes, it's on the top of our priority list. It's what we're currently working on right now. I will update you when it gets released.

[2017-10-18 17:20] jozan commented on #2
Good to hear! :)
On Wed, 18 Oct 2017 at 15:12, salmatarzi <notifications@github.com> wrote:

[2017-10-18 22:53] sebirdman opened #88 "setPreSendingHandler not appending data to instabug report"
I'm not sure if this is by design, the documentation says:

[code]

Neither the user attribute, nor the userEvent seem to be logged.

[2017-10-19 15:14] reemalashry1 commented on #88
Hey @sebirdman
I apologize as there's a fault in the docs, we will edit it right away, to use the user events with the `PreSendingHandler` you need to write this instead: `Instabug.logUserEventWithNameAndParams("OnFeedbackButtonClicked",{"key": "value"}); `
With the key and value as the user events parameters.

However we seem to have an issue with using the user events with `setPreSendingHandler`

[2017-10-19 21:10] jfilter commented on #84
Thanks. Here's my code for iOS. The preference only takes effect when the user restarts the app but it works.
[code]

[2017-10-19 21:10] #84 closed

[2017-10-19 22:23] jfilter commented on #84
For Android, I couldn't make it work with `.disable()` so I set the threshold to an unreachable value:
[code]

[2017-10-22 19:43] reemalashry1 commented on #88
Hey @sebirdman we have fixed the issue with the user events with `setPreSendingHandler`
Please install using
`npm install https://github.com/Instabug/instabug-reactnative#customBuild/fix_loguserevents_with_presendinghandler`

[2017-10-23 23:26] sebirdman commented on #88
Hi @reemalashry1 i'm still seeing this issue with that branch and the following code:

[code]

i see the "adding presending handler" log, but do not see the event name or the console.log inside the handler.

Let me know if you need more information.

[2017-10-24 09:09] wynch opened #89 "Why Android needs native init when iOS works in JS ?"
Hello,

I was wondering why android integration needs to be done on the native side - in Application / java file - when iOS integration only needs Javascript ? Why the difference ?

[2017-10-25 17:00] reemalashry1 commented on #88
Hey @sebirdman we have an issue to show user events and console logs on the dashboard, we are working on it, will keep you updated :)

[2017-10-25 17:02] reemalashry1 commented on #89
Hey  @wynch
what happens is that Android needs to get initialized in the application class and cannot be initialized in an activity to avoid unexpected behaviors, we are currently working on unifying the initializing experience between Android and iOS :)

[2017-11-03 12:51] SudoPlz opened #90 "(android) NoClassDefFoundError: com.instabug.library.analytics.AnalyticsObserver"
Hey there,

the app crashes whenever I try to launch it because of:

[code]

I'm using "instabug-reactnative": "2.0.11"

[2017-11-03 14:24] NadineMansour commented on #90
Thank you @SudoPlz for sending this over.
The team is looking into.
I will keep you posted.

[2017-11-03 14:38] SudoPlz commented on #90
More info:

That's on a Google Nexus S on **Android 4.1.1** API 16,
I tried running the same code on a Google Nexus 5x on **Android 8.0.0** and I didn't receive a crash.

[2017-11-03 15:15] NadineMansour commented on #90
@SudoPlz Thank you for the valuable information.

[2017-11-10 16:34] SudoPlz commented on #90
https://github.com/Instabug/instabug-reactnative/commits/customBuild/fix_no_class_def_crash fixed the issue above, but I know get this error:

[code]

I believe it's easy to reproduce, all you have to do is start a Genymotion vm and use a `Google Nexus S - 4.1.1 - API 16 480x800` w/ 1 Processor, and 512MB base memory and you should be able to reproduce this.

[2017-11-10 20:48] NadineMansour commented on #90
@SudoPlz I will check this and get back to you 😊

[2017-11-12 10:50] NadineMansour commented on #90
@SudoPlz We have tried the same configurations and steps that you mentioned. However, we failed to reproduce the same crash.

Are you able to reproduce it on a real device or on the emulator?

[2017-11-12 12:06] SudoPlz commented on #90
Ι'll try tomorrow and I'll post back @NadineMansour :)

[2017-11-15 09:26] NadineMansour commented on #90
@SudoPlz Did you get a chance to try it?

[2017-11-15 12:41] SudoPlz commented on #90
I did @NadineMansour, I get the [same errror](https://github.com/Instabug/instabug-reactnative/issues/90#issuecomment-343521711) on a Nexus S API 16 emulator.

[2017-11-15 14:53] SudoPlz opened #91 "(android) Status bar color of the Instabug activity is wrong"
The status bar color is not the same as the app status bar color when the Instabug activity get's launched.

Here's the app:

![instabugstatusbar](https://user-images.githubusercontent.com/3070948/32842306-69a9826e-ca25-11e7-937d-f38f6fc1604d.png)

As you can see the status bar bg color is dark blue.

Here's how Instabug looks like:
![appstatusbar](https://user-images.githubusercontent.com/3070948

[2017-11-15 16:56] ZiadAyman commented on #91
Hey @SudoPlz Thanks for reporting this to us :)

Instabug has two themes the light one and the dark one. Once the SDK is invoked, some changes occur like what you see in your status bar to match the current theme of the SDK.

We'll definitely consider having something more customizable for future references. Thank you again for pointing out this.

[2017-11-16 10:16] NadineMansour commented on #90
@SudoPlz Thank you for the details.
We will look into it.
I will keep you updated.

[2017-11-17 04:04] messense commented on #90
Same issue.

[code]

[2017-11-17 04:35] messense commented on #90
Turns out it's a problem with multiple dex. I forgot to add the following `attachBaseContext` override code:

[code]

https://developer.android.com/studio/build/multidex.html#mdex-gradle

[2017-11-17 17:39] SudoPlz commented on #90
Oh my God @messense you're a beast man, that fixed it..!!! Ok I literally have NO idea why that worked, would you mind explaining?

[2017-11-17 17:39] #90 closed

[2017-11-19 07:59] TestIntegrations commented on #90
I am really glad that everything is working now 🎉

@SudoPlz @messense Thank you so much for your awesome contribution!

[2017-11-19 08:00] NadineMansour commented on #90
I am really glad that everything is working now 🎉

@SudoPlz @messense Thank you so much for your awesome contribution!

[2017-11-23 16:00] ZiadAyman commented on #88
Hey @sebirdman we fixed both issues. You can log user events now and everything would be working perfectly.
Regarding the console logs, we made a SNAPSHOT for you that includes the fix of the console logs inside the Pre sending handler. Kindly use  4.3.3.8-SNAPSHOT.

Thanks for your patience :)

[2017-11-26 14:34] #89 closed

[2017-11-26 14:37] ZiadAyman commented on #77
Hey @fforres are you still experiencing any problems now or shall I close this issue? :)

[2017-11-27 16:13] fforres commented on #77
Sure @ZiadAyman  :)
NP

[2017-11-27 16:28] ZiadAyman commented on #77
Perfect!

Don't hesitate to get back whenever you need any help :)

[2017-11-27 16:28] #77 closed

[2017-11-30 15:31] SudoPlz opened #97 "(Android) Crash (ConcurrentModificationException)"
Hey there, I received the following crash today in one of our production devices:

[code]

Is that stack-trace enough to get it fixed?
Is there anything else that I can do to help you without contacting our client?

Device: `LG MP450 Android 7.0 - API 24`
Version: `instabug-reactnative: "2.0.15"`

[2017-12-01 19:33] SudoPlz commented on #97
Any news on that?

[2017-12-03 09:01] ZiadAyman commented on #97
hey @SudoPlz
Apologies for the late reply.

Let me communicate this with our team and get back to you with updates.

[2017-12-04 12:20] ZiadAyman commented on #88
hey @sebirdman

Here is the react-native branch with the native custom build that has the fix on. Apologies for delivering it late! "https://github.com/Instabug/instabug-reactnative#customBuild/fix_loguserevents_with_presendinghandler"

Please don't hesitate to share here your updates and let me know if there is anything else we need to do from our side :)

[2017-12-04 12:46] ZiadAyman commented on #97
Hey @SudoPlz

Here is the fix for the crash.

npm istall https://github.com/Instabug/instabug-reactnative#hotfix/fix_android_crash

Please let me know if there is anything else we need to fix from our side :)

[2017-12-04 12:51] SudoPlz commented on #97
You're the best @ZiadAyman hmm, what official version would that crash be fixed on? 2.0.17?

[2017-12-04 12:51] #97 closed

[2017-12-04 23:29] jfilter opened #98 "The latest version fails because of the bug in the link script."
Very easy to reproduce. Just try to link the module.

[2017-12-05 08:36] ZiadAyman commented on #98
Hey @jfilter

Do you mind telling me if you were on an older version and this happened while updating? If yes, what version where you on?
Also, were you running npm install and then the link?

[2017-12-05 10:25] ZiadAyman commented on #98
hey @jfilter never mind we reached the root cause and this should be fixed now.

[2017-12-05 10:43] jfilter commented on #98
I updated from an older version (2.x.x) to the latest. Then I first unliked it and then it failed to link. I have ruby installed. There was a error in the part where you iterate over the targets. I can look up the specific line number later.

[2017-12-05 17:48] #98 closed

[2017-12-06 09:40] ZiadAyman commented on #98
@jfilter I expect everything to be in place now.

Get back please whenever there is anything else we can help you with :)

[2017-12-07 22:50] jonahkagan commented on #88
I'm also running into this issue using the latest instabug-reactnative (v2.0.18) on ios. I can't seem to get any user events or logs to show up whether I put them in the presending handler or not. Can you please elaborate on what you fixed and whether the fix is deployed? Thanks!

[2017-12-08 14:44] ZiadAyman commented on #88
Hey @jonahkagan We had a problem with logging the user events, we fixed it and yes it's tested and deployed.  As for logging console logs inside `presending handler`, it's fixed in 4.3.3.8-SNAPSHOT for native android and in this branch [branch](https://github.com/Instabug/instabug-reactnative#customBuild/fix_loguserevents_with_presendinghandler) for react-native.

Can you tell please if you are no

[2017-12-08 23:44] jonahkagan commented on #88
I get logs in general on my dashboard. I don't get logs from inside the presending handler (which makes sense since I wasn't using that custom branch).

There are two other issues I'm having that don't seem to have been addressed:
1. I don't get logs from my application code (e.g. from lifecycle methods on my React components). I only see logs from library code.
2. I don't see any user events reco

[2017-12-10 10:54] ZiadAyman commented on #88
@jonahkagan I communicated the issue for the logs from your application code as well as the user events problem and will get back to you with updates :)

[2017-12-11 09:01] ZiadAyman commented on #88
Hey @jonahkagan

After checking it seems that logs are working fine in React Native's life cycle methods. You might only face a problem if you are trying to attach console logs inside the constructor of your component. If you are trying to log inside your constructor so you can use for now instabug logs. This will solve the issue for now :)

Also, do you mind clarifying what do you mean by getting

[2017-12-11 14:20] ZiadAyman commented on #88
hey @jonahkagan I have another question for you please.

Are you facing a problem with receiving the user events on your dashboard in the bug page or within the users page?

[2017-12-11 14:24] SudoPlz commented on #97
Hey there, any idea when that will be merged? I noticed 2.0.19 was released but that commit was not in there.

Thanks

[2017-12-16 18:37] sebirdman commented on #88
@ZiadAyman sorry to get back to you so late.

with the updated changes i'm seeing the events! thanks for all the help.

[2017-12-17 09:40] ZiadAyman commented on #88
@sebirdman Perfect. You can use the branch also for attaching logs inside the `presending handler` and I will notify you here once it's included officially in our `react-native` release. Should take few days from now.

[2017-12-20 10:42] ismnoiet opened #102 "Invoke specific feature without showing the whole instabug menu"
Can we invoke specific feature without showing up the menu.
For example, I have a button in my application that says <kbd>Report a problem</kbd>, once clicked I want to show the `report a problem` screen without showing the whole instabug menu.

Thank you in advance.

[2017-12-20 11:27] #102 closed

[2017-12-20 17:03] SudoPlz opened #104 "strip-frameworks.sh: No such file or directory"
I believe you forgot to add `InstabugCore.framework` to the iOS project, and so we get the following error.

I can't make 2.1.1 work on iOS, thank you.

[2017-12-20 17:18] SudoPlz commented on #104
False flag, I believe that was just me upgrading from an older version of instabug-reactnative.

I unlinked the project, deleted it, installed, linked again and it worked.

[2017-12-20 17:18] #104 closed

[2017-12-20 17:54] SudoPlz opened #105 "operation is finished and cannot be enqueued, while developing"
Hey there,

when I reload the app, I sometimes get:

[code]

and the app crashes.

That's on iOS with:
instabug-reactnative 2.1.1
react-native: 0.51.0

[2017-12-21 00:53] SudoPlz commented on #104
That was because the new `unlink.rb` file did not work with the old link setup.

I downloaded [the old unlink.rb file](https://raw.githubusercontent.com/Instabug/instabug-reactnative/v2.0.19/unlink.rb), renamed it to `unlinkOld.rb` and pasted it on the root dir of instabug-reactnative, then run `ruby node_modules/instabug-reactnative/unlinkOld.rb;ruby node_modules/instabug-reactnative/link.rb` and

[2017-12-21 08:05] Kmohamed commented on #105
Hello @SudoPlz,
The only cause of this crash that you are calling startWithToken twice. could you double check this please.

[2017-12-21 12:08] zivchen opened #106 "Instabug crashes on start, IOS simulator, after reload cmd +r"
*** Doesnt happen every time
If it happens, its only after reload cmd + r

react-native-cli: 2.0.1
react-native: 0.50.4
MacBook Pro High Sierra
IOS simulator - iphone 6

Exception '*** -[NSOperationQueue addOperation:]: operation is finished and cannot be enqueued' was thrown while invoking startWithToken on target Instabug with params (
    XXXXXXXXXXXXXXXXXXXXXXXXXXX,
    1
)
callstack: (
	0   C

[2017-12-21 12:37] SudoPlz commented on #105
@Kmohamed that's not true, I only call it once, but when the app reloads (on Debug mode), it's probably called again when the app starts (which is normal). I believe the module should not crash but fail gracefully on dev reloads.

[2017-12-21 12:39] Kmohamed commented on #105
@sudoPlz sorry for that 😐
we will release a fix today.

[2017-12-21 12:40] SudoPlz commented on #105
Perfect, I'll be waiting for the release my friend.
:)

[2017-12-21 12:41] Kmohamed commented on #105
Thanks my friend😊😊

[2017-12-21 22:17] SudoPlz commented on #105
Ok another friend noticed that here: https://github.com/Instabug/instabug-reactnative/issues/106

Are there any quick fixes for now? This really slows our development process.
Thank you.

[2017-12-21 22:17] SudoPlz commented on #106
Hey my friend, that is the same issue as https://github.com/Instabug/instabug-reactnative/issues/105, just so that you know.

[2017-12-23 10:16] salmatarzi commented on #105
@SudoPlz The fix for this issue is now released, kindly upgrade to v2.1.2

[2017-12-23 10:16] salmatarzi commented on #106
@zivchen The fix for this issue is now released, kindly upgrade to v2.1.2

[2017-12-23 11:57] SudoPlz commented on #105
You are THE best!

Thank you!!!

[2017-12-23 11:57] #105 closed

[2017-12-24 11:35] zivchen commented on #106
@salmatarzi Thanks

[2017-12-24 11:35] #106 closed

[2017-12-26 17:14] jonahkagan commented on #88
I'm seeing the console logs now. Thanks

[2017-12-28 10:55] zoontek opened #108 "(iOS) Use of undeclared identifiers"
Hi everyone!

I'm trying to setup this library in a React Native 0.51 project.
I tried the official way to link it, a manual way, adding the SDK with Cocoapods, etc and always have the same errors.

<img width="1406" alt="screen shot 2017-12-28 at 11 44 58" src="https://user-images.githubusercontent.com/1902323/34408754-ec24d4fc-ebc5-11e7-918a-4705dfd37081.png">

Do you encounter them? Thanks!

[2017-12-28 11:05] salmatarzi commented on #108
Hi @zoontek

I will have a release with this fix in a few. I'll keep you posted.

[2017-12-28 11:26] salmatarzi commented on #108
@zoontek The release is now out, please update by using

`npm install instabug-reactnative` 😊

[2017-12-28 11:54] zoontek commented on #108
@sebirdman Thanks, it worked!

[2017-12-28 11:54] #108 closed

[2017-12-30 15:58] SudoPlz opened #109 "SIGTRAP IBGUserAttributesLogger (Crash)"
Hey there, I'm not sure what this is, but a lot of our users are receiving a crash because of this error.
Here's the stack-trace, maybe you can tell more than we can from this:

[code]

"react-native": "0.51.0",
"instabug-reactnative": "2.1.2",
Device Apple iPad 4
iOS 10.3.3

[2017-12-30 17:19] ZiadAyman commented on #109
This issue is fixed in our latest react-native version.
Unlink, install the latest version and link again please @SudoPlz

Check the upgrade file here:
https://github.com/Instabug/instabug-reactnative/blob/master/README.md#upgrading-guide

Let me know how is it going :)

[2017-12-30 17:22] SudoPlz commented on #109
You mean it will be resolved if I upgrade to 2.2.2? I'll try that, thank you.

[2017-12-30 17:22] #109 closed

[2017-12-30 17:27] ZiadAyman commented on #109
Exactly. Give it a try and let me know if you still experience the same signal.

[2018-01-03 20:49] adambom opened #110 "Invoking dialog changes status bar color from white to black"
My app uses the status bar style "light-content". When I invoke the dialog, and then dismiss it, the status bar gets changed from light to dark. This happens regardless of which theme I set for instabug:

Before:
<img width="378" alt="screen shot 2018-01-03 at 12 48 53 pm" src="https://user-images.githubusercontent.com/294597/34539221-8620ba68-f084-11e7-9d2f-fe59167efd1f.png">

After:
<img width="

[2018-01-03 20:55] adambom commented on #110
FYI, if anyone else is experiencing this problem, the workaround I found is to add a global post invocation handler like so:

[code]

[2018-01-10 20:10] SudoPlz opened #112 "Out of memory issue java.lang.OutOfMemoryError"
Here's what I received:

[code]

Using:
`"react-native": "0.51.0",`
`"instabug-reactnative": "2.1.2",`
Platform: Android

[2018-01-11 10:03] ZiadAyman commented on #112
Hey @SudoPlz We are on it!

[2018-01-11 10:11] ZiadAyman commented on #112
@SudoPlz Can you confirm with me you are using view hierarchy please?

[2018-01-11 13:51] SudoPlz commented on #112
Hey @ZiadAyman , nope I'm not.

This is were how I disable it:

`Instabug.setViewHierarchyEnabled(false); // disabling user view hierarchy`

[2018-01-11 15:04] ZiadAyman commented on #112
Let us do some modifications in `Instabug.setViewHierarchyEnabled(false);` and we can try.
I'll accelerate this as fast as I can and will get back to you with updates!

[2018-01-11 15:49] SudoPlz commented on #112
Awesome, I'll be waiting :) thank you.

[2018-01-12 12:00] #91 closed

[2018-01-12 12:24] ZiadAyman commented on #110
hey @adambom
Apologies for checking this late!
Thanks for the workaround, we'll definitely need to be fixing this from our side.

You mind telling me what instabug-react native SDK version you are on?

[2018-01-12 13:08] ZiadAyman commented on #112
Hey @SudoPlz
We fixed this and we released a custom build for you.
Please `npm install` this branch https://github.com/Instabug/instabug-reactnative#customBuild/disable_view_hierarchy

You might first need to un-link `instabug-reactnative` , install the custom build and then link `instabug-reactnative` back.

Please let me know how is it going!

[2018-01-12 13:11] SudoPlz commented on #112
You're the best but I'd love to know when that will make it into the actual build release. I'm not very fond of using custom builds, but if it takes more than a week I might have to.

[2018-01-12 20:19] SudoPlz commented on #112
Thanks a ton @ZiadAyman enjoy your weekend :)

[2018-01-13 14:33] ZiadAyman commented on #112
It's a pleasure Ioannis :)
Have a great weekend! @SudoPlz

[2018-01-14 21:10] adambom opened #113 "Add ios permissions instructions to documentation"
For ios, the sdk requires changes to info.plist privacy settings. The following is included in the ios sdk instructions, but it's not obvious that this is also required when using the react-native sdk. I'd suggest adding this text to the README:

# Microphone and Photo Library Usage Description

Instabug needs access to the microphone and photo library to be able to let users add audio and video a

[2018-01-19 09:45] pacamara opened #116 "Changes needed for gradle 3.0.1 compatibility"
Some minor changes are needed for gradle 3.0.1 compatibility: in android/build.gradle:
* Remove the `buildToolsVersion`, gradle now specifies a default and the current value conflicts with that.
* Declare dependencies using `api` not `compile` per https://developer.android.com/studio/build/gradle-plugin-3-0-0-migration.html#new_configurations

We are currently hacking these changes with a script i

[2018-01-22 11:04] ZiadAyman commented on #116
Hey @pacamara
Please accept my apologies on the late reply here!
We are on it.

[2018-01-22 15:29] ZiadAyman commented on #116
Can you try to install please this branch using
 npm install https://github.com/Instabug/instabug-reactnative#hotfix/gradle_3.0.1
and tell me if the issue is fixed or not?

[2018-01-22 16:22] ZiadAyman commented on #112
@SudoPlz Hey man,
This fixed and released on react-native 2.5.0 finally!

[2018-01-22 16:22] #112 closed

[2018-01-22 20:55] SudoPlz commented on #112
Amazing, thanks!!! :)

[2018-01-23 15:06] ZiadAyman commented on #113
hey @adambom
Thank you so much for reaching out with this. We'll be adding this shortly!

Thanks for notifying us one more time :)

[2018-01-23 15:06] #113 closed

[2018-01-24 12:06] pacamara commented on #116
@ZiadAyman Thanks! That leads to a build failure with
[code]
(on a fresh checkout, and with instabug removed from .gradle and .m2 directories). Any ideas?

[2018-02-01 09:30] #88 closed

[2018-02-02 10:46] EvianZhow opened #117 "`tmpdir` module should be required first when using Ruby 2.3.1"
[code]

Fixed according to similar steps: https://github.com/ydkn/capistrano-git-copy/issues/22

[2018-02-03 09:28] ZiadAyman commented on #117
Thanks @EvianZhow for pointing this out. We'll be adding it to our docs :)

[2018-02-12 09:43] edcrampin opened #119 "[Android] FileNotFoundException upon bug upload"
Hi,

Upon installing this library within my RN application, I managed to get everything working fine on iOS however on Android, upon the submission of bug reports, I'm receiving a java.io.FileNotFoundException when it seems to try and fetch the screenshot of the bug report. Stack trace below:

[code]

[2018-02-12 11:16] edcrampin commented on #119
Looking in to this a little more, it appears the `bug_1518427383402_.jpg` that could not be found is actually located under:
`/storage/emulated/0/Android/data/com.*.*/files/instabug/`
instead of
`/storage/emulated/0/Android/data/com.*.*/files/instabug/attachments`

[2018-02-12 22:54] ZiadAyman commented on #119
hey @edcrampin do you mind clearing your app data and give it another try? Let me know if you are still experiencing the same problem after it please.

[2018-02-13 09:21] edcrampin commented on #119
Hi @ZiadAyman still no luck, having even tried installing on different devices.

It manages to find the image during the preview screen of the bug, where the user can enter in details of the bug, but once submit is clicked it looks within the `instabug/attachments` directory but the file is not there, but instead the `instabug` directory.

[2018-02-13 13:17] ZiadAyman commented on #119
Do you mind telling me the react native SDK version you are currently on?

[2018-02-13 13:27] edcrampin commented on #119
Currently running on 0.51.0!

[2018-02-13 13:35] ZiadAyman commented on #119
I am sorry if I was not clear, I am trying to know your `instabug react-native` SDK version.

[2018-02-13 13:50] ZiadAyman commented on #119
Thank you! Will check this and get back to you.

[2018-02-13 13:55] ZiadAyman commented on #119
Can I have your instabug integration code please? Would be extremely helpful for us here.

[2018-02-13 14:12] edcrampin commented on #119
Inside my `getPackages`, in MainApplication.java:
[code]

Inside of my root React Native element's constructor I have:
[code]

And then to invoke Instabug I just have a TouchableOpacity around an Icon that runs `Instabug.invoke()`

[2018-02-13 14:16] ZiadAyman commented on #119
Thank you so much for collaborating here @edcrampin
We are working on it, will get back to you once everything is in place.

[2018-02-15 14:35] ZiadAyman commented on #119
Hey @edcrampin
We have been trying to reproduce this issue with no luck. Even with your exact integration steps everything is fine. So, do you mind if you can send a sample app please that has the problem so we can reproduce and debug this from our side?

[2018-03-06 15:54] NikoMontana opened #120 "Does it offer language support?"
Does this lib offers a language support for germany or is it only on english?

[2018-03-08 08:33] RWOverdijk commented on #2
I can 👍 this. Bugsnag does this beautifully. You can even upload a source map to get readable stacktraces! Of course, it doesn't have the awesome feedback feature.

[2018-03-08 18:22] natasha-robarge opened #121 "Invoking introMessage once per session?"
Hey, I just have a question- how can I invoke the introMessage popup only once in React Native?

I noticed that in the instabug-iOS library you guys have a way of doing this as specified in this ticket: https://github.com/Instabug/Instabug-iOS/issues/66

Is there any place I can look for a way of doing this in the documentation?
Thank you.

[2018-03-11 08:38] ZiadAyman commented on #120
Hey @NikoMontana
Yes the library supports multiple locales.

You can find all the languages supported on the `react-native` library from [here](https://docs.instabug.com/docs/react-native-locale).

[2018-03-11 08:40] ZiadAyman commented on #121
Hey @natasha-robarge
Apologies for the late reply on this.

Yes you can indeed.
Set `Instabug.setIntroMessageEnabled(false)` and then invoke the API `Instabug.showIntroMessage();` to invoke the SDK.

You can find all the details about this in out docs [here](https://docs.instabug.com/docs/react-native-invocation)

[2018-03-12 16:37] SudoPlz opened #122 "SIGSEGV in IBGMethodsLogger, Attempted to dereference null pointer."
Hey there,

today I received this in our bug reporter:

## Stacktrace

    SIGSEGV Attempted to dereference null pointer.
        Frameworks/CoreFoundation.framework/CoreFoundation -[__NSDictionaryM objectForKeyedSubscript:]
        Frameworks/InstabugCore.framework/InstabugCore -[IBGMethodsLogger addCountedMethodLog:isDeprecated:]
        Frameworks/InstabugCore.framework/InstabugCore __50-[IBGMe

[2018-03-13 14:25] Kmohamed commented on #122
Hi @SudoPlz,
Could you please send to me all complete stack trace ?

[2018-03-13 15:10] ricbermo opened #123 "iOS issue: Linking fails if project doesn't have a target named like the project"
Hi there,
I have `MyAwesomeProject` with 2 targets, staging and prod. As soon as I run `react-native link` the ruby script throws an error because I don't have a target named `MyAwesomeProject`.

Solution #1: Add a target named `MyAwesomeProject`.
Solution #2: in `link.rb`
[code]
Would love to send a PR.
Thanks in advance

[2018-03-13 15:56] SudoPlz commented on #122
That is the full stacktrace we received.

The only other info I have are the threads, not sure if that helps but there:

	Thread 0·
	/usr/lib/system/libsystem_kernel.dylib_mach_msg_trap
	/usr/lib/system/libsystem_kernel.dylib_mach_msg
	/usr/lib/system/libdispatch.dylib__dispatch_mach_msg_send
	/usr/lib/system/libdispatch.dylib__dispatch_mach_send_drain
	/usr/lib/system/libdispatch.dylib__dispatch_

[2018-03-13 15:57] Kmohamed commented on #122
@SudoPlz are you able to reproduce it ?

[2018-03-13 15:58] SudoPlz commented on #122
I received that in production, so I really have no idea how to reproduce this.

:/

[2018-03-13 22:35] ricbermo opened #124 "Swipe doesn't work was invocation event"
Not sure what else to add here, as the title is pretty self-explanatory.

My config:
[code]

I haven't tried on iOS since I don't have one iDevice to test.

[2018-03-14 10:28] SudoPlz opened #125 "SIGTRAPI BGUserStepsImagesLocalAttachment"
Hey there,

today I received this in our bug reporter:
## Steps to reproduce
1) Invoke instabug from screenshot invocation in iOS
2) Annotate on image (I wrote the word test with annotation lines)
3) Wrote the word Test
4) Pushed the send button
5) App crashed, and I received this stacktrace

I managed to make this happen a couple of times but it doesn't ALWAYS happen.

## Stacktrace

	SIGTRAP

[2018-03-14 11:07] Korazy commented on #123
Hey @ricbermo , this is currently planned for the next release. I will update you once it's resolved.

[2018-03-14 11:13] Korazy commented on #124
Hi @ricbermo, please let me check this and get back to you, thanks for pointing it out.

[2018-03-14 11:15] Korazy commented on #125
Hey @SudoPlz, thanks for pointing this out. Please let me check it and get back to you.

[2018-03-14 12:59] SudoPlz opened #126 "SIGSEGV Attempted to dereference null pointer"
Hey there,

today I received this in our bug reporter:

Can't give you reproduction steps as that took place randomly at one of our user devices in production.

## Stacktrace

    SIGSEGV Attempted to dereference null pointer.
        Frameworks/CoreFoundation.framework/CoreFoundation -[__NSDictionaryM setObject:forKeyedSubscript:]
        Frameworks/InstabugCore.framework/InstabugCore -[IBGServer

[2018-03-14 13:07] Korazy commented on #125
@SudoPlz Can you please send me the device memory and storage at the time of the crash?

[2018-03-14 13:09] SudoPlz commented on #125
For sure my friend, there:

    batteryLevel: 0.7900000214576721
    charging: 0
    freeDisk: 110911963136
    freeMemory: 33046528
    totalMemory: 1583923200
    jailbroken: false
    locale: en_GR
    manufacturer: Apple
    model: iPad Air 2
    modelNumber: J81AP
    orientation: portrait
    osName: iOS
    osVersion: 11.2.6
    timezone: null

[2018-03-14 13:10] Korazy commented on #125
Thanks! I'll pass it on and get back to you.

[2018-03-14 13:11] SudoPlz commented on #125
And that issue was created and discovered by me on one of my devices, so let me know if you need anything else.

[2018-03-14 13:11] Korazy commented on #125
Awesome, thanks again!

[2018-03-14 13:21] ricbermo commented on #123
@Korazy I'm closing the issue. Let me know if I should re-open it. Thank you!

[2018-03-14 13:21] #123 closed

[2018-03-14 13:30] Korazy commented on #123
It's no worries at all, happy to help.

[2018-03-14 15:22] Korazy commented on #124
@ricbermo can you please override this method in the MainActivity class and let me know how it goes?
``    @Override
    public boolean dispatchTouchEvent(MotionEvent ev) {
        InstabugTrackingDelegate.notifyActivityGotTouchEvent(ev, this);
        return super.dispatchTouchEvent(ev);
    }``

[2018-03-14 15:31] ricbermo commented on #124
@Korazy I'm getting errors. I guess I need to import something but not sure what.
1. Override error: Method does not override method from its superclass.
2.
![screen shot 2018-03-14 at 10 28 29 am](https://user-images.githubusercontent.com/2601363/37412256-91366306-2772-11e8-8cc3-cf186fdfc9af.png)
`MainActivity.java`
[code]

[2018-03-15 08:31] Korazy commented on #124
@ricbermo can you please try importing the following?
``import android.view.MotionEvent;
import com.instabug.library.InstabugTrackingDelegate;``

[2018-03-15 08:52] Korazy commented on #126
Hey @SudoPlz, thanks for reporting this too! We're also looking into fixing this right now. I will keep you updated.

[2018-03-15 10:36] Kmohamed commented on #125
@SudoPlz Hello my friend,
Till now you are opening three issues related to iOS so for
we already fixed all issues and will be included in the next Sunday release except this one. so could you please help me to reproduce this issue by integrating this [custom build](https://github.com/Instabug/instabug-reactnative/tree/custom/ios_logs)  and try to crash the app and send me all logs.

[2018-03-15 11:32] Kmohamed commented on #125
@SudoPlz one more thing could you please cal this method
    `[Instabug setSDKDebugLogsLevel:IBGSDKDebugLogsLevelVerbose];`

[2018-03-15 12:58] ricbermo commented on #124
@Korazy it did work. Thank you so much for your assistance!

[2018-03-15 12:58] #124 closed

[2018-03-15 14:05] SudoPlz commented on #125
Hi @Kmohamed
I'm using react-native, am I supposed to add that code to the native side?

[2018-03-15 14:06] Kmohamed commented on #125
Yes please.

[2018-03-15 17:38] Korazy commented on #124
@ricbermo Awesome, happy to help! Please get back to us if you need help with anything else :)

[2018-03-15 21:48] SudoPlz opened #127 "NSInvalidArgumentException IBGMethodsLogger"
Hey there,

another one that came in from one of our production devices.

## Stacktrace

    NSInvalidArgumentException *** -[__NSPlaceholderArray initWithObjects:count:]: attempt to insert nil object from objects[3]
        Frameworks/CoreFoundation.framework/CoreFoundation ___exceptionPreprocess
        /usr/lib/libobjc.A.dylib _objc_exception_throw
        Frameworks/CoreFoundation.framework/Co

[2018-03-16 00:16] Kmohamed commented on #127
@SudoPlz This also will be fixed in the next release.

[2018-03-16 00:55] Kmohamed commented on #125
@SudoPlz any updates ?

[2018-03-16 10:49] SudoPlz commented on #125
I integrated that custom build, and added the code, but I can't reproduce the issue..
¯\_(ツ)_/¯

You should probably add logs to the main sdk to get logs and info about crashes caused by instabug itself permanently.

[2018-03-17 00:08] cpetzel opened #128 "Calling Instabug.disable() in JS crashes Android app"
The internal `disable()` method in the SDK is executing on a background thread, and its trying to touch views, so Android will complain.

[code]

The disable method in Android should simply post a runnable on the main thread

[2018-03-17 20:10] SudoPlz opened #129 "NSInvalidArgumentException Cannot read file at file ..."
Hey there,

another one that came in from one of our production devices.

## Stacktrace

    NSInvalidArgumentException Cannot read file at file:///var/mobile/Containers/Data/Application/579FFC04-D4CF-45DC-AB73-61DD567EF198/Library/IBGTemp/2018031601580194353508
        Frameworks/CoreFoundation.framework/CoreFoundation ___exceptionPreprocess
        /usr/lib/libobjc.A.dylib _objc_exception_throw

[2018-03-17 21:28] Kmohamed commented on #129
@SudoPlz This also will be fixed in the next release.

[2018-03-18 12:29] Kmohamed commented on #129
@SudoPlz Fixed in the latest version.

[2018-03-18 12:29] #129 closed

[2018-03-18 12:29] Kmohamed commented on #127
@SudoPlz Fixed in the latest version.

[2018-03-18 12:29] Kmohamed commented on #126
@SudoPlz Fixed in the latest version.

[2018-03-18 12:29] #126 closed

[2018-03-18 12:29] Kmohamed commented on #122
@SudoPlz Fixed in the latest version.

[2018-03-18 12:29] #122 closed

[2018-03-18 12:30] #127 closed

[2018-03-18 12:30] Kmohamed commented on #125
@SudoPlz sure I will and Thanks a lot for your support my friend.

[2018-03-18 12:31] Korazy commented on #128
Hey @cpetzel, thanks for reporting this issue. We'll try to get it fixed as soon as possible!

[2018-03-20 19:52] fangpenlin opened #130 "addFileAttachment function is missing in the JS module"
`addFileAttachment` function is defined in the native iOS module

https://github.com/Instabug/instabug-reactnative/blob/5bfd6fab7d2b0b4da3e97d85af9c28877191df8b/ios/RNInstabug/InstabugReactBridge.m#L250-L252

but not defined in the index.js JS module

[2018-03-20 20:56] fangpenlin opened #131 "setPreSendingHandler seems to be not blocking and sometimes our attachment file is missing"
To workaround the `addFileAttachment` missing bug https://github.com/Instabug/instabug-reactnative/issues/130

We use the `addFileAttachment` function from native module directly in `setPreSendingHandler` callback like this

[code]

It works mostly, however we notice that sometimes the log file is not attached. I looked into the callback code

https://github.com/Instabug/instabug-reactnative/blob/

[2018-03-21 09:09] Korazy commented on #130
Hey @fangpenlin, thanks for reporting this. We'll check it from our side and get back to you!

[2018-03-21 09:10] Korazy commented on #131
Hi @fangpenlin, thanks for all the details. Let me check this and get back to you.

[2018-03-21 09:11] Korazy commented on #130
After checking this, we'll definitely be adding it to our next release.

[2018-03-21 09:11] #130 closed

[2018-03-21 09:28] Korazy commented on #131
So here are the details, @fangpenlin:
1- preSendingHandler will block sending report so any fileAttachment added will be send with the report
2- We have a limitation on file attachments with maximum size being 5 mb as you can see in the documentation. We also log to the console that the file size is exceeding the limit and will not be attached with the bug.
3- We are checking if the path and file

[2018-03-21 18:09] fangpenlin commented on #131
Hi @Korazy, `[self sendEventWithName:@"IBGpreSendingHandler" body:nil];` is async, as I said it returns immediately after queuing the event to be processed in the javascript thread, which implies it's async.

We're pretty sure the file size is less than 5MB and the file exists.

And yes, as `[self sendEventWithName:@"IBGpreSendingHandler" body:nil];` is async, the callback I passed to `setPreSendi

[2018-03-22 08:18] Korazy commented on #131
The issue is that there is no way for us to know if the async call completed. So the only workaround would be to rely on sync calls.

[2018-03-22 20:58] fangpenlin commented on #131
@Korazy To workaround this bug, I created a native React Native module using semaphore for blocking the `setPreSendingHandler` until `dispatch_semaphore_signal` is called. code like this

[code]

and the javascript code

[code]

And the usage:

[code]

But I ran into a problem, when I report via instabug with screenshot, after the `Thank you` alert shows up for a short while, the app crashes

![sc

[2018-03-22 21:47] fangpenlin commented on #131
hmmm https://github.com/envoy/instabug-reactnative  with the same approach but with the code change right inside instabug-reactnative native module, and it seems crash is gone.

[2018-03-22 21:47] Kmohamed commented on #131
Hello @fangpenlin
could you send me the exception name and full stack trace please ?

[2018-03-22 21:53] fangpenlin commented on #131
@Kmohamed sure

[code]

[2018-03-22 21:57] fangpenlin commented on #131
as my fork https://github.com/envoy/instabug-reactnative is working fine and it's doing exactly the same thing, so I guess maybe Instabug-iOS sdk is doing some initialization in terms of framework level. So when I create the native module inside my React Native app project directly, maybe somehow it creates another instance of instabug or some global initialization stuff. but anyway, just blind gu

[2018-03-22 22:12] Kmohamed commented on #131
@fangpenlin I don’t have experience with react but initializing Instabug twice will make a lot of trouble anyway let me check with cross platform team and get back to you

[2018-03-24 10:26] steffenmllr opened #132 "Instabug.invoke() does not work on android with react-native-navigation"
Hey there,

Trying to `Instabug.invoke()` the dialog on android and nothing is happening (works great on ios). Might be related to `react-native-navigation`.

My package.json

[code]

In my main tab component (constructor)

`Instabug.startWithToken('KEY', Instabug.invocationEvent.none);`

My MainApplication.java

[code]

[2018-03-24 11:34] #132 closed

[2018-03-26 14:27] yevhenjl opened #133 "Can't build app with instabug"
Building app was broken with error:
`

cbd10a94ca2fddb889852d14835614a5cf1578c76203a8586a733f3a1c341a98

warning: string 'instabug_str_dismiss' has no default translation.
warning: string 'instabug_str_record_audio' has no default translation.
warning: string 'instabug_str_survey_counter' has no default translation.
warning: string 'instabug_str_survey_thanks' has no default translation.
warning:

[2018-03-27 14:54] ZiadAyman commented on #133
hey @yevhenjl We are currently checking this for you and we'll get back asap! Thanks for reporting it.

[2018-03-28 01:58] ianataffinity commented on #133
Getting the same error.

[2018-03-28 01:58] normal1ze commented on #133
Getting the same error.

[2018-03-30 05:49] normal1ze commented on #133
@ZiadAyman any word on this? I am getting this error too when I try and do a release build. Works fine in debug / emulator. (Android)

[2018-03-30 11:57] ZiadAyman commented on #133
@normal1ze We are currently working on a fix for this. Apologies for taking sometime here. Will keep you posted!

[2018-03-30 23:01] ianataffinity commented on #133
@ZiadAyman Seems there was a problem with memory in the Garbage Collector when running a release build. I had to increase the memory in the gradle.properties file to fix it:

`org.gradle.jvmargs=-Xmx1536M`

It now seems to build find without the error.

[2018-03-31 00:09] gianpaj opened #134 "build issue on Android"
`android/app/build.gradle`
[code]

Error:
[code]

[code]

[2018-03-31 05:52] peacechen opened #135 "Add enable/disable support for iOS"
The `enable`/`disable` methods currently only work for Android.  It would be helpful to support iOS for true cross-platform code.  Our app has a menu option to enable or disable the shake-to-invoke action since it can be intrusive during regular use.
There's a hacky work-around in #84.  Hoping that Instabug will fix this for all platforms.

[2018-03-31 06:51] peacechen opened #136 "Build warnings (no default translation)"
Building the app produces these warnings:

[code]

[2018-03-31 15:17] peacechen commented on #134
The number of methods in your app has exceeded 65536.  This includes 3rd party libraries.
https://stackoverflow.com/questions/26515378/dexindexoverflowexception-issue-after-updating-to-latest-appcompat-and-support-l

Add `multiDexEnabled true` to build.gradle

[2018-03-31 15:29] peacechen opened #137 "(React Native) How to disable crash reporting but leave user feedback operating"
Is there a way to disable just crash reporting, while leaving the user feedback operational?

One of our apps has been built with another crash reporting tool.  We have opted to leave that in place since it's already implemented and there are features that Instabug doesn't have yet.

[2018-03-31 15:47] peacechen opened #138 "Repeated use of blur tool crashes app with OutOfMemoryError"
In the screenshot editing window of `Report a Problem`, repeatedly using the blur tool crashes the app.  It takes about 12-15 times (sometimes the tool moves an existing blur patch instead of creating a new one).

Physical device (Nexus 6, Android 7.1.2)
react-native 0.53.3
instabug-reactnative 2.8.1

[2018-03-31 16:08] peacechen commented on #138
Crash reporting tool shows `OutOfMemoryError`

[code]

[2018-03-31 16:50] gianpaj commented on #137
see
https://docs.instabug.com/docs/react-native-popups#section-prompt-options
[code]

[2018-03-31 16:54] gianpaj commented on #134
multiDexEnabled doesn't work.
the build goes for 10min and doesn't finish.
I had to kill it

[2018-03-31 17:05] peacechen commented on #137
@gianpaj
We want to leave the user feedback operational, but disable the automated crash reporting (when the app crashes).

[2018-03-31 17:39] gianpaj commented on #137
oh, i see.

in iOS:
https://docs.instabug.com/docs/ios-crash-reporting#section-disabling-and-enabling
[code]

On Android:
https://docs.instabug.com/docs/android-crash-reporting#section-disabling-and-enabling
[code]

[2018-03-31 17:44] peacechen commented on #137
Thanks for the documentation links 👍

It would be even better if those methods were exposed to the RN JS API so that crash reporting can be set through RN.  That would allow toggling it in the UI.

[2018-03-31 20:59] peacechen commented on #137
It appears that iOS crash reporting is disabled when using the RN library:
https://github.com/Instabug/instabug-reactnative/blob/cbf6c2d5d88485627bfbf18b90cd5272f459a019/ios/RNInstabug/InstabugReactBridge.m#L37

[2018-04-01 09:30] ZiadAyman commented on #137
hey @peacechen
Apologies for replying to this a bit late!

Is everything going good at your end right now?

[2018-04-02 09:18] ZiadAyman commented on #133
@ianataffinity Perfect. Glad all is going good now and apologies for taking sometime here investigating this!
@normal1ze @yevhenjl let me know please if what @ianataffinity suggested is not working for you.

[2018-04-02 09:18] #133 closed

[2018-04-02 13:40] peacechen commented on #137
I spoke too soon.  The method `setCrashReportingState` doesn't appear to be available in the RN library.

[code]

RN Instabug builds and works without that.
Snippet:
[code]

[2018-04-03 09:43] heba-khazbak opened #139 "How to enable crash reporting in Android ?"
Hello
I want to enable crash reporting in Android but it is disabled by default in this commit
https://github.com/Instabug/instabug-reactnative/commit/7af99f00d429a6fd57ea440f6939000ac0ed985e#diff-72d8d39cae19a742f99cd0a5bbfbe46c

and I can't find a function to enable it, for example function like this "setCrashReportingState(true)"

[2018-04-03 11:07] ZiadAyman commented on #137
@peacechen RN Crash reporting is not supported yet and there is no JS API to disable it for now. We disabled crash reporting in RN from the native SDK so its by default disabled in RN.

Hopefully once crash reporting is supported on RN which is very soon, there will be a disable and enable JS API for it :)

Let me know if any further assist is needed here!

[2018-04-03 11:07] #137 closed

[2018-04-03 13:25] peacechen commented on #139
It's not yet supported by the RN library
https://github.com/Instabug/instabug-reactnative/issues/137#issuecomment-378212739

[2018-04-04 18:15] peacechen opened #140 "<MyApp> is not using the latest version of the SDK. Please update to version to be able to use all the features. View Changelog."
Message links to a changelog. Example:
`https://dashboard.instabug.com/applications/<MyApp>/beta/changelog`

[code]

Our app is using the latest `instabug-reactnative` 2.8.1.
Will this cause any reporting issues?

[2018-04-05 15:26] chadyj commented on #140
I'm also having this problem. Support suggested it could be a cache issue on their end, but I still see the message after a week.

[2018-04-05 17:12] ricbermo opened #141 "setIntroMessageEnabled not working"
Hello, it looks like `Instabug.setIntroMessageEnabled(false)`
This is what I have

[code]
[code]
<img width="425" alt="screen shot 2018-04-05 at 12 00 27 pm" src="https://user-images.githubusercontent.com/2601363/38380809-7a878afe-38ca-11e8-9d19-db29897d92ae.png">

[2018-04-08 21:17] viniciusvieir commented on #116
I got the same error. Any solutions?

[2018-04-13 22:13] ricbermo commented on #141
@ZiadAyman @Korazy  I'm sorry to ping you directly but I think this is a very important bug.

[2018-04-14 11:15] ZiadAyman commented on #141
Hey @ricbermo
Please accept our apologies for the late reply on this here!

So setting the intro message to false using `Instabug.setIntroMessageEnabled(false)` doesn't do the job and you still see the intro message? Is this consistent even if you clear your cache and app data? Let me know if its persistent please so we can double check the API's logic from our side.

Thanks for the patience and t

[2018-04-14 14:37] ricbermo commented on #141
Hello, @ZiadAyman and thanks for your quick response.
Yes, it is not working even after deleting and reinstalling it (`react-native run-ios`).
I thought this was an iOS-only issue but I noticed is happening on Android also.

[2018-04-15 09:02] ZiadAyman commented on #141
@ricbermo Thank you so much for the clarification.

We'll be running some tests and checking this from our side. I will ping you back here for after findings/fixes.

[2018-04-16 15:46] MatthieuPeyrot opened #142 "Question: Implementing Push Notifications ?"
Hi,

I was wondering if you are going to implement the push notification on instabug-reactnative like it's implemented on android :

https://docs.instabug.com/docs/android-in-app-chat

and iOS:

https://docs.instabug.com/docs/ios-in-app-chat

[2018-04-16 16:09] SudoPlz opened #143 "Could not invoke Instabug.logUserEventWithNameAndParams"
Hey there,

we recently received the following crash from one of our devices in production:

[code]

and here are a couple of breadcrumbs right before the issue:

<img src="https://cl.ly/1B451i0y2l3f/Image%202018-04-16%20at%207.10.12%20PM.png" />

"instabug-reactnative": "2.8.0",
"react-native": "0.53.3",
Device: Physical, Android 8.0.0 API 26 Samsung Galaxy Note 8 N950U

[2018-04-17 09:50] chadyj opened #144 "logUserEventWithNameAndParams not working"
We are sending events events using:
`Instabug.logUserEventWithName("OnFeedbackButtonClicked")` and `Instabug.logUserEventWithNameAndParams("OnFeedbackButtonClicked",{"key": "value"});`
but no events are showing in the Dashboard.

Version `2.8.1`.

This is blocking us here https://github.com/status-im/status-react/pull/3807

Reported this issue to support and heard back:

but then haven't heard any

[2018-04-17 10:16] Korazy commented on #144
Hey @chadyj,

I just replied to you on the support channel. The issue with the user attributes should be resolved now, but we’re still working on a fix for the user events. I will keep you updated regarding the progress of the fix.

[2018-04-17 13:02] Sammekl opened #145 "Release 2.9.0: java.io.IOException: Duplicate zip entry [android/support/design/widget/CoordinatorLayout$1.class]"
Hi,

Our project automatically upgraded to the new `instabug-reactnative` release `2.9.0` this caused an issue during proguard obfuscation:

[code]

Downgrading to `2.8.1` or `2.8.0` resolves this issue

We are including this dependency using yarn and react-native-link and therefore are not in control of included dependencies. Do you have any solution for this issue, or is this something on your e

[2018-04-17 14:43] salmatarzi commented on #145
Can you please try cleaning and rebuilding again your project?

[2018-04-18 09:35] salmatarzi commented on #145
Did you try to install this version on another sample project and it didn't work?

[2018-04-18 17:13] Korazy commented on #134
Hey @gianpaj

Sorry for the late response, does the main application class also extend MultiDexApplication?

[2018-04-18 17:15] Korazy commented on #135
Hey @peacechen

Apologies for the late response. Can you please clarify which disable/enable methods you mean? Just to make sure we're on the same page :)

[2018-04-18 17:16] Korazy commented on #136
Hey @peacechen

Thanks for pointing that out, we'll definitely look into it!

[2018-04-18 17:18] Korazy commented on #138
@peacechen thanks for pointing this out as well! We'll look into fixing this as soon as possible. I will keep you updated with the progress on it!

[2018-04-18 18:18] peacechen commented on #135
`Instabug.enable()` and `Instabug.disable()`

[2018-04-18 18:30] gianpaj commented on #134
I removed Instabug, I couldn't manage to fix it. I'll try again one day

[2018-04-18 18:32] Korazy commented on #134
@gianpaj I'm sorry to hear that. We hope that you join us again in the future :)

[2018-04-18 18:32] #134 closed

[2018-04-18 18:34] Korazy commented on #135
@peacechen thanks for the clarification. We'll definitely look into adding that in the future. You can change the invocation method on the fly if that using the APIs [here](https://docs.instabug.com/docs/ios-invocation#section-changing-the-invocation-event) if that helps.

[2018-04-18 19:43] peacechen commented on #135
Is `setInvocationEvent` exposed through the JS interface?  I don't see it in the code but maybe I'm missing something.  It's not practical to call native iOS methods from the RN side of the app.

[2018-04-18 19:44] Korazy commented on #135
Oh apologies, I got confused and thought this was for a native iOS app. Sorry for that :)

[2018-04-19 15:25] peacechen commented on #138
This bug appears to be on Android only.  I've tested creating over 20 blur regions on iOS and haven't been able to get it to crash.

[2018-04-23 13:53] christophercotton opened #146 "iOS missing IBGStringThankYouAlertText"
From the constants:
[code]

It is missing that value in the enums:

[code]

Which means we can't customize the value in our app. Can you add that missing enum?

[2018-04-23 16:31] Korazy commented on #146
Hey @christophercotton

Thanks for pointing that out! Let me show it to the team and get back to you when there is an update for it.

[2018-04-23 21:39] SudoPlz commented on #125
Let me know if that helps:

![image](https://user-images.githubusercontent.com/3070948/39154708-dfb04506-4757-11e8-8ba5-588c286e9021.png)

Looks like the user started typing something, then hid the window and the crash happened.

[2018-04-24 00:59] esprehn opened #147 "clearLogs is missing from JS API"
There's no clearLogs method here, though it's mentioned in all the comments:
https://github.com/Instabug/instabug-reactnative/blob/master/index.js

But it does exist in the java code here:
https://github.com/Instabug/instabug-reactnative/blob/d1b9d41008d30ad0222fee56a9296d27f4dd8c6c/android/src/main/java/com/instabug/reactlibrary/RNInstabugReactnativeModule.java#L751

Seems it's missing for iOS th

[2018-04-24 08:26] Kmohamed commented on #125
@SudoPlz I am not aware of this view structure
Could you send to me a stacktrace ?

[2018-04-24 11:09] SudoPlz commented on #125
Oh the stacktrace is still the exact same as the one in the first message https://github.com/Instabug/instabug-reactnative/issues/125#issue-305100969
nothing changed, I just added a couple of breadcrumbs that we received along with the stacktrace.

Think of it as repro steps coming from bugsnag.
This is not a view structure, it's a series of events starting from the newest to the oldest.

[2018-04-24 11:38] Kmohamed commented on #125
@SudoPlz Thanks a lot for the info I will take a look on it

[2018-04-26 11:28] Kmohamed commented on #125
@SudoPlz I succeed to reproduce the issue and it will be included in the next release (Next Sunday)
Thanks  a lot for your support.

[2018-04-26 16:25] SudoPlz commented on #125
You're the best, thanks @Kmohamed

[2018-04-27 10:08] chadyj commented on #144
Hope the fixes are going well? It has been about a month since we tried to get surveys running and we've wasted a lot of time.

Can you give us update on the timing? If you are working on a fix, then great! It would be useful to know. If this isn't on your radar we can start looking for a replacement. Either way please post an update :-)

[2018-04-28 11:57] Korazy commented on #144
Hey @chadyj, please accept my apologies for this delay. The issue on our end is quite complex but the engineering team is hard at work on he fix. It's definitely an important issue to us which is why we're trying to fix it as soon as possible!

[2018-04-30 07:05] Sammekl commented on #145
Yes, it depends if you are using the support library or not. This is still an issue on 2.10.0

[2018-04-30 09:12] salmatarzi commented on #145
Can you please send us a sample app that has this error on contactus@instabug.com, to be able to debug this further?

[2018-04-30 17:30] CodyBrouwers commented on #141
Looking for a fix for this as well, thanks!

[2018-05-01 08:11] Sammekl commented on #145
I wanted to use your sample project but the project seems to be broken. I'm getting the following error while building:

`InstabugSample/node_modules/instabug-reactnative/android/build/intermediates/bundles/release/R.txt (No such file or directory)`

[2018-05-03 02:51] MikaOY opened #148 "Android build failure"
I'm building my react native app with Instabug using VS App Center, and these are the errors I get.
<img width="876" alt="build errors preview" src="https://user-images.githubusercontent.com/20500156/39558269-c68a2532-4ebf-11e8-995d-bfa14e4fa670.png">
Full logs available here:
[logs_19.zip](https://github.com/Instabug/instabug-reactnative/files/1969516/logs_19.zip)

[2018-05-04 09:53] ld-ucaya commented on #148
Hi,

I get the same errors when trying to upgrade from 2.7.1 to 2.10.0, with RN 0.55.3.
I tried to change `compileSdkVersion` and `targetSdkVersion` to 27,  `buildToolsVersion` to 27.0.3 and version for appcompat-v7 to 27.0.2, but I still get those same errors.

[2018-05-04 12:39] mierz00 commented on #148
+1 Getting the exact same errors. I also tried changing the versions but no luck.

[2018-05-05 20:40] MaFranceschi commented on #148
I got the same error and that didn't happen before if someone knows how to fix it please let us know. I'm trying with the 2.9.0 of the library.

[2018-05-05 22:51] nerjok opened #149 "-"

[2018-05-07 10:18] salmatarzi commented on #147
@esprehn Thank you for noticing this, we'll make sure to add it in our next release, and I'll keep you posted! 🙏🏽

[2018-05-07 10:24] salmatarzi commented on #2
@RWOverdijk  @jozan @SudoPlz @shercoder JS stack traces is now supported on version 2.11.0 ✨🎉

[2018-05-07 10:24] #2 closed

[2018-05-07 10:30] salmatarzi commented on #148
@MikaOY Can you please send me your project level, and app level build.grade files?

cc: @MaFranceschi @mierz00 @ld-ucaya

[2018-05-07 11:34] RWOverdijk commented on #2
@salmatarzi Cool! Blog post?

[2018-05-07 12:35] #149 closed

[2018-05-07 13:43] #125 closed

[2018-05-07 13:45] #135 closed

[2018-05-07 13:49] Korazy commented on #138
@peacechen We added the snapshot for the custom build in native. You should install using this command:

`npm install https://github.com/Instabug/instabug-reactnative#custom/blur_fix`
Its important to do the following in Android first so you can pull from snapshots: Please go to the project level build.gradle file which they can find in this path YourProjectName/android/build.gradle and add these

[2018-05-07 13:49] #138 closed

[2018-05-07 13:51] peacechen commented on #135
Hoping this has been implemented since the issue was closed.  If not, someone else will likely create a dup since closed issues are less likely to be seen.

[2018-05-07 13:51] peacechen commented on #136
Which release was this fixed in, or is planned to be fixed in?

[2018-05-07 13:53] Korazy commented on #135
@peacechen we've communicated the request to the product team and they're checking the possibility of adding it in the future. If more people open issues regarding this it would be very helpful for us since it would expedite the process even more :)

[2018-05-07 13:54] peacechen commented on #138
I'll try it out.  Thanks @Korazy

[2018-05-07 13:57] Korazy commented on #140
@peacechen @chadyj does the banner still show up? A fix should be in place.

[2018-05-07 13:59] Korazy commented on #143
Hey @SudoPlz

Is this issue still occurring for you with the latest release?

[2018-05-07 13:59] Korazy commented on #144
Hey @chadyj

Apologies for the delay, the issue should now be resolved. Please let me know if everything is in place on your end :)

[2018-05-07 13:59] #144 closed

[2018-05-07 14:00] SudoPlz commented on #143
Hey @Korazy I'll have to check to be sure, I have no idea atm..

[2018-05-07 14:06] SudoPlz commented on #2
- Also does it work for both iOS and Android?
- And do we have to upload sourcemaps?

[2018-05-07 14:11] Sammekl commented on #145
I found the issue in your code. You are not excluding the com.android.support group with module 'design' in your build.gradle.

Any chance this will be fixed soon? This project is unusable when your app relies on support design package..

[2018-05-07 14:16] peacechen commented on #140
It is still showing
![image](https://user-images.githubusercontent.com/6295083/39706463-2884fd38-51d7-11e8-89bb-43726795f06a.png)

Our app is on Instabug RN 2.9.0.  Haven't had the opportunity to update to 2.11.

[2018-05-07 14:26] Korazy commented on #135
@peacechen that's a good point. I see most of the issues on Github before anyone else in the team has a chance so it's not a problem, however, since this is the first issue asking for this, it's also a way to gauge how requested the feature is.

[2018-05-08 13:36] MikaOY commented on #148
@salmatarzi I actually fixed the problem and removed the error after a lot of tinkering. Now, the app builds fine, but there are some errors with launching on a physical device, but I think they're unrelated to this.
Here's my project level .gradle file:
[code]

And this is my app-level .gradle
[code]

[2018-05-10 05:48] imVinayPandya commented on #119
@ZiadAyman i have found the same bug for instabug cordova SDK https://github.com/Instabug/instabug-cordova/issues/53.

[2018-05-10 05:52] RobertSasak opened #150 "Removing WAKE_LOCK permissions cause app to hang at start"
How is the WAKE_LOCK permission used? Can we make instabug work without this permission?

[2018-05-11 15:24] RobertSasak opened #151 "Redux integration"
I am currently looking into redux integration. I would like to include all redux state changes into crash report. Has anybody deal with similar problem?

[2018-05-13 18:29] Korazy commented on #150
Hey @RobertSasak

It is required to be there for Instabug to work as we introduced this to fix a background services issue on Android Oreo

[2018-05-13 18:29] #150 closed

[2018-05-13 22:58] abrel opened #152 "[CRASH] EXC_BAD_ACCESS KERN_INVALID_ADDRESS"
Some of my iOS users (iOS 11) are experiencing this crash

[code]
Instabug-react-native version: 2.9.0

[2018-05-13 23:06] Korazy commented on #152
Hey @abrel

Thanks for pointing that out! Can you please update to the latest version of the SDK and let me know if these crashes still occur?

[2018-05-14 10:56] ld-ucaya commented on #148
@salmatarzi Here is my project-level build.gradle:
[code]

And the app-level one:
[code]

[2018-05-15 05:38] KubaGL commented on #141
Looks like `setIntroMessageEnabled` works fine when it's called after `startWithToken`.

[2018-05-15 14:30] VincentLanglet opened #153 "No index.d.ts"
There is no index.d.ts for typescript users.
Are someone on it ? I'm ok for doing it.

[2018-05-16 09:01] Korazy commented on #141
Hey @KubaGL, @CodyBrouwers, @ricbermo

It would indeed work if its called after `startWithToken`. Most Instabug calls should be done after `startWithToken` is called.

[2018-05-16 09:01] #141 closed

[2018-05-16 10:43] kamelnabil opened #154 "Test Issue"

[2018-05-16 10:45] #154 closed

[2018-05-16 10:45] kamelnabil opened #155 "Test Issue 2"

[2018-05-16 10:46] #155 closed

[2018-05-16 10:47] kamelnabil opened #156 "Test 3"

[2018-05-16 10:56] #156 closed

[2018-05-17 18:19] abrel commented on #152
No problem!
I have been in production for 3 days with 2.11.1 so far no crash :)
I will let you know if I see this crash happening again

[2018-05-18 15:12] MatthieuPeyrot opened #157 "issue conflict build.gradle android"
Hi

I got an issue when I update to the last version instabug-reactnative. I was in 2.8.1 and upgrade to 2.11.2. it builds but when I start the app it crashes. Well it's not you who crash it's another module that I use react-native-track-player.
I found a way to fix it , in your build.gradle you add

[code]

i simply change the line where it was before

[code]

and it's working, i have no issue on

[2018-05-18 21:05] Korazy commented on #153
Hey @VincentLanglet

Thanks for reaching out, please let me check this and get back to you.

[2018-05-18 21:09] Korazy commented on #152
That's great to hear! Please let us know if the crash happens again. Thank you!

[2018-05-18 21:09] #152 closed

[2018-05-22 11:10] Sammekl commented on #157
[Same issue as here](https://github.com/Instabug/instabug-reactnative/issues/145)

[2018-05-23 10:46] #121 closed

[2018-05-23 10:46] #120 closed

[2018-05-23 10:48] #110 closed

[2018-05-23 21:36] jamesreggio commented on #110
@kamelnabil Was this fixed?

[2018-05-24 10:57] Korazy commented on #157
Hey @Sammekl @MatthieuPeyrot

The reason we exclude the v7 because we have version 27 of it and we didn’t want it to conflict with other dependences that uses older version of the support library v7

[2018-05-24 10:57] #157 closed

[2018-05-26 07:51] vladbars opened #158 "[iOS] App crashes in release mode"
App crashes on send issue to instabug.
"Message from debugger: Terminated due to memory issue" - message in console.

"react": "16.3.1"
"react-native": "0.55.3"
"instabug-reactnative": "2.11.2"

[2018-05-26 08:47] vladbars commented on #158
**UPDATE:**  `Instabug.setViewHierarchyEnabled(false); ` fixed this issue

[2018-05-26 08:47] #158 closed

[2018-05-28 12:11] Korazy commented on #148
Hey @MikaOY @MaFranceschi @mierz00 @ld-ucaya

This issue should now be fixed in the latest release. Can you please check and let me know if everything is in order?

[2018-05-28 12:30] #143 closed

[2018-05-28 12:47] MikaOY commented on #148
@Korazy Works fine for me, but I tinkered a lot with the previous version to make it work, so I might not be the best indicator.

[2018-05-29 09:57] Korazy commented on #140
hey @peacechen

I just wanted to confirm if this issue is resolved for you.

[2018-05-29 10:06] Korazy commented on #136
@peacechen this should now be fixed in the latest release, can you please give it a go and let me know if everything is working fine on your end?

[2018-05-29 10:06] #136 closed

[2018-05-29 11:21] Korazy commented on #128
@cpetzel apologies for the delay. This should be resolved in the latest release.

[2018-05-29 11:21] #128 closed

[2018-06-01 15:00] peacechen opened #160 "2.12.0 java.lang.NullPointerException: Attempt to invoke virtual method 'void com.instabug.library.e.d()' on a null object reference"
Getting this error with the current Instabug RN library on Android (v2.12.0):
[code]

[2018-06-02 22:09] YahyaQandel opened #161 "'Instabug/Instabug.h' file not found"
I have been working for 2 days in this issue, the build always fails and gives me this error on iOS"'Instabug/Instabug.h' file not found"

attached screenshots for the build log and package.json

![screen shot 2018-06-02 at 11 50 48 pm](https://user-images.githubusercontent.com/8913666/40881251-18906520-66c2-11e8-89d4-feca3ad27cd4.png)
![screen shot 2018-06-02 at 11 51 06 pm](https://user-images.g

[2018-06-03 17:28] djhr opened #162 "Crash on iOS8"
Seems current InstabugCore is not compatible with iOS8

[code]

RN Version: 0.55.4
Module version: 2.12.0

Since RN still supports iOS8, would be nice not break the compatibility

[2018-06-04 11:14] Korazy commented on #160
Hey @peacechen

Thanks for reporting this, is this on the latest version of our RN SDK?

[2018-06-04 11:31] Korazy commented on #162
Hey @djhr

Thanks for reaching out! We don't support iOS 8 unfortunately so that is causing the crash. Sorry for the inconvenience.

[2018-06-04 11:31] #162 closed

[2018-06-04 11:47] Korazy commented on #161
Hey @YahyaQandel

Thanks for reaching out. Can you please try upgrading to the latest version (2.12.0) and let me know if that works for you?

[2018-06-04 12:49] YahyaQandel commented on #161
@Korazy
Thanks for your reply but unfortunately it doesn't work after i upgraded to 2.12.0
it succeeds on android but fails on iOS .

[2018-06-04 16:35] SudoPlz opened #163 "Can't upgrade to 2.12.0 ENOTDIR: not a directory"
Whenever I run

`yarn upgrade instabug-reactnative@2.12.0` I get:

error An unexpected error occurred: "ENOTDIR: not a directory, lstat `'/Users/SudoPlz/Development/App/mobile/node_modules/instabug-reactnative/ios/InstabugCore.framework/IBGActionSheetVC-iPhone.nib/objects-11.0+.nib'".`

Any idea why?

[2018-06-05 15:14] Korazy commented on #160
Hey @peacechen

We have a fix planned for this in next weeks release. Please let me know if you would like a custom build until then.

[2018-06-05 16:52] peacechen commented on #160
Thanks for the update @Korazy .  No rush, I can use the prior version for now.

[2018-06-06 15:47] YahyaQandel commented on #161
any updates ?

[2018-06-07 11:41] Korazy commented on #116
Hey @viniciusvieir @pacamara

Can you go to the project level build.gradle file which they can find in this path YourProjectName/android/build.gradle and add these lines:

maven {
            // TODO add this only if interested in getting SNAPSHOT releases
            url "https://oss.sonatype.org/content/repositories/snapshots"
}

Let me know if it works for you :)

[2018-06-07 11:42] #117 closed

[2018-06-07 11:44] #119 closed

[2018-06-07 11:45] Korazy commented on #119
@edcrampin i'll go ahead and close this issue. Please feel free to reopen this issue if it still exists for you on the latest version :)

[2018-06-07 11:47] #140 closed

[2018-06-07 11:50] Korazy commented on #145
@Sammekl is this issue fixed for you? I will close it for now, if it's still ongoing, please feel free to reopen it.

[2018-06-07 11:50] #145 closed

[2018-06-07 11:52] Korazy commented on #148
Awesome, i'm happy to hear that! Please feel free to reach out to us if you run into any other issues :)

[2018-06-07 11:52] #148 closed

[2018-06-07 11:53] Korazy commented on #153
Hey @VincentLanglet

We've replied on the PR so i'll be closing this one :)

[2018-06-07 11:53] #153 closed

[2018-06-07 11:56] Korazy commented on #161
@YahyaQandel Apologies for the delay. We were unable to reproduce the issue on our end. Would you be able to send us a sample application contactus@instabug.com so we can debug the issue further?

[2018-06-07 11:56] Korazy commented on #163
Hey @SudoPlz

Thanks for reaching out to us with this. We're looking into it and will get back to you as soon as possible!

[2018-06-11 09:13] YahyaQandel commented on #161
Finally we found that XCode reads the instabug-reactnative package from inside iOS path
**YOUR_APP/ios/node_modules/instabug-reactnative/ios/Instabug.framework**
 .. image attached

![screen shot 2018-06-11 at 11 08 11 am](https://user-images.githubusercontent.com/8913666/41222734-1c3d2486-6d68-11e8-8710-0bfe4a6a4325.png)

[2018-06-12 17:12] sebirdman commented on #160
I just hit this as well.

Any update on when the fix will be in?

[2018-06-13 14:02] MatthieuPeyrot opened #165 "setPrimaryColor doesn't work on android"
Hi

I try to use the setPromaryColor, it's working on iOS but it doesn't change the color on android. I have de default color. I'm on the version 2.13.0 of instabug-reactnative. Do you have any idea?

[2018-06-13 15:06] juanamd commented on #163
Still happening on version 2.13.1:

`error An unexpected error occurred: "ENOENT: no such file or directory, copyfile 'C:\\Users\\Juan\\AppData\\Local\\Yarn\\Cache\\v1\\npm-instabug-reactnative-2.13.1-cb01061cf1cab9eac1e08b63e6b62276f8653237\\ios\\InstabugCore.framework\\IBGActionSheetVC-iPhone.nib\\objects-11.0+.nib' -> 'C:\\Users\\Juan\\development\\vixjs\\react-native\\ZeldaAlarm\\node_modules\

[2018-06-13 16:11] Alex100 commented on #91
It is possible to change the status bar color: Paste these lines after setting the theme:
`import com.instabug.library.settings.SettingsManager;`

`SettingsManager.getInstance().setStatusBarColor(ResourcesCompat.getColor(getResources(), R.color.focus_red_dark, null));`

However, changing the brightness of the status bar icons is not possible. Instabug must provide a light theme with dark action ba

[2018-06-13 19:43] SudoPlz commented on #91
@Alex100 where do you run this code?

I added
[code]
 inside the `onCreate` in `MainApplication.java` and I get

[code]

[2018-06-13 20:39] SudoPlz commented on #91
Ok I ran this code in createAdditionalReactPackages and it worked.. But yeah, it's in light theme mode.

[2018-06-14 12:58] Korazy commented on #161
@YahyaQandel so everything is working fine now?

[2018-06-14 13:16] Korazy commented on #163
Hey @SudoPlz @juanamd

Would it be possible to perhaps get a sample app with this error?

[2018-06-14 19:15] SudoPlz commented on #163
@Korazy ☝️

[2018-06-14 19:16] modularity opened #166 "Android microphone permission"
Hi the library makes a note that microphone permission is required for iOS but doesn't mention for Android. Is it possible to make recording audio optional when the user provides feedback? I

[2018-06-14 19:58] fernandofranca opened #167 "Can't build Android version"
Build fails with the following messages:
[code]

[code]

android/app/build.gradle:
[code]

android/build.gradle:
[code]

[2018-06-16 14:55] havard024 opened #168 "How to set the secured property of a view"
In the documentation of `Auto Screen Recording` in mentions that you could set the `secured` property of any view to exclude user sensitive data.

What does it mean to set the `secured` property of any view and how do you do it?

[2018-06-18 15:33] MatthieuPeyrot commented on #142
@Korazy Any update on this ?

[2018-06-19 13:11] SudoPlz commented on #163
Any news with that?

[2018-06-19 17:15] SudoPlz commented on #143
@Korazy this is still happening on instabug-reactnative 2.10.0, on which version is it fixed?

[2018-06-20 08:58] MatthieuPeyrot opened #169 "littlte issue in the bug reporting"
Hi We find a little issue in the bug reporting. on iOS, when we try to select or hold on the screen the contextual menu(copy, past etc) appears on the top left corner.

![img_b731d458edab-1](https://user-images.githubusercontent.com/22000269/41648258-b2b9aa4e-7478-11e8-9c96-8604b538eff5.jpeg)

i'm on instabug-reactnative version 2.13.1

[2018-06-20 09:03] Korazy commented on #142
Hey @MatthieuPeyrot

Not as of yet unfortunately.

[2018-06-20 09:03] Korazy commented on #169
Hey @MatthieuPeyrot

Thanks for reporting this. There's currently a fix planned for this issue that should be released in the next version :)

[2018-06-20 09:06] Korazy commented on #163
Hey @SudoPlz

Please accept my apologies for this delay. Our engineers are currently working on a fix for it!

[2018-06-20 09:08] Korazy commented on #143
@SudoPlz I'm not sure the exact version number but it was definitely later than 2.10.0. Fix should be around version 2.13.

[2018-06-20 16:00] Korazy commented on #165
Hey @MatthieuPeyrot

Does this issue also occur on version 2.13.2?

[2018-06-21 07:53] RobertSasak opened #170 "Remember to add instabug to proguard-rules.pro"
If you are using proguard then remember to add *instabug* to *proguard-rules.pro*.
Error looks like this
[code]

And this this is how you fix it in *proguard-rules.pro*
[code]

[2018-06-21 07:54] #170 closed

[2018-06-21 08:46] MatthieuPeyrot commented on #165
@Korazy yes it does

[2018-06-22 15:22] watadarkstar commented on #160
I also have this issue, I submitted a report to instabug via Intercom. Please notify us when this is fixed @Korazy !

[2018-06-24 14:59] salmatarzi commented on #163
@SudoPlz @juanamd I think this could be something related to Yarn, I found a few threads on their github page concerning this issue, I don't know if you've came across them.

https://github.com/yarnpkg/yarn/issues/5275

[2018-06-25 10:40] Korazy commented on #165
Do you use setPrimaryColor like the following (Android and iOS require different methods)?

new RNInstabugReactnativePackage.Builder("75385a1b14b5c9ae7952236338095c96",MainApplication.this)
							.setInvocationEvent("button")
							.setPrimaryColor("#1D82DC")
							.setFloatingEdge("left")
							.setFloatingButtonOffsetFromTop(250)
							.build()

[2018-06-25 10:51] Korazy commented on #161
Please feel free to reopen this issue if you run into it again :)

[2018-06-25 10:51] #161 closed

[2018-06-25 10:55] Korazy commented on #160
Hey @watadarkstar @sebirdman @peacechen

This should be resolved in 2.13.2, do you still face the issue there?

[2018-06-25 11:48] Korazy commented on #168
Hey @havard024

Thanks for reaching out. You can put the following in the `onCreate()` method of the activity after the super class call:
`getWindow().setFlags(WindowManager.LayoutParams.FLAG_SECURE, WindowManager.LayoutParams.FLAG_SECURE);`

[2018-06-25 11:49] #168 closed

[2018-06-25 17:54] SudoPlz commented on #163
Hmm interesting, but I wonder why it happens only after 2.12 and above.

I'll try `rm -rf node_modules && yarn cache clean && yarn install` and report back.

[2018-06-26 13:01] bourgois commented on #169
Hey @Korazy is it included in v2.13.3 ?

[2018-06-26 16:35] Korazy commented on #165
@MatthieuPeyrot thanks for letting us know. We're investigating it now.

[2018-06-26 20:08] SudoPlz commented on #163
ok I upgraded yarn to 1.7.0 (currently the latest version), then the above command fixed the issue.

Apologies for the trouble.

[2018-06-26 20:08] #163 closed

[2018-06-27 08:18] Korazy commented on #163
@SudoPlz Thanks for pointing that out!

[2018-06-27 09:19] Korazy commented on #169
@bourgois @MatthieuPeyrot It should be fixed in 2.13.3, can you please let me know if it's fixed on your end as well?

[2018-06-28 07:42] Sammekl opened #172 "iOS app crashes after coming back from the background on RN 0.55.4"
After upgrading to the latest stable React Native (0.55.4) our iOS app crashes after coming back from the background. We're using the latest instabug-reactnative version (2.13.3) and tried numerous other versions.

When disabling Instabug, the issue is gone.

I've managed to gather the [crash logs](https://gist.github.com/Sammekl/5a9ed1012e62688b8e376b2a8eb0eb13)

This has a really high priority t

[2018-06-28 08:46] Korazy commented on #172
Hey @Sammekl

Thanks for reaching out to us, we're looking into this at the moment and will keep you updated.

[2018-06-28 10:05] MatthieuPeyrot commented on #169
@Korazy yes it is fix, Thanks ^^

[2018-06-28 12:11] Korazy commented on #165
We’re currently having trouble reproducing this issue, would you be able to send us a sample application with this issue?

[2018-06-28 12:28] Sammekl commented on #172
We managed to resolve it by setting the sessionProfiler to false. So there's an issue in your sessionProfiler in combination with the new React Native

[2018-06-29 11:51] Korazy commented on #172
Thanks for letting us know! Would you be able to clean the derived data and clean the project then try again?

[2018-06-29 13:19] Sammekl commented on #172
@Korazy Hi, yes we have tried that. This did not fix the problem

[2018-07-01 21:32] abrel commented on #160
I do on 2.13.2
[code]

[2018-07-02 16:05] sebirdman commented on #160
@Korazy this is fixed for me now i think. haven't seen it.

[2018-07-02 20:59] SudoPlz opened #173 "transitionDuration already defined with incompatible format"
This is a compile time issue. It just won’t let me build at all.

Here's the full stacktrace:

[code]

Looks like the name `transitionDuration` is used two times:

Once here:
<img src="https://cl.ly/0j1d0c141Y1w/Image%202018-07-02%20at%2010.40.05%20PM.png" />

and another time here:
<img src="https://cl.ly/0j1d0c141Y1w/Image%202018-07-02%20at%2010.40.05%20PM.png" />

Tested and it happens both on

[2018-07-03 13:09] SudoPlz commented on #173
@Korazy Hi Youssef, any news with that? Did you get a chance to take a look at that? It's currently blocking us :/

[2018-07-03 16:06] Korazy commented on #173
Hey @SudoPlz

Apologies for the delay, we're on it right now!

[2018-07-03 16:37] SudoPlz commented on #173
@Korazy Sure, let me know if you find anything weird. On the mean time, keep in mind that on `2.11.2` that issue does not exist.

[2018-07-03 16:38] Korazy commented on #173
@SudoPlz thanks for pointing that out :)

[2018-07-03 16:44] Korazy commented on #160
Awesome, I'm happy to hear that :)

[2018-07-03 16:44] #160 closed

[2018-07-03 17:16] watadarkstar commented on #160
Same @sebirdman @Korazy this is fixed for me. Thanks for the fix 💯

[2018-07-04 12:50] Korazy commented on #166
Hey @modularity

Apologies for the late response. Recording audio is fully optional, however the permission is required on iOS.

[2018-07-04 12:50] #166 closed

[2018-07-04 13:18] #116 closed

[2018-07-04 13:30] Korazy commented on #167
Hey @fernandofranca

Thanks for pointing this out! Would you be able to tell me which SdK version this occurred on?

[2018-07-06 19:49] jamesreggio opened #174 "Does this really `requiresMainQueueSetup` on iOS?"
It's not clear to me why Instabug can't be initialized in the background. In fact, I've been using a branch for three months with `requiresMainQueueSetup` set to `return NO` without any issue.

Allowing background setup helps to cut down on app startup times, and because Instabug brings in some hefty native frameworks, removing main queue setup reduced our app launch time by about 150ms on an iPho

[2018-07-07 14:08] baxri opened #175 "Manually linking is missing from docs :("
## UPDATE DOCS

I have some problem in automatic linking, it will greate this feature to add how to link this library manually to react native project. Almost every library has its guide to link packages manually.

Thanks in advance :)

[2018-07-07 16:02] Korazy commented on #175
Hey @baxri

Thanks for pointing this out. We will definitely check out the possibility if adding it :)

[2018-07-07 16:06] Korazy commented on #174
Hey @jamesreggio

Thanks for reaching out. We'll look into this for you :)

[2018-07-07 16:14] Korazy commented on #173
Hey @SudoPlz

I can see that Ziad is already helping you out with this over the support channel so I'll go ahead and close this issue :)_

[2018-07-07 16:41] SudoPlz commented on #173
Yeah but other people might run into this.. Why not keep it open and post updates here?

[2018-07-07 16:42] Korazy commented on #173
That also makes sense, I will make sure to communicate with Ziad and post the steps here when possible.

[2018-07-08 19:53] jamesreggio commented on #174
Thanks @Korazy!

[2018-07-09 13:49] lswank commented on #175
Seconding this only because many of us have internal policies not to use react-native link because of certain incompatibilities.

[2018-07-16 20:46] sebirdman opened #176 "8.0.0 breaking changes?"
Congrats on going from v2 to v8! Looks like this is an attempt to get things in line between all the library versions (so I'm excited). However, it looks like some things changed in the interfaces.

In particular, I'm seeing that startWithToken on iOS requires an array of invocation events now instead of a single invocation event. Changing this seems to have fixed my iOS builds.

Are there any oth

[2018-07-17 10:33] HeshamMegid commented on #176
We've done various API changes in version 8.0, but we've also maintained backward compatibility as much as we can, so you'll see lots of deprecated methods, and while they still work, they will be completely removed in a future release.

For the full details of the changes, please check our v8 [migration guide](https://docs.instabug.com/docs/react-native-migration-guide).

[2018-07-17 10:33] #176 closed

[2018-07-20 15:11] sammoboi13 opened #177 "Images from the gallery are rotated incorrectly"
I'm on version 8.0.0 of instabug and 0.56.0 of React Native.

When adding portrait images from the gallery they are rotated onto their side. This is occurring on both Android and iOS.

Is this a known caveat/bug?

[2018-07-20 21:09] Korazy commented on #172
Please feel free to reopen this issue if you run into it again :)

[2018-07-20 21:09] #172 closed

[2018-07-20 21:10] Korazy commented on #165
@MatthieuPeyrot are you still facing this issue?

[2018-07-21 09:45] sammoboi13 commented on #177
![screenshot_20180721-103916](https://user-images.githubusercontent.com/11660441/43034369-1a20aa26-8cd3-11e8-9fc1-c1fda9b730a4.png)
![screenshot_20180721-103916](https://user-images.githubusercontent.com/11660441/43034374-2817e2de-8cd3-11e8-882d-15b16d5dda59.png)

Images are taken in portrait, but displayed like this in the interface

[2018-07-23 13:04] MaximilianLloyd opened #178 "JSON value '2' of type NSNumber cannot be converted to NSArray"
After i add this line:
(with my key ofcourse)

[code]

I get the following error

![screen shot 2018-07-23 at 15 03 03](https://user-images.githubusercontent.com/10583205/43078052-914a2bc4-8e89-11e8-96c2-d9592718292a.png)

[2018-07-23 14:20] Korazy commented on #178
Hey @MaximilianLloyd

Thanks for reaching out. On version 8.0 there was a change that requires you to pass the events as an array. For example, it would look something like this: `Instabug.startWithToken('KEY', [Instabug.invocationEvent.screenshot]);`

Please feel free to reopen this issue if this doesnt resolve it for you :)

[2018-07-23 14:20] #178 closed

[2018-07-24 06:31] yongdamsh opened #179 "invokeWithInvocationModeAndOptions method doesn't exist in iOS module"
This [part](https://github.com/Instabug/instabug-reactnative/blob/master/index.js#L42) guides to use the `invokeWithInvocationModeAndOptions` method in `BugReporting` module. `BugReporting.invokeWithInvocationModeAndOptions` calls same method in the iOS module that doesn't have `invokeWithInvocationModeAndOptions` method.
I think `BugReporting.invokeWithInvocationModeAndOptions` method should proc

[2018-07-24 06:57] yongdamsh opened #180 "InvocationOptions enum in JS and iOS code doesn't match"
In JS:
- https://github.com/Instabug/instabug-reactnative/blob/master/index.js#L1169-L1172
- https://github.com/Instabug/instabug-reactnative/blob/master/modules/BugReporting.js#L218-L221

In iOS:
- https://github.com/Instabug/instabug-reactnative/blob/master/ios/RNInstabug/InstabugReactBridge.m#L628-L631

Because of this issue, adding any `invocationOption` parameter causes an error if the `invok

[2018-07-24 08:09] HeshamMegid commented on #179
Thanks for pointing that out! We're working on a fix and will release it very soon.

[2018-07-24 08:12] HeshamMegid commented on #180
Thanks for the report. This is due to the same root cause as #179, and we're working on a fix that addresses it.

Closing this for now and keeping the discussion at #179.

[2018-07-24 08:12] #180 closed

[2018-07-24 11:32] HeshamMegid commented on #179
We just released a fix for this and #180. Please update to 8.0.2.

[2018-07-24 11:32] #179 closed

[2018-07-24 14:01] yongdamsh commented on #179
Thanks for the quick fix! 👍

[2018-07-24 20:41] Korazy commented on #177
That's definitely odd! We'll look into it and get back to you as soon as possible :)

[2018-07-24 20:42] Korazy commented on #165
Please feel free to reopen this issue if you run into it again :)

[2018-07-24 20:42] #165 closed

[2018-07-25 08:24] yongdamsh opened #181 "Some locale and strings are missing in iOS"
* Korean locale is supported in the [iOS module](https://github.com/Instabug/instabug-reactnative/blob/master/ios/RNInstabug/InstabugReactBridge.m#L627). But it's not defined in the [locale constant](https://github.com/Instabug/instabug-reactnative/blob/master/index.js#L1192-L1210).

* Some strings don't match with iOS enums.
  - [`addScreenRecordingMessage`](https://github.com/Instabug/instabug-r

[2018-07-25 11:42] Korazy commented on #177
@sammoboi13 does this issue occur for all images being attached? Also, if you take a screenshot, are they also rotated?

[2018-07-25 11:52] Korazy commented on #181
Hey @yongdamsh

Thanks for pointing this out, we'll get to work on a fix right away.

[2018-07-25 12:06] sammoboi13 commented on #177
No it doesn't occur for all images. Screenshots and most downloaded images seem to be fine, and on some devices taking a photo is also ok. This leads me to believe it could be related to the height of the image, as it's potentially only happening on high resolution photos (which will usually just be those taken by the device)

[2018-07-25 12:09] Korazy commented on #177
Would you be able to tell me starting from which resolution/dimensions you think this would be occurring on?

[2018-07-25 13:49] sammoboi13 commented on #177
It is occurring on a Samsung Galaxy S7 which takes pictures ~4000x3000. Also occurs on iPhone 7

[2018-07-30 12:07] Korazy commented on #181
Hey @yongdamsh

This should now be fixed as of 8.0.3. Please feel free to reopen the issue if it still exists.

[2018-07-30 12:07] #181 closed

[2018-07-30 13:18] Korazy commented on #175
Hey @lswank @baxri

You can now find instructions for manual linking in our docs [here](https://docs.instabug.com/v1.0/docs/react-native-integration#section-manual-linking).

[2018-07-30 13:18] #175 closed

[2018-07-30 23:51] yongdamsh commented on #181
@Korazy Thanks for the fix.
But how do I change the string in the red box in the screenshot below? iOS seems to be supporting it [here](https://github.com/Instabug/instabug-reactnative/blob/master/ios/RNInstabug/InstabugReactBridge.m#L667). But it's not defined in `index.js`. Can the library support this string? Or I can make a PR.

![instabug_l10n](https://user-images.githubusercontent.com/412664

[2018-07-31 21:02] SudoPlz opened #183 "NSMallocException Failed to grow buffer"
Here's an issue we see in production that makes our app crash.

[code]

instabug-reactnative: 8.0.1
react-native: 0.56.0
react: 16.4.1

Environment: iOS Device

[2018-08-02 14:50] Korazy commented on #183
Hey @SudoPlz

Thanks for reporting this, we'll look into a fix for it right away.

[2018-08-02 17:26] sebirdman opened #184 "InstabugCore is not found"
Trying to update from 8.0.0 to 8.0.4

node_modules/instabug-reactnative/ios/InstabugCore.framework: No such file or directory

Indeed, the file does not seem to be there anymore. Do we still need it? The current docs for manual linking still contain this: https://docs.instabug.com/docs/react-native-integration

[2018-08-02 17:36] sebirdman commented on #184
After removing all mentions of InstabugCore from my xcode build, everything seems to be working fine...

[2018-08-03 14:54] MattyK14 commented on #184
I had no success removing all the references to `InstabugCore`, reverted to version `8.0.1`.

[2018-08-05 12:13] Korazy commented on #184
Hey all,

Thanks for reaching out. This issue should be resolved by following the steps [here](https://github.com/Instabug/instabug-reactnative#upgrading-from-20x-and-from-803).

[2018-08-05 16:16] Korazy commented on #177
Hey @sammoboi13

After much investigation, while the images definitely shouldn't be rotated, the resolution is bigger than expected so we'll continue to investigate it :)

[2018-08-06 09:28] rdiaa commented on #183
@SudoPlz
I just want to ask you some questions, did you have a memory issue at the time of the crash? are you using our crash reporter? if yes, please send me a link to the crash

[2018-08-06 10:35] rdiaa commented on #174
@jamesreggio
Yes, we need it, as we need to capture some information related to the view hierarchy, so it needs to run on the main thread

[2018-08-06 14:47] ziv-edocate opened #185 "RN 0.56 - run android not compiling, Dex related issue"
After upgrading to RN 0.56 (and therefore changes in my gradle) android wont compile on run-android
The error is:

I have tried both versions 2.13.3 and 8.0.4, both has the same error.

Changes made to build.gradle in RN 0.56

    classpath 'com.android.tools.build:gradle:2.3.3'
    buildToolsVersion = "26.0.3"
    minSdkVersion = 16
    compileSdkVersion = 26
    targetSdkVersion = 26
    support

[2018-08-06 18:11] SudoPlz commented on #183
Hi @rdiaa , we're using Bugsnag for crash reports, here's more info:

<img width="475" alt="screen shot 2018-08-06 at 21 10 10" src="https://user-images.githubusercontent.com/3070948/43733385-22052694-99bd-11e8-9c91-79e2e182bdbf.png">

[2018-08-07 08:49] nikhilvavs opened #186 "invokeWithInvocationModeAndOptions with BugReporting.invocationMode.NA doesn't work on Android"
Calling BugReporting.invokeWithInvocationModeAndOptions(BugReporting.invocationMode.NA, [BugReporting.invocationOptions.emailFieldHidden]) fails on android.

BugReporting.invocationMode.NA maps to Instabug.invocationModeNA and **invocationModeNA** string is not defined in Android.  The following 4 are defined

1. INVOCATION_MODE_NEW_BUG
2. INVOCATION_MODE_NEW_FEEDBACK
3. INVOCATION_MODE_NEW_CHAT
4

[2018-08-07 12:00] salmamali commented on #186
We just released a fix for this. Please update to version 8.0.5.

[2018-08-07 12:18] #186 closed

[2018-08-07 21:31] jamesreggio commented on #174
Thanks @rdiaa.

`requiresMainQueueSetup` should only be necessary if you interact with UIKit _during_ module setup. This means that it's only necessary if you access the view hierarchy inside of `constantsToExport`, `supportedEvents`, or `initWithBridge:` (which this module doesn't even implement).

All methods that are called _after_ setup will be run on whatever is returned by `methodQueue`, whi

[2018-08-08 10:09] ziv-edocate commented on #185
@rdiaa
Rolling back to version  "instabug-reactnative": "2.5.3" made the compilation successful, i am not sure if thats the highest version possible .

[2018-08-08 12:38] matteodanelli opened #187 "NPM version different from released version"
NPM has registered version 8.0.6, since it's declared in that way in `package.json`, but latest official release is 2.13.3. 8.x.x is not documented at the moment, and even Github hides that from main releases.

It's not a big issue, but it creates some mess when I check updatable packages in my project. It's better to keep same version for both systems.

[2018-08-08 13:56] rdiaa commented on #185
@ziv-edocate
Can you please add this snippet of code to your app level build.gradle file? It should get added under the android tag like that:

android {
...
dexOptions

{ jumboMode true }
}

[2018-08-08 14:04] ziv-edocate commented on #185
@rdiaa - thanks for your help.
I already had it in my app/build.gradle so that wont help me, did it work for you?

[2018-08-08 14:08] rdiaa commented on #185
@ziv-edocate
Can you please share with me the app/build.gradle file

[2018-08-08 14:26] ziv-edocate commented on #185
@rdiaa
sure
https://gist.github.com/ziv-edocate/de8cfc1565f5e55c38f40dc95e15d85a

[2018-08-08 14:31] rdiaa commented on #185
@ziv-edocate
Thank you so much, I will check it and get back to you

[2018-08-08 15:08] FloSugar commented on #184
Hey, got the same problem and above solution is not working.

[2018-08-08 15:37] FloSugar opened #188 "Instabug.framework: No such file or directory"
Followed the steps https://github.com/Instabug/instabug-reactnative#installation but still getting
`error: [APP_PATH]/ios/node_modules/instabug-reactnative/ios/Instabug.framework: No such file or directory`

I tried also to unlink/relink ([here](https://github.com/Instabug/instabug-reactnative#upgrading-from-20x-and-from-803)) but still getting the same error when building in Xcode.

from my packa

[2018-08-08 16:06] salmatarzi commented on #188
@FloSugar Can you please check if this path does indeed exist locally on the file system or not?

[2018-08-08 16:18] FloSugar commented on #188
The file does exist, yet !

<img width="843" alt="capture d ecran 2018-08-08 a 18 18 05" src="https://user-images.githubusercontent.com/5587278/43850169-7cd57012-9b37-11e8-95de-438eebae6b89.png">

[2018-08-09 11:16] HeshamMegid commented on #173
This issue is fixed starting from v8.0.1.

[2018-08-09 11:16] #173 closed

[2018-08-09 11:16] SudoPlz commented on #173
I confirm that's fixed, thank you so much for that!

[2018-08-09 11:46] HeshamMegid commented on #174
@jamesreggio this does make sense. We'll be changing `requiresMainQueueSetup` to `NO` and including it in the next release. Will let you know once it's available.

[2018-08-09 18:26] gtchance opened #189 "invoke() sometimes doesn't do anything on Android"
`BugReporting.invoke()` _usually_ doesn't show anything on Android.

For some builds it works normally. I've tested on multiple devices and emulators all on different versions. I can't narrow it down to a specific version of android.
I thought it could have something to do with the fact that I also use Fabric, but I tried with Fabric disabled.

It appears `com.instabug.library.b.a().b(Feature.INST

[2018-08-09 18:28] gtchance commented on #189
This is what I have in `getPackages()`:

[code]

[2018-08-10 12:35] gcottrell1 opened #190 "BugReporting.invokeWithInvocationModeAndOptions not working"
In my app:

[code]

error:
[code]

This is coming from:
https://github.com/Instabug/instabug-reactnative/blob/7d73a0a7bd7e248d84a991309983aad7308cffc9/modules/BugReporting.js#L48

When I change this to: `Instabug.invokeWithInvocationMode(invocationMode, invocationOptions);` it works as expected.

If this is the correct solution then I will submit a PR.

[2018-08-10 13:16] nikhilvavs opened #192 "Welcome message with screenshot not customisable"
The welcome message when the trigger is screenshot is not customizable. Only the following strings are changeable. Can we have a custom screenshot welcome message too?

1. Instabug.strings.shakeHint
2. Instabug.strings.swipeHint
3. Instabug.strings.edgeSwipeStartHint

[2018-08-10 15:56] jamesreggio commented on #174
Thanks @HeshamMegid!

[2018-08-11 12:29] ramiimagdi commented on #177
Hey @sammoboi13,

I just wanted to let you know that we worked on solving this problem here and it should be fixed on:
**com.instabug.library:instabug:8.0.3.5-SNAPSHOT**

However, it will be released on the next official version for Android SDK.

Also, here's what happened in order to have more input on the whole case:
Some devices (like Samsung S7) rely on EXIF orientation headers. Not all images

[2018-08-12 11:02] rdiaa commented on #185
@ziv-edocate
We created a sample project with the same dependencies and we’re not able to reproduce this issue. Here is the sample project: https://drive.google.com/open?id=1g3waLbIom9tx9KZn0wqhkzmeMvIz6rJi

Can you please check it and update me.

[2018-08-12 16:15] salmatarzi commented on #192
@FloSugar The path in the error that you shared states that the node_modules are inside the ios directory of the app. Did you perhaps npm install the package from the ios directory?

[2018-08-12 16:15] salmatarzi commented on #188
@FloSugar The path in the error that you shared states that the node_modules are inside the ios directory of the app. Did you perhaps npm install the package from the ios directory?

[2018-08-13 07:49] ziv-edocate commented on #185
@rdiaa , Thanks for the demo, i wasn't able to run it properly.
At first instabug package is linked to local file, after changed that i had some problems compiling (not related to your package, fabric wanted minSdk etc...)
Anyway i guess that you are correct and its something locally in my environment, if it works after you tested it then i guess we can close this.
Thank you for your help

[2018-08-13 10:46] rdiaa commented on #185
@ziv-edocate
Thank you so much, I'm always here to help :)

[2018-08-13 10:46] #185 closed

[2018-08-13 11:12] FloSugar commented on #188
I have no idea why the node_modules are located to this directory, but as you can see on my screen : there is no `nodes_modules` folder inside my ios directory.

I did the installation again from the beginning and I'm still getting the same error.

[2018-08-13 13:15] rdiaa commented on #189
@gtchance
Sorry for the late reply, I 'm checking it and will get back to you

[2018-08-13 13:43] rdiaa commented on #183
@SudoPlz

I just want to update you that we are still investigating in the issue.

[2018-08-13 13:52] rdiaa commented on #188
@FloSugar We meant the ios directory that is prior the node_modules directory (the one that has your iOS project in it), not the one inside the instabug-reactnative directory.

Can you tell me when exactly does this error appear? After you npm install, link and then run?

[2018-08-13 14:46] FloSugar commented on #188
You're right, sorry. But the answer stays the same. My node_modules is located at the root of my app folder and only there.

Exactly in that order.

[2018-08-13 15:43] rdiaa commented on #190
@gcottrell1
we checked it and found that the `invokeWithInvocationModeAndOptions` is the right one, the only thing wrong in the mentioned API that you put 0 it should be an empty array as below:
 Instabug.BugReporting.invokeWithInvocationModeAndOptions(Instabug.BugReporting.invocationMode.newFeedback, []);

Please check it and update me

[2018-08-13 15:55] matteodanelli commented on #187
Solved with updated docs! Thanks.

[2018-08-13 15:55] #187 closed

[2018-08-14 08:20] gcottrell1 commented on #190
@rdiaa
passing an empty array in as the options still gives the error that `Instabug.invokeWithInvocationModeAndOptions` is not a function.

I passed in 0 as when using `Instabug.invokeWithInvocationMode`, if I pass in an empty array I get the error:
[code]

I did not want to select any of the options from the `BugReporting.invocationOptions` enum, passing in 0 worked as expected, and passing in 1

[2018-08-14 08:34] salmatarzi commented on #190
@gcottrell1 Can you tell me which version of instabug-reactnative are you using?

[2018-08-14 08:56] rdiaa commented on #192
@nikhilvavs
sorry for the late reply, I will check it and get back to you

[2018-08-14 10:55] nikhilvavs opened #193 "welcome message comes up on android even if disabled [RELEASE BUILD]"
React native version: 0.55.1
Instabug Version: 8.0.4
[code]
On iOS, the behaviour is as expected (i.e. no welcome message is shown), but release build on android, the welcome message still comes up on opening the app.

[2018-08-14 10:58] nikhilvavs commented on #189
Same issue here, BugReporting.invokeWithInvocationModeAndOptions eventually calls BugReporting.invoke() and this doesn't seem to work in release builds. In Debug builds, it is working properly.
As @gtchance mentioned, calling Instabug.enable() on app start solves this but not sure why this is needed.

[2018-08-14 12:04] rdiaa commented on #183
@SudoPlz

Can you provide me with the repro steps if available?

[2018-08-14 12:57] salmatarzi commented on #188
@FloSugar Can you try clearing your Derived Data and if this doesn't solve it, can you send us a sample app that has this problem on it, so that we can debug it further?

[2018-08-14 13:30] salmatarzi commented on #189
@gtchance @nikhilvavs Can you manage to send us a sample app that has this issue on, as we can't seem to reproduce it?

[2018-08-14 18:41] gcottrell1 commented on #190
@salmatarzi I’m using 8.0.0

[2018-08-14 20:42] Korazy commented on #184
Hey @MattyK14 @sebirdman

Were you able to fix the issue?

[2018-08-15 08:39] Korazy commented on #193
Hey @nikhilvavs

This is Youssef from the Instabug team. Thanks for pointing this out. We're currently working on a fix for this :)

[2018-08-15 11:15] rdiaa commented on #192
@nikhilvavs

This is fixed in V8.0.8. Please check it

[2018-08-15 11:25] Korazy commented on #193
Hey @nikhilvavs

This is now fixed as of version 8.0.8.

[2018-08-15 11:25] #193 closed

[2018-08-15 12:56] #192 closed

[2018-08-15 13:37] FloSugar commented on #188
I did clean and it doesn't change anything unfortunately. It's complicated for me to send you a sample app at this time :(

[2018-08-15 13:40] gcottrell1 commented on #190
@salmatarzi @rdiaa, I have updated to 8.0.8 and am still having the issue on iOS simulator. I think this (https://github.com/Instabug/instabug-reactnative/commit/e26887acd89af752f0e3e262b4cf54a0c7a6c76b) was supposed to fix the issue I'm seeing, but I'm still seeing that `invokeWithInvocationModeAndOptions` is not a function

[2018-08-16 10:04] rdiaa commented on #188
@FloSugar

I'm so sorry that you are facing this, I will check if there's something we can do form our side to get things fixed on your side.

[2018-08-16 10:18] rdiaa commented on #188
@FloSugar

Can you please check the sample app attached? You will need to run: "npm install" first before running the app
[SampleApp.zip](https://github.com/Instabug/Instabug-React-Native/files/2293309/SampleApp.zip)

[2018-08-16 10:30] matteodanelli commented on #184
@Korazy I followed guidelines (unlink and then link) but no success. I have same problem..

[2018-08-16 12:30] Korazy commented on #184
@matteodanelli would you be able to tell me which step the error occurs in?

[2018-08-16 12:34] matteodanelli commented on #184
Sure. I've version 2.13.3 and want to upgrade to 8.0.8, the latest.
I've done the following steps:

- react-native unlink instabug-reactnative
- yarn add instabug-reactnative
- react-native link instabug-reactnative
- react-native run-ios

And the build fail with the errore **Instacore not found**.

[2018-08-16 12:55] Korazy commented on #184
@matteodanelli Would you be able to give this sample app a go and let me know if you have the same build fail with it?
[SampleApp.zip](https://github.com/Instabug/Instabug-React-Native/files/2293734/SampleApp.zip)

[2018-08-16 13:46] salmamali commented on #174
This is now changed in version 8.0.9.

[2018-08-16 13:46] #174 closed

[2018-08-16 13:47] salmamali commented on #147
This is added in version 8.0.9.

[2018-08-16 13:47] #147 closed

[2018-08-16 13:47] gcottrell1 commented on #190
@rdiaa @salmatarzi  any update?

[2018-08-16 13:50] matteodanelli commented on #184
This works well, but I think the problem is somewhat related to switching from version 2 to version 8.. I even tried to remove instabug completely and installed 8 but seems not works.

[2018-08-16 14:43] rdiaa commented on #190
@gcottrell1
Can you please check this sample app? you need to run: "npm install" first before running the app.
[SampleApp.zip](https://github.com/Instabug/Instabug-React-Native/files/2294072/SampleApp.zip)

[2018-08-16 14:45] rdiaa commented on #190
@gcottrell1

This is a sample app where you will find instabug initialized correctly and you will find the API working

[2018-08-16 18:06] Etregoning opened #194 "App crashes on launch and instabug is the cause"
### Steps to Reproduce the Problem
Open the app

### Expected Behavior
App will run

### Actual Behavior
App crashes

### Instabug integration code
[code]

### SDK Version
Was using an older version (2.x.x), but I just updated the version because I was suspecting the old version was the cause. It was not. Current version is 8.0.9.

### React Native, iOS and Android Versions
Android only as far as

[2018-08-17 23:35] Korazy commented on #184
@matteodanelli unfortunately we're having a hard time reproducing this issue. Would it be possible to send us a sample app containing this particular bug?

[2018-08-19 01:38] Etregoning commented on #194
I have received an email from the Instabug support team about this issue, and apparently, they have fixed it in version 8.0.10, however, this version does not seem to be available to install yet. I will respond when it is and mark this issue as closed if it solves the problem.

[2018-08-19 22:14] Etregoning commented on #194
@salmatarzi Thanks, I have now installed the newest version in my project, however I am still having a minor issue, but I'm not yet sure if the problem is on my end or yours, because logcat isn't giving me any info about the crash this time.

Each time I build the app, the first launch crashes, but then after that I can load it up no problem, and Instabug works... I took a look at the migration gu

[2018-08-20 22:39] rpstew commented on #184
I had a similar issue that I just solved.  The one file I'm assuming is causing you the issue is ios/<AppName>.xcodeproj/project.pbxproj

Our version of that file had references to InstabugCore.framework.  I don't remember the exact step I did to update that file, but the issue went away after the update.

[2018-08-21 10:25] gcottrell1 commented on #190
thanks, I have now got this working 👍🏻

[2018-08-21 10:25] #190 closed

[2018-08-21 16:14] rdiaa commented on #190
@gcottrell1

Glad to hear that, We are always here for help if you have any questions

[2018-08-21 19:36] kennygoff opened #195 "Feature Request comments aren't in iPhone X safe zones"
The Feature Request feature isn't styled to work within the safe area of iPhone X so the rounded corners and notch are cutting off text and buttons. Images attached.

### Steps to Reproduce the Problem

1. Enable Feature Requests
2. Open a Feature Request on an iPhone X
3. Comment on any Feature Request

### Expected Behavior

Screens and modals should have inputs and interactive elements within t

[2018-08-22 08:49] matteodanelli commented on #184
Thanks. I solved.
I removed every reference of _InstabugCore.framework_ from _project.pbxproj_.

[2018-08-27 10:01] Korazy commented on #195
Hey @kennygoff

Thanks for pointing this out. We'll include a fix for it in one of the upcoming releases.

[2018-08-27 10:10] Korazy commented on #184
awesome, im happy to hear that everything is fine now.

[2018-08-27 10:10] #184 closed

[2018-08-27 10:26] Korazy commented on #194
@Etregoning can you send us the stack trace of the error?

[2018-08-27 11:28] Etregoning commented on #194
That's the problem, logcat shows nothing this time. It compiles
successfully and there are no errors from react either. It was working fine
after the initial crash on build, but now it crashes every time I shake the
phone, for instabug

On Mon, Aug 27, 2018, 3:26 AM Youssef El-Khorazaty <notifications@github.com>
wrote:

[2018-08-27 11:28] rdiaa commented on #183
@SudoPlz

Please feel free to reopen the issue if you ran into it again

[2018-08-27 11:30] rdiaa commented on #189
@nikhilvavs @gtchance

Please feel free to reach out to us, if you ran into this issue.

[2018-08-27 11:30] #189 closed

[2018-08-27 14:13] SudoPlz commented on #183
@rdiaa that still happens and I have no idea when because we received that in production..

Here's a stack trace from yesterdays crash:

[code]

[2018-08-27 18:04] SudoPlz opened #198 "NSMallocException Failed to grow buffer"
Here's an issue we see in production that makes our app crash.

[code]

**instabug-reactnative:** 8.0.1
**react-native:** 0.56.0
**react:** 16.4.1
**Environment:**
Prouduction
Devices: iPhone9.2, iPhone10.3, iPhone10.6, iPhone10.5, iPad5.1, iPad7.4, iPad5.2
iOS: 11.2.6, 11.4.0, 11.4.1, 12.0

Seen 198 times so far, happens upon the app initialisation and is caused because there's not enough RAM on

[2018-08-28 04:03] cayasso commented on #193
Hi, I am on Instabug version 8.0.10 and React Native 0.56.0 and I am having the same issue described here on Android, I am unable to disable welcome message and `setWelcomeMessageMode` doesn't seems to work (it works only for iOS). Any quick fix for this?

[2018-08-28 04:05] cayasso commented on #193
Function that I call in the index constructor:

[code]

[2018-08-28 11:00] rdiaa commented on #183
@SudoPlz

I was just asking if you can provide me with the repro steps if available?

[2018-08-28 16:06] Korazy commented on #198
Hey @SudoPlz

Apologies for the confusion. My colleague Rana is looking into it as we speak.

[2018-08-28 16:14] matteodanelli opened #199 "Errors when validating an iOS release build after upgrading to 8.0.0"
### Steps to Reproduce the Problem
Update Instabug v8.0.10
Build app and try to upload into ItunesConnect

### Expected Behavior
Upload success

### Actual Behavior
The following error appears:
_"Unsupported Architectures. The executable for MyApp.app/Frameworks/Instabug.framework contains unsupported architectures '[x86_64, i386]'."
"Invalid Mach-O Format. The Mach-O in bundle "MyApp.app/Framewor

[2018-08-28 17:01] SudoPlz commented on #198
Awesome, thanks @Korazy

[2018-08-28 17:03] SudoPlz commented on #183
Hi @rdiaa I opened a new issue as you instructed here --> https://github.com/Instabug/Instabug-React-Native/issues/198#issue-354418035

and that's all the info I have right now I'm afraid.

[2018-08-28 23:32] cayasso commented on #193
Any update on this issue, this is really holding me back from pushing my app to Google Play :(

[2018-08-28 23:48] Korazy commented on #193
Hey @cayasso

Apologies for the delay. We're looking into this issue as we speak. I will keep you updated with the fix.

[2018-08-29 09:13] rdiaa commented on #183
@SudoPlz
I will close this one and keep our communication in the new one

[2018-08-29 09:13] #183 closed

[2018-08-29 09:17] rdiaa commented on #198
@SudoPlz
I just want to ask you a question, Is the crash consistent?  does it always crash on launch?

[2018-08-29 09:19] SudoPlz commented on #183
Roger that

[2018-08-29 09:20] SudoPlz commented on #198
It's not consistent, it only happens when the device has no ram left, and I have no idea why that happens, some sort of a memory leak maybe?

[2018-08-29 09:46] rdiaa commented on #198
@SudoPlz
Thank you for providing me with this info, I will investigate and get back to you

[2018-08-29 18:44] cayasso commented on #193
Can this issue be reopened since it is still an issue? In the mean time I will remove Instabug from my
Can you also point what was the fix (at least the commit) of this issue in 8.0.8 that you mentioned above.

[2018-08-29 19:41] matteodanelli commented on #199
I've solved putting a new build phases which launch Instabug.framework/strip_framework.sh script, as described [here](https://docs.instabug.com/docs/react-native-integration#section-ios)

[2018-08-30 03:18] cayasso commented on #193
I think I found a way to disable the welcome message in the mean time

[code]

I changed the `default` case to `Instabug.setWelcomeMessageState(WelcomeMessage.State.DISABLED);` instead of `Instabug.setWelcomeMessageState(WelcomeMessage.State.LIVE);` and this seems to be working now for what I need.

[2018-08-30 08:28] Korazy commented on #193
Prior to version 8.0.8, the methods weren't calling the correct method so they ended up doing nothing which we fixed in that version. We're actually unable to reproduce this issue at all, calling `Instabug.setWelcomeMessageMode(Instabug.welcomeMessageMode.disabled)` disables it on our end. Would you be able to try unlinking and linking again, then trying a clean build?

[2018-08-30 08:30] Korazy commented on #199
@matteodanelli could you do the following?
In your project navigator in XCode, select Build Phases → add New Run Script Phase → rename to run script phase to Strip Frameworks → add the following lines to your script.
`bash "${BUILT_PRODUCTS_DIR}/${FRAMEWORKS_FOLDER_PATH}/InstabugCore.framework/strip-frameworks.sh"`

[2018-08-30 08:39] Korazy commented on #194
@Etregoning unfortunately, without a stacktrace it's difficult to resolve this issue since it's not reproducible on our end. Would you be able to try unlinking and linking again?

[2018-08-30 09:49] Korazy commented on #195
Hey @kennygoff

Would you like a customer build for this fix to us until it hits production?

[2018-08-30 09:54] matteodanelli commented on #199
That's fixed, but I had to use ```bash "${BUILT_PRODUCTS_DIR}/${FRAMEWORKS_FOLDER_PATH}/Instabug.framework/strip-frameworks.sh"```

with `Instabug.framework` instead of `InstabugCore.framework`, since v8 changed that name.

[2018-08-30 09:55] Korazy commented on #199
Awesome, happy to hear that. Thanks for letting me know too, I will make sure to update it in the documentation :)

[2018-08-30 09:55] #199 closed

[2018-08-30 10:13] rdiaa commented on #188
@FloSugar
did you check the sample app? Is everything working on your end?

[2018-08-30 10:59] rdiaa commented on #188
@FloSugar
Perfect, I will be waiting for your feedback

[2018-08-31 03:37] Etregoning commented on #194
Sorry, apparently I had something wrong with my Android studio at the time, but I have fixed that issue and this problem remains. I managed to get a stacktrace this time though.

The top of it says permission denied which makes me wonder what the issue could be, but I also see something in there about shake detector. It seems sometimes shaking it works, and sometimes shaking it crashes the app. It

[2018-08-31 20:57] SnidelyWhiplash commented on #137
@ZiadAyman Is there an ETA on this? It seems a little less-than-ideal to have 50% of the product offering missing from the RN integration, especially for paying customers. Would love to hear if this is close to getting completed.

Also worth noting that the README.md mentions crash reporting explicitly. Cheers.

[2018-09-02 09:51] HeshamMegid commented on #137
@SnidelyWhiplash JS crash reporting is available starting from version 2.11. Please check the docs at https://docs.instabug.com/docs/react-native-crash-reporting

[2018-09-02 10:35] #177 closed

[2018-09-02 22:47] Korazy commented on #194
Thanks for that, we're looking into it at the moment :)

[2018-09-03 11:08] ramiimagdi commented on #194
Hey Elliot,
After looking deeper into the issue, this doesn't seem to be happening because of Instabug's shake gesture, but rather the shake gesture of React Native that triggers the dev menu. You can refer to this here:
https://stackoverflow.com/questions/32224452/android-unable-to-add-window-permission-denied-for-this-window-type

[2018-09-03 15:56] rdiaa commented on #198
@SudoPlz
We are still working on this issue and it might take some time, I just wanted to keep you posted with the progress.

[2018-09-03 22:53] Etregoning commented on #194
It's still crashing on the initial build though, any word on that?

[2018-09-04 09:49] SudoPlz commented on #198
Thanks for letting me know @rdiaa

[2018-09-04 09:58] rdiaa commented on #198
@SudoPlz
My pleasure :)

[2018-09-04 15:16] kennygoff commented on #195
Nope, no need @Korazy! I'll just upgrade when it's in a release.

[2018-09-05 09:51] rdiaa commented on #188
@FloSugar
Did you manage to create the sample app?

[2018-09-05 19:32] SebastianKurp opened #200 "App does not run in an emulator."
### Steps to Reproduce the Problem
Open the app in an  android emulator

### Expected Behavior
The app loads and does not receive a red screen of death.

### Actual Behavior
Receives the red screen of death.

### Instabug integration code
[code]

### SDK Version
8.0

### React Native, iOS and Android Versions
React-Native

### Device Model
Nexus 5X emulator

**Additional Info:**
My emulator is con

[2018-09-06 10:04] Korazy commented on #200
Hey @SebastianKurp

Thanks for pointing this out. We're working on a fix for it right now. I will keep you updated regarding its progress.

[2018-09-06 11:55] Korazy commented on #200
Would you be able to tell me if you are making any network requests on app start. If so, would you be able to share with us that request?

[2018-09-06 13:26] nkashyap opened #201 "Android app crash on network request failure."
### Steps to Reproduce the Problem

Just make a `POST` request which returns nothing or `GET` which fails with no body.

https://github.com/Instabug/Instabug-React-Native/commit/d58884a08f53294054c57ca53ee3c8a0e34bdde8#commitcomment-30416474

![screenshot_1536239431](https://user-images.githubusercontent.com/1984591/45160225-d9394580-b1e0-11e8-9e9b-a9e199b82c61.png)

### Expected Behavior

### Act

[2018-09-06 13:29] Korazy commented on #201
@nkashyap Thanks for pointing this out! We're currently working on a fix for this. Will keep you updated regarding it's progress.

[2018-09-06 14:58] SebastianKurp commented on #200
The only request is one connecting to firebases auth service to verify the user's auth token if they have previously logged in.

[2018-09-06 18:29] Korazy commented on #201
This is now fixed as of 8.0.12. Please feel free to reopen the issue if you run into it again :)

[2018-09-06 18:29] #201 closed

[2018-09-06 18:30] Korazy commented on #200
This is now fixed as of version 8.0.12. Please upgrade to it and feel free to reopen the issue if you run into it again :)

[2018-09-06 18:30] #200 closed

[2018-09-11 11:40] rdiaa commented on #188
@FloSugar
Hope you are fine. Did you manage to create the sample app so we can start our investigation?

[2018-09-13 08:56] preko96 opened #202 "Reference Error, failing to build."
For some reason after installing the package, and linking it, I can't build the project (neither release, or debug build)

[code]
<img width="278" alt="screen shot 2018-09-13 at 09 56 11 am" src="https://user-images.githubusercontent.com/35433203/45478191-45fd9400-b73b-11e8-90ca-3000955265f8.png">

### Steps to Reproduce the Problem
Follow the installation steps. (expect use yarn instead of npm)

[2018-09-13 11:37] Korazy commented on #202
Hey @preko96

Thanks for reaching out. For some reason it seems that the framework was not added to the embedded frameworks. Can you please try removing the Instabug framework, cleaning, then adding it again?

[2018-09-17 09:15] rdiaa commented on #198
@SudoPlz  I know it's taking too much time but we actually find the root cause and we are fixing it. This should be released within the coming two weeks. I know you have been so patient and I really do appreciate it. I assure to you that I will do my best to get it released the soonest

[2018-09-17 09:17] Korazy commented on #202
@preko96 did it work for you?

[2018-09-17 09:19] rdiaa commented on #198
@SudoPlz  Please also let me know if its fine for your regarding the release date.

[2018-09-17 10:58] rdiaa commented on #188
@hugo-retro I will be waiting for your feedback.
@FloSugar  did you manage to check the sample app attached? is everything working fine?

[2018-09-17 17:48] SudoPlz commented on #198
Thank you so much @rdiaa , to be honest I didn't really had hopes that you'd resolve this, so I'm really happy to hear you guys managed to figure this out. Memory issues are super weird.

Let me know whenever you have a new public release, I'll be happy to upgrade our Instabug SDK, and make a new release of our app.

Thank you so much

[2018-09-18 09:07] rdiaa commented on #198
@SudoPlz Perfect, the new version that includes the fix will be released within two weeks. I will update you once it's released.

It's always my pleasure to help you!

[2018-09-20 14:19] Seeker93 opened #203 "Suggest a feature causes crash on Android phones with api level <21"
I've been facing this issue and it only affects phones running and old Android OS version. New android versions work fine and all iOS versions work fine. I believe it has something to do with vector drawables.

[code]

### Steps to Reproduce the Problem

Load app onto Android phone with API level < 21
Enable "Suggest a feature" functionality.
Click suggest a feature

### Expected Behavior

Opens s

[2018-09-20 14:42] watadarkstar commented on #104
What I did to resolve this issue that @SudoPlz talks about:
[code]

I downgraded:
[code]

[2018-09-20 15:47] Korazy commented on #203
Hey @Seeker93

Thanks for reaching out, we will investigate this and get back to you :)

[2018-09-21 15:59] jsmankoo opened #204 "Cannot react-native link latest(v8.0.12) for iOS"
### Steps to Reproduce the Problem
- yarn add instabug-reactnative
- react-native link instabug-reactnative

### Expected Behavior
- Successfully links native module.

### Actual Behavior
[code]

### Instabug integration code
N/A

### SDK Version
v8.0.12

### React Native, iOS and Android Versions
react-native@0.56.0, iOS v11.4, Android N/A

### Device Model
N/A

### [Optional] Project That Reprod

[2018-09-24 16:08] soumyamishra89 opened #205 "<myapp> is not using the latest version of the SDK."
The latest app version should be used for build. latest instabug android version is 8.0.13

android app version in react-native is older than the available one. The one used in react-native is 8.0.4

[2018-09-24 21:51] Korazy commented on #205
Hey @soumyamishra89

Thanks for reaching out. Every time we release a new version of the react-native SDK we update it to the latest version. However, the releases for the RN SDK version is a few days behind the native android one which is why it's not always the latest one.

[2018-09-24 21:51] #205 closed

[2018-09-24 22:00] Korazy commented on #202
Please feel free to reopen this issue if you run into it again.

[2018-09-24 22:00] #202 closed

[2018-09-24 22:05] Korazy commented on #204
Hey @jsmankoo

Apologies for the late response, I am investigating this and will get back to you as soon as possible :)

[2018-09-24 22:08] jsmankoo commented on #204
Np!

On Mon., Sep. 24, 2018, 6:05 p.m. Youssef El-Khorazaty, <
notifications@github.com> wrote:

[2018-09-25 12:02] soumyamishra89 commented on #205
@Korazy thank you for the update. Maybe to clear the confusion, all the SDKs should have same version number. The react-native version is updated to 8.0.13 but the android version used in it is 8.0.4

[2018-09-25 23:13] Korazy commented on #204
Would you be able to  update your `xcodeproj` using `gem install xcodeproj`?

[2018-09-26 12:17] Korazy commented on #205
Yes we actually recently updated all versions to 8.0.0. React native used to be on 2, while iOS was on 7 and Android was on 4.

Since each individual SDK has its own bugs however, the last digit will likely always be slightly different but the overall version should remain the same.

[2018-09-26 12:33] soumyamishra89 commented on #205
Thank you for the clarification.

[2018-09-26 12:43] Korazy commented on #203
Would you be able to update to the latest version? It should be fixed there.

Please let me know if you it's still occurring for you afterwards.

[2018-09-27 12:42] Seeker93 commented on #203
Hi @Korazy I installed the latest instabug-react-native version and the same issue (and same error) came up. Unfortunately , it doesn't look it it has been resolved.

[2018-09-27 13:07] DenisFrezzato opened #206 "I can't get Instabug to work on iOS, everything works on Android"
I can't get Instabug to work on iOS invoking `Instabug.invokeWithInvocationMode(Instabug.invocationMode.chatsList)` and `Instabug.invokeWithInvocationMode(Instabug.invocationMode.newBug)`. On Android everything works fine.

I also tried `Instabug.setInvocationEvent(Instabug.invocationEvent.floatingButton)`: the button is displayed but nothing happens on press.

Obviously I'm missing something. Can

[2018-09-27 13:15] Korazy commented on #206
Hey @DenisFrezzato

Thanks for reaching out. Just to make sure, do you call startWithToken first?

[2018-09-27 13:29] DenisFrezzato commented on #206
@Korazy Yes, `startWithToken` is called at mount time inside the root component.

[2018-09-28 14:39] ddereszewski commented on #188
The same issue.
React Native 0.56, latest version of your project. Maybe you can provide instruction for manual installation.

[2018-10-01 08:55] Korazy commented on #204
@jsmankoo did you get a chance to update your `xcodeproj` using `gem install xcodeproj`?

[2018-10-01 08:58] Korazy commented on #203
That is odd, I will look into this and update you as soon as i can :)

[2018-10-01 15:45] jsmankoo commented on #204
Sorry haven't gotten a chance to get back to app. I'll message as soon as I get the opportunity to.

[2018-10-03 08:58] DenisFrezzato commented on #206
Updating to 8.0.14 resolved that.

[2018-10-03 08:58] #206 closed

[2018-10-03 12:02] Korazy commented on #206
Im happy to hear that, please don't hesitate to reach out if you have any other issues :)

[2018-10-03 15:07] bz123 commented on #198
@rdiaa we are having the same issue, whats the ETA on the fix? Thanks.

[2018-10-03 23:17] thefaj commented on #202
I've got this same issue. Removed the Instabug framework (libRNInstabug.a), cleaned, re-added. Unfortunately, the same issue is happening for us.

[2018-10-08 13:26] gawrysiak opened #207 "iOS - undefined is not an object (evaluating 'Instabug.invocationEventNone')"
### Steps to Reproduce the Problem

I have added instabug-reactnative to an existing project with the standard installation process. Android works alright, while iOS crashes. I'm using React Native 0.57. project.pbxproj seems to be updated properly by react-native link. Any advices?

### Expected Behavior

Not to crash :)

### Actual Behavior

<img width="364" alt="screen shot 2018-10-08 at 15 23

[2018-10-09 18:39] 82rules commented on #193
I had the same issue,  my solution was order of operation, disable the message after you start with token
  Instabug.startWithToken(config.INSTABUG_TOKEN, [ Instabug.invocationEvent.shake ])
  Instabug.setWelcomeMessageMode(Instabug.welcomeMessageMode.disabled)

[2018-10-09 19:01] SudoPlz commented on #198
@rdiaa it's been 21 days, any news on that?

Thank you

[2018-10-10 08:45] Korazy commented on #193
@82rules thanks for pointing that out as well :)

[2018-10-10 10:40] HeshamMegid commented on #198
We just fixed this in the latest [iOS release](https://github.com/Instabug/Instabug-iOS/releases/tag/8.0.15). We're releasing the update to React Native later today.

[2018-10-10 10:50] HeshamMegid commented on #207
@gawrysiak, just letting you know that we're looking into this. Will get back to you once we have a fix.

[2018-10-10 12:14] salmamali commented on #207
@gawrysiak, This error appears when the library is not linked. Make sure that when you run `react-native link instabug-reactnative`, it passes with no errors.

[2018-10-10 12:20] HeshamMegid commented on #198
We just released v8.0.16 that includes this fix.

[2018-10-10 12:20] #198 closed

[2018-10-10 17:11] watadarkstar opened #208 "FileNotFoundException on Android OS Level 25 ASUS_X00ID"
Might be related to #119 which was closed and never solved.

### Steps to Reproduce the Problem

Upon installing this library within my RN application, I managed to get everything working fine on iOS however on Android, upon the submission of bug reports, I'm receiving a java.io.FileNotFoundException when it seems to try and fetch the screenshot of the bug report. Stack trace below:

Android OS Le

[2018-10-10 17:30] watadarkstar commented on #208
Also happens on a:

samsung SM-G610M
OS Level 23

[2018-10-11 09:13] Korazy commented on #208
Hey @watadarkstar

Thanks for reaching out, we'll look into this and get back to you :)

[2018-10-11 10:13] Korazy commented on #203
@Seeker93 sorry for the delay. Would you be able to download the latest version now and try again? :)

[2018-10-13 00:37] Korazy commented on #208
Hey again,

We created a custom build for you and we were wondering if you can try and see if it fixes the issue. You can install it by running
`npm install https://github.com/Instabug/Instabug-React-Native#fix/bitmap-crash-issue`
You should also add the following to your project level gradle as well
[code]

[2018-10-15 16:46] watadarkstar commented on #208
@Korazy Give me until the end of the week and I will look into it 👍 send me a message Friday to check in :)

[2018-10-15 22:54] rsmelo92 opened #209 "App crashes after instabug modal is dissmissed"
### Steps to Reproduce the Problem
After setting the library on the first run the apps crashes. After you kill the app and open it again it should run fine. But every time you reinstall it the same error happens

### Expected on Behavior
Instabug should show and hide, then app flow should keep stable

### Actual Behavior
After closing modal by clicking outside of it, or waiting the app crashes

##

[2018-10-16 07:59] HeshamMegid commented on #207
Closing this for now. @gawrysiak please feel free to reopen if you're still seeing the same issue after linking Instabug.

[2018-10-16 07:59] #207 closed

[2018-10-16 08:05] HeshamMegid commented on #167
@fernandofranca closing this for now since we haven't heard back from you. Please feel free to reopen.

[2018-10-16 08:05] #167 closed

[2018-10-16 08:32] Etregoning commented on #194
@HeshamMegid it's okay, all that was available for a fix was a workaround, and since we were about to go live, I decided to build a less feature-rich bug reporting system to get us by, and I told this to support so I sorta stopped corresponding with the support team.

I do still really miss the instabug dashboard, and I definitely dont have time to build something like that, so I will give this a

[2018-10-16 08:42] HeshamMegid commented on #194
That's great, best of luck! 🍀

[2018-10-16 10:27] gawrysiak commented on #207
Like I mentioned before, it was linked properly (no errors) and Android worked okay. But I got an iOS dev on it to handle it within xcode, so while it works now, I'm not sure what was the issue. Anyway, if the problem doesn't happen for others, it's safe to close :+1:

[2018-10-16 22:46] Korazy commented on #208
Sure thing, @watadarkstar! Take your time :)

[2018-10-19 15:02] watadarkstar commented on #208
@Korazy Also happy to zoom / video chat while you walk me through what i should do to get the snapshot working. 😄

[2018-10-22 09:10] Korazy commented on #208
Hey @watadarkstar

Im very sorry for the delay. Of course we can try a call, but before that, can you try adding only this to your gradle file inside repositories?
[code]

[2018-10-22 09:32] Korazy commented on #204
Hey @jsmankoo

Did you get a chance to try it out?

[2018-10-22 09:46] Korazy commented on #203
@Seeker93 was the issue fixed for you?

[2018-10-24 09:28] Seeker93 commented on #203
HI @Korazy I just upgraded to 8.0.16. Unfortunately the issue still occurs. Are you able to reproduce it?

[2018-10-28 10:53] Peter-Ayad commented on #203
@Seeker93 Please let me check this for you further from my side and we will get back to you.

[2018-10-28 12:09] abrel opened #213 "[CRASH on sdk 2.13.3] -: Attempt to invoke virtual method 'int com.instabug.library.settings.a.n()' on a null object reference"
I am getting this error on Crashlytics
It happens on Android only and I could not reproduce it myself.

### SDK Version
2.13.3

### React Native, iOS and Android Versions
- RN 0.57.4

### Device Model
- SM-G955F (android 8.0.0)
-  G3311 (android 7.0)

[code]

[2018-10-29 13:10] ramiimagdi commented on #213
Hey @abrel,
Thank you for reaching out to us. Please allow me some time to investigate this further and get back to you as fast as possible.

[2018-10-29 13:21] ramiimagdi commented on #213
I was wondering @abrel if you could give it a shot and update to our latest version. As version 2.13.3 is extremely old and misses a lot of fixes.

Thank you!

[2018-10-30 03:17] koyin opened #214 "setPromptOptionsEnabled not working on Android"
### Expected Behavior
To disable the "Talk to us" option from the menu

### Actual Behavior
"Talk to us" option still displaying on Android (no problem on iOS)

### Instabug integration code
`Instabug.startWithToken('TOKEN', [Instabug.invocationEvent.shake]);`
`Instabug.setChatNotificationEnabled(false);`
`BugReporting.setPromptOptionsEnabled(false, true, true);`

### SDK Version
8.0.17

### React

[2018-11-01 23:16] rdiaa commented on #213
Hello @abrel, I was checking if you had the chance to update to our latest version of RN and check if the issue still exists.

[2018-11-02 06:15] Korazy commented on #214
Hey @koyin

Thanks for reaching out with this, we will investigate it and get back to you.

[2018-11-02 06:18] Korazy commented on #208
@watadarkstar hope you're great. Is everything working now?

[2018-11-02 06:52] Korazy commented on #204
Feel free to reopen the issue should it occur again :)

[2018-11-02 06:52] #204 closed

[2018-11-03 21:36] cpetzel opened #215 "Why is Jacoco a hard dependency for Android SDK?"
Your [SDK](https://mvnrepository.com/artifact/com.instabug.library/instabug/8.0.11) ships with a dependency on jacoco (code coverage unit testing library, typically only used for internal testing). This bloats the size of the SDK and it is executing unnecessary code on your client's apps.

### Steps to Reproduce the Problem

Exclude the jacoco agent from a project, and it crashes on app boot.

[co

[2018-11-05 07:11] Korazy commented on #214
We are unable to reproduce this at the moment. Can you please let me know if you added your token in the MainApplication.java class and after doing so, did you try deleting the app from your device before installing again?

[2018-11-05 08:56] Korazy commented on #215
@cpetzel thanks for reaching out!

We're looking into a fix for this at the moment. I will let you know what we find.

[2018-11-05 11:18] abrel commented on #213
Hello,
I will try that and keep you posted

[2018-11-05 16:41] peacechen opened #216 "8.0.17 missing iOS framework"
### Steps to Reproduce the Problem

Installing instabug-reactnative 8.0.17 from npm does not include the `ios/RNInstabug.xcodeproj` or `ios/Instabug.framework` folders.  Only the `ios/RNInstabug` folder exists.

`npm install instabug-reactnative`

### Expected Behavior

Build success

### Actual Behavior

Instabug framework not found

### Instabug integration code
Instabug.startWithToken(INSTABUG_

[2018-11-05 16:44] peacechen commented on #216
Oddly, removing the folder node_modules/instabug-reactnative folder and npm installing it again brought it down.  I had completely wiped the node_modules folder before, so it couldn't have been caused by a prior version.  npm must have flaked out.

[2018-11-05 16:44] #216 closed

[2018-11-05 17:51] ZiadAyman commented on #216
Hey @peacechen. So, is everything okay now? Let me know if we could be of any help please.

[2018-11-05 20:29] peacechen commented on #216
Thanks @ZiadAyman .  It's building now after repairing the mysteriously broken node_modules/instabug-reactnative/ios folder

[2018-11-06 10:36] rdiaa commented on #213
Perfect, I will be waiting

[2018-11-06 17:17] Korazy commented on #203
Hey @Seeker93

We created a custom build just for you and hopefully it resolves the issue. To install this build, please run the following
npm install --save https://github.com/Instabug/Instabug-React-Native/tree/customBuild/snapshot_8.0.11.11

Please let me know if it works.

[2018-11-07 10:23] Korazy commented on #208
Please feel free to reopen the issue if you run into it again.

[2018-11-07 10:23] #208 closed

[2018-11-10 10:31] tgensol opened #218 "Crash : Error an Android with getTextFromFile"
Hi,

Since a couple of days I am getting this error on Android:

[code]

Caused by

[code]

It looks like it only happens with Android 9 and 8 device with the latest version of Instabug for RN.

I am using crashlytics, and I found this issue which sounds familiar : https://github.com/Instabug/Instabug-Android/issues/110

I am also getting another error :
[code]

`Caused by java.lang.OutOfMemoryErr

[2018-11-12 07:33] Korazy commented on #203
Please feel free to reopen the issue should it occur again :)

[2018-11-12 07:33] #203 closed

[2018-11-12 10:30] Korazy commented on #215
We’ve created a snapshot for you that should resolve this issue.

The custom build should be installed as follows

npm install --save https://github.com/Instabug/Instabug-React-Native/tree/customBuild/snapshot_8.0.11.11

The following line should be added to the project level gradle:

allprojects {
    repositories {
        mavenLocal()
        jcenter()
        maven {
            // All of Reac

[2018-11-12 10:33] tgensol commented on #218
Hi @rdiaa ,

Thanks for the quick fix ! I will try it today and see how it goes. I am also getting some errors which maybe are related, so I will wait a few days to see.

Best

[2018-11-12 12:33] tgensol commented on #218
It looks like you upgrade the compileSdkVersion and targetSdkVersion to 28, so I had to change them also in my project, because it was impossible to compile (I was getting missing stuff from android libraires like compat or design)

[2018-11-12 17:10] jack-mullen opened #219 "Instabug modal will not close on Android"
### Steps to Reproduce the Problem

1. Invoke Instabug's feedback form `BugReporting.invoke()`
2. Tap either "Report a Problem" or "Suggest an Improvement"
3. Tap the 'X' in the top left corner to close the window, and tap "discard"

At this point the alert will close but the Instabug window/application will still be present, and attempting to submit the report or add/remove attachments/images wil

[2018-11-12 18:51] rdiaa commented on #213
@abrel did you have the chance to update the latest version of RN?

[2018-11-12 19:11] rdiaa commented on #218
@tgensol Please, let me know if you need any assistance from my side. I'm glad that you figured it out. After you install the custom build, let me know if you are facing any issues.

[2018-11-13 03:53] pengcao1 opened #221 "could you guys help to define the typescript interface?"
Hi team：

Could you guys help to define the typescript declare in to [DefinitelyTyped](https://github.com/DefinitelyTyped/DefinitelyTyped) ?

[2018-11-14 01:19] pengcao1 opened #222 "There are difference between source code and guide doc"
Hi team:

as guide doc. we can follow below steps to enable repro steps.
but, I found that the source code does not export the interface to do this config.
`.setReproStepsState(State.ENABLED) `

https://docs.instabug.com/docs/android-logging#section-visual-repro-steps

and below code snippet  in `RNInstabugReactnativePackage` constructor

[code]

[2018-11-14 08:30] salmamali commented on #222
Hello @pengcao1
You can enable repro steps by adding
`Instabug.setReproStepsMode(Instabug.reproStepsMode.enabled)`
to your js code.
Is this what you're looking for?

[2018-11-14 09:16] pengcao1 commented on #222
thank you.
and what's the difference between `setUserStepsEnabled` and `setReproStepsMode `

[2018-11-14 09:21] Korazy commented on #214
Please feel free to reopen the issue should it occur again :)

[2018-11-14 09:21] #214 closed

[2018-11-14 10:15] tgensol commented on #218
It looks like to be working well on my side, but I will wait a few days to have more data and users with the fix.

Thanks again,
Best

[2018-11-14 11:37] rdiaa commented on #218
Great, I'm glad that everything is working fine on your end. please reopen the issue if anything is not on the place after your testing.

[2018-11-14 11:37] #218 closed

[2018-11-15 10:08] rdiaa commented on #213
@abrel please feel free to reopen the issue if anything is not in place after you update RN to the latest version.

[2018-11-15 10:08] #213 closed

[2018-11-18 06:06] salmamali commented on #221
Hello @pengcao1
We will be working on this for a future release.

[2018-11-19 10:42] Korazy commented on #215
Please feel free to reopen the issue should it occur again :)

[2018-11-19 10:42] #215 closed

[2018-11-20 01:38] cpetzel commented on #215
Sorry for the delay. I was able to test to verify that this works.

I don't see the jacoco dependency on my classpath, and the SDK is able to start successfully.

Did this get merged into a release?

![image](https://user-images.githubusercontent.com/2036206/48745848-f0a19f80-ec21-11e8-82d4-c67417ae256e.png)

[2018-11-20 09:40] Korazy commented on #215
It’s not quite released as of yet, but should hopefully be out in 2 weeks.

[2018-11-23 09:13] Buthrakaur commented on #205
@Korazy I'm still getting this error (at least on Android), because the gradle file uses `com.instabug.library:instabug:8.0.10`, which is a version from August and 8.0.18 is already available. Wouldn't it be better to make the dependency in line with [the Android docs](https://docs.instabug.com/docs/react-native-user-experience#section-gradle) and use `implementation 'com.instabug.library:instabug

[2018-11-25 09:44] salmamali commented on #219
Hello @jack-mullen ,
This issue occurs because there are multiple instances of Instabug. We will be working on a way to make sure that does not happen. If you have a sample app that has this issue, it would be very helpful if you share it with us.

[2018-11-26 14:01] salmamali commented on #222
```setReproStepsMode``` will show you a visual representation of the steps the user has taken. So on your dashboard under each view you will see what actions the user did. ```setUserStepsEnabled``` will also show all the actions the user has taken but without the visual representation.

[2018-11-26 14:02] salmamali commented on #222
Will close this now, please feel free to reopen this issue if you still have any questions.

[2018-11-26 14:02] #222 closed

[2018-11-26 21:50] peacechen opened #223 "(Android) Instabug database init exception"
### Steps to Reproduce the Problem
Runtime error in the wild.  No repro known.

### Expected Behavior
No exception.

### Actual Behavior

Sentry reported this crash out in the field:

### Instabug integration code
[code]

### SDK Version
Instabug-React-Native 8.0.17

### React Native, iOS and Android Versions
RN 0.56.1
Android 7.0

### Device Model
Samsung Note 5 (SM-N920V)

[2018-11-27 07:43] mattetre commented on #218
@rdiaa Is there a timeline on when these fixes will be rolled into a release or should others experiencing this issue look to use the custom build steps provided above?

[2018-11-27 16:24] peacechen commented on #223
A second bug report arrived, this time on an Essential PH-1 running Android 9.  I personally observed this when opening the app.  Our app started, showed the splash screen, then died with no visible error.  The Sentry bug report is the only indication of this error.

[2018-11-28 00:59] techopsway2b1 opened #224 "xcodebuild failure: error: exportArchive: Code signing "Instabug.framework" failed."
### Steps to Reproduce the Problem
**Running xcodebuild export command:**
xcodebuild -exportArchive -archivePath $PWD/build/mobile-pipeline.xcarchive -exportOptionsPlist exportOptions.plist -exportPath $PWD/build

**using exportOptions.plist settings:**
\<?xml version="1.0" encoding="UTF-8"?\>
\<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"\>

[2018-11-28 07:03] salmamali commented on #223
hello @peacechen,
This error was fixed in version 8.0.18.

[2018-11-28 07:03] #223 closed

[2018-11-28 07:14] salmamali commented on #224
Hello @techopsway2b1,
The issue is that iOS frameworks are always signed with iOS developer and then will be resigned by the developer again. Could you please make sure that Any iOS SDK is signed in the Build Settings -> Signing section.

[2018-11-28 09:50] techopsway2b1 commented on #224
Thank you!!  You were very close to the issue.  We dont use the iOS Developer profile but use the iOS Distribution Profiles.  The Code Signing Identity for Release was set to Don't Code Sign and Any iOS SDK was set to iOS Distribute.  When I changed the Release setting to iOS Distribute it solved the problem.  Please close this ticket and thank you so much!!!

[2018-11-28 09:50] #224 closed

[2018-11-28 17:13] peacechen commented on #223
Thanks @salmamali

It would really help if the release notes were more informative.  Critical bug fixes like this should be listed so that we can make a decision whether an update is needed.  In this case since it's a native code change, we have to plan for an App/Play Store release instead of the quicker CodePush update.
https://github.com/Instabug/Instabug-React-Native/releases

[2018-11-29 05:59] ylac opened #225 "Manually invoking feedback reporter crashes on android"
### Steps to Reproduce the Problem
Try to invoke Instabug feedback reporter manually in debug/release mode.

### Expected Behavior
Feedback reporter opens.

### Actual Behavior
Get red screen of death with error:

`Attempt to invoke interface method 'int com.facebook.react.bridge.ReadableArray.size()' on a null object reference`

### Instabug integration code
[code]

### SDK Version
8.0.19
### Rea

[2018-11-29 11:15] salmamali commented on #225
Hello @ylac
We can't seem to reproduce this issue. How exactly are you trying to invoke the feedback view? And are you invoking it in a button?

[2018-11-29 23:27] ylac commented on #225
@salmamali Hi, yes I'm invoking it on a button press as below:

[2018-12-05 17:10] hiddentao commented on #207
I am seeing this issue now. `react-native link` ran fine.

[2018-12-06 01:21] cpetzel opened #226 "PreInvocationHandler callback not called when only BugReporting configured"
### Steps to Reproduce the Problem

This problem only happens on Android.

configure the application to only enable BugReporting
[code]

Then configure a `preInvocationHandler`
[code]

Now invoke instabug (via floating button, or whatever method)

### Expected Behavior

The pre invocation callback is hit so I can attach a user event. I would see `testing` in the console output. I would also see th

[2018-12-06 07:56] salmamali commented on #226
Hello @cpetzel
We'll be looking into the issue and get back to you.

[2018-12-06 09:43] salmamali commented on #225
@ylac
You need to add the second param needed by the method. If you have no options to add just add an empty array. It should look as follows:
`BugReporting.invokeWithInvocationModeAndOptions(BugReporting.invocationMode.newFeedback, [])`

[2018-12-06 23:45] #225 closed

[2018-12-07 00:01] SudoPlz opened #227 "java.lang.OutOfMemoryError Failed to allocate a 75497480 byte allocation with 19637536 free bytes and 18MB until OOM"
[code]

Re-opening this, as we're still seeing it in production (last one was here https://github.com/Instabug/Instabug-React-Native/issues/112)

### Steps to Reproduce the Problem
Remove the camera permission from the device, and try to take a screenshot from within the app.

### Expected Behavior
Should be able to send a ticket like normal

### Actual Behavior
App crash

### SDK Version
"instabu

[2018-12-09 08:55] salmamali commented on #227
hey @SudoPlz
We are looking into the issue and will update you.

[2018-12-09 09:51] salmamali commented on #226
Hello @cpetzel
Could you try migrating your code to SDK v8.0 using the following guide [Instabug SDK v8.0 Migration](https://docs.instabug.com/docs/react-native-migration-guide)

[2018-12-09 19:51] akahnn commented on #207
Same issue, @gawrysiak can you elaborate on the the xcode fix?

[2018-12-10 09:45] HeshamMegid commented on #194
@Etregoning closing this for now. Please feel free to reopen when you get a chance to check it out.

[2018-12-10 09:45] #194 closed

[2018-12-10 09:48] HeshamMegid commented on #131
A quick update on this: we have a fix for this issue that we'll be including in our next release.

[2018-12-10 09:51] HeshamMegid commented on #151
Very sorry for the late reply, we've been planning to test this and create a quick sample for it but unfortunately, we got busy with other issues.

Have you been able to get redux state changes into the crash report or do you still need help with it?

[2018-12-10 09:54] HeshamMegid commented on #188
We have updated instructions at https://github.com/Instabug/Instabug-React-Native#installation

Please give it a try and reopen this issue if you're still having the same problem.

[2018-12-10 09:54] #188 closed

[2018-12-10 09:57] HeshamMegid commented on #219
@jack-mullen, as @salmamali mentioned, we're working on making sure this doesn't happen, so I'll close this issue for now.

If you manage to create a sample app that reproduces this issue, that will help us tremendously.

[2018-12-10 09:58] #219 closed

[2018-12-17 18:45] SudoPlz opened #228 "Attempt to invoke virtual method 'java.util.List com.instabug.library.annotation.d.a()' on a null object reference"
[code]

### Steps to Reproduce the Problem

![image](https://user-images.githubusercontent.com/3070948/50107829-58a4cf00-023c-11e9-9490-137db0515d6d.png)

### Actual Behavior
App crash

### SDK Version
"instabug-reactnative": "8.0.18",

### React Native, iOS and Android Versions
"react": "16.4.1",
"react-native": "0.56.0",
**Android API 26** (OS build: R16NW.G965USQU3BRJ5)

### Device Model
samsun

[2018-12-18 07:36] HeshamMegid commented on #151
Closing the issue for now. Please feel free to reopen if you still need help.

[2018-12-18 07:36] #151 closed

[2018-12-23 11:29] eduardborges opened #229 "Instabug options not working running on Xcode or AppCenter"
### Steps to Reproduce the Problem
Run a project clicking the play button on Xcode or building the app with a CI tool.

### Expected Behavior
* Use the dark theme
* Make the email field optional
* Only enable the bug report feature

### Actual Behavior
Everything works using `react-native run-ios` on my local machine, but when I run the app using Xcode or App Center Instabug seems to not care abou

[2018-12-23 21:44] maxweb4u opened #230 "Error when building android app - Android dependency ..."
### Steps to Reproduce the Problem

1. react-native init Awesome
2. cd Awesome
3. yarn add instabug-reactnative
4. yarn start
5. Go to Android studio and do steps that described here https://docs.instabug.com/docs/react-native-integration in Manual Linking, Android version
6. Sync Gradle - success
7. build project - get an error:
`Android dependency 'com.android.support:appcompat-v7' has different

[2018-12-24 06:31] HeshamMegid commented on #230
@maxweb4u, we're looking into the issue and we'll get back to you soon.

[2018-12-24 06:33] HeshamMegid commented on #229
@eduardborges that's odd. Let us check it and get back to you.

[2018-12-24 09:33] burivuhster commented on #207
I have the same issue, 'react-native link' ran without any errors.
My project is ejected from Expo and using ExpoKit, maybe this will help.

[2018-12-24 11:58] maxweb4u commented on #230
@salmamali Thanks it's working. However after updating version to 28 I had to include `multiDexEnabled true` in my current project.

[2018-12-25 11:59] salmamali commented on #229
@eduardborges Could you try changing your code to look like this
[code]
The reason this is happening is because the `isRunningLive` callback is called after the rest of your integration code that is on the main thread which causes these APIs to be called before Instabug is initialized. Moving them inside the callback will solve the issue.

[2018-12-25 21:12] eduardborges commented on #229
It works. Thanks!

[2018-12-25 21:12] #229 closed

[2018-12-26 10:16] HeshamMegid commented on #230
@maxweb4u thanks for letting us know. We will update our docs to include the multidex part.

[2018-12-26 10:16] #230 closed

[2018-12-27 00:35] lucidtheory opened #231 "Issue when upgrading to androidX"
on instabug version 8.0.19
react native 57.8

My project is upgraded to androidX. I noticed this issue in the android repository:
https://github.com/Instabug/Instabug-Android/issues/123

And was curious if the two issues were related.

Basically, when trying to build a release build, I get this issue:

[code]

Instabug is looking for android.support.annotation.nullable and failing to resolve.

In

[2018-12-27 09:32] salmamali commented on #231
@lucidtheory We are working on the issue and will let you know when we release the fix.

[2019-01-03 09:37] salmamali commented on #151
@RobertSasak A possible way to include state changes in a crash report is by adding `Instabug.logDebug(this.props.state)` in the `render` method of all your app's container classes. And of course you will get the state as shown below
[code]

[2019-01-03 09:45] HeshamMegid commented on #231
@lucidtheory closing this issue since we have a conversation open with you over email.

[2019-01-03 09:45] HeshamMegid commented on #226
@cpetzel closing this issue since we haven't heard back from you. Please feel free to reopen.

[2019-01-03 09:45] #226 closed

[2019-01-07 12:58] soumyamishra89 commented on #231
@HeshamMegid i am facing the exact same issue when enabling androidx. Can you help me with the issue?

[2019-01-07 14:59] soumyamishra89 opened #232 "Testing with Jest"
When i run tests, I get the following error

TypeError: Cannot read property 'invocationEventNone' of undefined

It seems i need to mock instabug for testing. Is there any mock example provided ?

React-native: 0.57.8

[2019-01-07 20:45] lucidtheory commented on #231
I am still getting the same error after upgrading instabug to `8.0.20`

[2019-01-08 01:53] saadq opened #233 "Instabug shake only works on Android when phone has been locked + unlocked while app is running"
For whatever reason, shaking my device to open the Instabug dialog seems to only work when I lock + unlock my device while the app is running. If I close the app and reopen it, I would need to lock + unlock my device again while the app is running in order to get it to work. Otherwise, nothing happens.

### Steps to Reproduce the Problem

First, I ran the following:

[code]

Then, I simply replace

[2019-01-08 01:58] saadq commented on #233
Update – It doesn't actually have to be lock/unlock. Alternatively, minimizing the app and reopening it will also make Instabug run.

[2019-01-08 07:45] HeshamMegid commented on #232
Can you give more context about what you're trying to do? How does your test look like and how does it involve Instabug?

[2019-01-08 10:30] salmamali commented on #233
@saadq We can't seem to reproduce this behavior. Would it be possible to send a sample app that has this issue?

[2019-01-08 21:47] saadq commented on #233
Yeah, I'll try to see if i can create a small app that reproduces this.

[2019-01-09 00:10] saadq commented on #233
Alright, I've created a project here: https://github.com/saadq/instabug-android-issue

This is just an app that I created using Expo and then ejected straight after. Lastly, I added the Instabug integration in `App.js` and `MainApplication.java`. You can see the 3 commits in the project to see each step in depth.

## How I created this project

1. I initialized the project by running `expo init in

[2019-01-09 11:20] HeshamMegid commented on #233
Thanks for the project!

This is an issue with our Android SDK that has been fixed and will be available in the next release.

[2019-01-10 10:32] HeshamMegid commented on #207
@sinewave440hz to be able to help you, can you please open a new issue with the details of the steps you've taken to end up with this Podfile?

[2019-01-10 10:34] HeshamMegid commented on #207
I've locked the discussion on this issue. If any of you are still having this problem, please open a new issue.

[2019-01-10 10:57] sinewave440hz opened #234 "iOS (12.1) - undefined is not an object (evaluating 'Instabug.invocationEventNone')"
### Steps to Reproduce the Problem

I have added instabug-reactnative to an existing project with the standard installation process:

yarn add instabug-reactnative
react-native link instabug-reactnative (no errors)

and imported instabug and used it as follows in the constructor of my Home screen:

[code]
### Expected Behavior

Works without crashing

### Actual Behavior

![simulator screen shot -

[2019-01-10 11:38] soumyamishra89 commented on #232
@HeshamMegid I managed to mock instabug as per my requirement. Thanks.

[2019-01-10 11:38] #232 closed

[2019-01-10 11:48] salmamali commented on #234
@sinewave440hz This error is caused if the Instabug post link script is not run successfully. Could you try following the linking steps for iOS here [Instabug-React-Native Manual Linking](https://docs.instabug.com/docs/react-native-integration#section-manual-linking).

[2019-01-10 13:40] sinewave440hz commented on #234
Fixed after manual linking, thanks. Saw your updates to the docs too, thanks for that.

[2019-01-11 09:49] soumyamishra89 opened #235 "Issue upgrading to androidX"
instabug-reactnative version: 8.0.20
react-native version: 0.57.8

When enabling android.useAndroidX=true
android.enableJetifier=true I am getting the following error.

[code]

The issue is same as #231 but that is closed and no one has posted a solution.

Can someone help me with this?

[2019-01-11 12:07] sinewave440hz commented on #234
However, I want to use my project in CI. This is harder if react-native link is broken for this project. Are there any plans to fix it?

[2019-01-11 15:11] sinewave440hz commented on #230
In my case we are using buildToolsVersion 28.0.3 so I used the following:

[code]

This results in:
[code]

or any of several other com.android.support: dependencies, it varies.

I tried upping minSdkVersion to 21 and setting multiDexEnabled to true, but no change. Any idea how to move forward? Can create a new issue if you prefer, of course.

[2019-01-11 15:50] soumyamishra89 commented on #142
Instabug.setOnNewMessageHandler works only when app is active and not when it is in background or closed. When is the plan to implement push notification?

[2019-01-13 07:30] HeshamMegid commented on #142
@soumyamishra89 push notifications currently work correctly when it is set up from both the iOS and Android projects. Are there specific APIs you're trying to use that aren't available?

`Instabug.setOnNewMessageHandler` is meant to be used to display your own alert when users receive a new message while the app is open. Can you please tell me more about what you're trying to achieve?

[2019-01-13 07:32] HeshamMegid commented on #235
@soumyamishra89 we're looking into it and will get back to you soon.

[2019-01-13 10:04] salmamali commented on #230
@sinewave440hz Update the SDK to the latest which uses supportLibVersion 28.0.0. If you are already using the latest, then there must be another dependency besides Instabug that is causing the conflict.

[2019-01-13 10:13] salmamali commented on #234
@sinewave440hz
I'm not sure how this will cause a problem with CI, since linking steps are only done once and its changes are pushed to version control. Could you please clarify the steps you'll be following to use CI exactly?
react-native link being broken is not a known issue, there must have been something that was missing from your local env that caused it to break. You can check the post link

[2019-01-13 13:39] salmamali commented on #235
@soumyamishra89 This is now fixed in v8.0.21. Please update to the latest.

[2019-01-13 13:39] #235 closed

[2019-01-13 13:39] salmamali commented on #231
@lucidtheory This issue is now fixed in v8.0.21. Please update to the latest.

[2019-01-13 13:39] #231 closed

[2019-01-14 09:51] soumyamishra89 commented on #142
@HeshamMegid: as per the steps provided in this (https://docs.instabug.com/docs/android-in-app-chat), the link to https://instabug.com/app/extras/push-notifications is broken .
I wanted to configure a custom push notification when there is a new chat message which seems to work fine when the app is open.

If you can provide the steps to configure push notification individually on android and ios,

[2019-01-14 21:37] sinewave440hz commented on #234
Yes, you're quite right. Linking is not an issue in terms of CI. Right now there are issues only with android which I'll deal with elsewhere.

[2019-01-14 21:37] #234 closed

[2019-01-14 22:06] sinewave440hz commented on #230
The thing is that this only happens when I have installed and linked Instabug. Do you mean the compile or target SDK, and how do I find out which SDK uses supportLibVersion 28.0.0 if it's okay to pose that question here? Thanks!

[2019-01-15 05:25] malonguwa opened #236 "64 bit native library"
Google Play will start to ONLY accept 64-bit version android App if there is any native code in the project after Aug 2019:
https://android-developers.googleblog.com/2017/12/improving-app-security-and-performance.html

Does this Instabug-react-native lib is in 32-bit? or 64-bit? I am still new to the android, the react native 0.58 will included the support of 64-bit version of react native app, do

[2019-01-16 12:44] HeshamMegid commented on #236
We support both 32 and 64-bit architectures on the latest Android SDK, which wil be available on React Native in a few days.

[2019-01-16 12:44] #236 closed

[2019-01-16 14:51] sinewave440hz commented on #230
Still stuck on this, I've tried all sdk combinations from 26-28 and none work. I would like to upgrade to AndroidX but I can't because another package I use has not updated to AndroidX yet. At this stage, my only choice is find the solution in this issue or rollback and not use Instabug until the other package in question updates to AndroidX. Seems a bit unnecessary :(

[2019-01-16 14:58] salmamali commented on #230
@sinewave440hz Which version of instabug-reactnative are you on?

[2019-01-16 14:59] sinewave440hz commented on #230
The latest 8.0.21 now, previously 8.0.20. Same issue.

[2019-01-16 15:23] salmamali commented on #230
@sinewave440hz These versions map to the native Android SDK version 8.0.12 which uses API level 28 and buildToolsVersion 28.0.3 so I'm not sure what could be the issue and we cannot reproduce it from our end. Would it be possible to send a simple sample app that has this issue?

[2019-01-17 13:37] sinewave440hz commented on #230
Hi, thanks for you response :) I can't repro from a clean project either (was about to build you a sample app) so I guess it's something for us to deal with internally.

[2019-01-18 22:50] nasmuris opened #238 "Instabug.build script not found"
### Expected Behavior
iOS app should build normally
### Actual Behavior
build fails with message: Instabug: err: script not found. Make sure that you're including Instabug.bundle in your project directory

### SDK Version
8.0.18

### React Native, iOS and Android Versions
iOS 9.3+; RN 0.55.3

I've followed integration steps (both manual and via `react-native link`), no matter which one I use, I en

[2019-01-21 06:51] HeshamMegid commented on #238
@nasmuris we're looking into this issue. In the meantime, have you tried performing the same steps on the latest SDK version (8.0.21)?

[2019-01-21 08:08] nasmuris commented on #238
@HeshamMegid I've "solved" this by copying InstabugResources.bundle straight from node_modules/instabug-reactnative/ios/Instabug.framework to myProj/ios, and renaming this to Instabug.bundle, no Xcode linking and it's working fine, I assume this is just some bug with the script checking for bundle presence from iOS integration, but the bundle in react-native is taken from node_modules. Btw, SDK ve

[2019-01-26 16:43] VincentLanglet commented on #221
Hey @pengcao1
I started it a long time ago here : https://github.com/Instabug/Instabug-React-Native/pull/159

[2019-02-01 14:08] sregg opened #239 "Instabug_dsym_upload.sh - os=ios missing in API call"
### Steps to Reproduce the Problem

Use `Instabug_dsym_upload.sh` in Xcode 10 Post Build Action

### Expected Behavior

dSym files are uploaded

### Actual Behavior

dSym files are not uploaded

### Instabug integration code
[code]

### SDK Version
8.0.23

### React Native, iOS and Android Versions
R-N: 0.57.7
iOS: Xcode 10

### Comments

The issue is in `Instabug_dsym_upload.sh`, the `-F os=ios`

[2019-02-01 14:11] sregg commented on #239
I pushed a PR for that fix: https://github.com/Instabug/Instabug-React-Native/pull/240

[2019-02-01 14:55] viperfx opened #241 "Visual Repo Steps Compile fail"
### Steps to Reproduce the Problem
When adding the follow code to activity

[code]

Following the docs here - https://docs.instabug.com/docs/react-native-logging#section-visual-repro-steps
### Expected Behavior
To compile correctly based on docs
### Actual Behavior
Compile fails because the docs are missing imports.

Added the following imports
[code]
### Instabug integration code
[code]

### SDK

[2019-02-03 08:08] salmamali commented on #241
@viperfx
This was fixed in a custom build. You can install it by running
[code]
You need to add the following to your project level build.gradle under allProjects -> repositories

[code]
The fix will be officially released with the next android SDK release.

[2019-02-03 09:59] #241 closed

[2019-02-03 10:32] #239 closed

[2019-02-03 17:44] viperfx commented on #241
@salamamali can you confirm the correct imports ?

[2019-02-05 02:00] plowman opened #242 "Multiple commands produce ... Instabug.framework"
### Steps to Reproduce the Problem
1. `yarn install instabug-reactnative`
2. `react-native link instabug-reactnative`
    * Note: this step updates my project's Podfile
3. `pod install`
    * Note: before doing a pod install, the error I get is on the line of code, `Instabug.invocationEvent.shake,`, and reads: "Unhandled JS Exception: undefined is not an object (evaluating 'Instabug.invocationEven

[2019-02-05 11:58] HeshamMegid commented on #242
@plowman you should use either `react-native link` or CocoaPods to install Instabug. Please let me know if the docs were not clear on that.

To proceed, you should just remove the 2 build phases which got added by `link.rb`: "Embed Instabug Framework" and "Strip Frameworks".

Thanks for the detailed report! 💯

[2019-02-05 17:11] spencercarli opened #243 "Build Failing on Android after Instabug Installation"
### Steps to Reproduce the Problem

[code]

### Expected Behavior

App to build and install.

### Actual Behavior

App fails to build with the following output:

[code]

### Instabug integration code
[code]

### SDK Version
`"instabug-reactnative": "^8.0.23"`

### React Native, iOS and Android Versions
`"react-native": "0.58.3"`

### Project That Reproduces the Issue
https://github.com/ReactNative

[2019-02-05 18:45] plowman commented on #242
Thanks @HeshamMegid - All the docs say is this:
<img width="675" alt="screen shot 2019-02-05 at 10 15 25 am" src="https://user-images.githubusercontent.com/148066/52294827-24da5180-292f-11e9-9309-46ea238dd4d9.png">

You say:

But here's the problem I'm having with that:
1. The command `react-native link instabug-reactnative` updates my Podfile in a way which breaks the build.
2. Just trying to use

[2019-02-05 18:54] HeshamMegid commented on #242
Is that error you mentioned above (multiple commands producing Instabug), or another error?

I have updated [the readme file in this repo](https://github.com/Instabug/Instabug-React-Native#using-cocoapods) with instruction on how to do that. Can you please check it out and let me know if it works for you?

[2019-02-05 20:21] plowman commented on #242
Yep, it's the same error in the title of this issue.

Nice! Yes, those install steps appear to work. Two points of feedback on the docs:
1. It might be worth calling out that if you do those manual Pod steps you'll still have to setup Android manually.
2. I'm uncomfortable with the `post_install do |installer|` step since it appears to unlink the React base pod. What's the point of this step? Also

[2019-02-06 02:39] cpetzel commented on #226
Thanks for the fix! It works.

[2019-02-06 10:08] salmamali commented on #241
@viperfx  The correct imports were the ones you were using
[code]

[2019-02-06 10:23] salmamali commented on #243
@spencercarli
This error seems to be happening because of the dependency `com.facebook.fresco:imagepipeline` existing twice with different versions. We do not use this dependency at all in our SDK so I don't think this issue is because of Instabug. Did this build issue only happen when you added Instabug to your project? And are you using other dependencies?

[2019-02-06 10:24] HeshamMegid commented on #242
That makes sense. Will add it.

With certain configurations, you might end up having React linked to the project twice, hence the `post_install` hook. If your project is building fine without it, then there's no need to include it

Feel free to reopen the issue if you're still having trouble.

[2019-02-06 10:24] #242 closed

[2019-02-06 12:09] spencercarli commented on #243
Thanks for the response!

The instabug-reactnative is the only dependency in the project. It should
be reproducible by creating a new project, installing instabug, linking it,
and then running on Android.

I’ve reproduced it in two separate apps (example app linked to above).

Has instabug been confirmed to work with the latest version of React Native?

On Wed, Feb 6, 2019 at 4:23 AM Salma Ali <no

[2019-02-06 15:14] salmamali commented on #243
@spencercarli
Thanks for the project! It looks like there is a conflict between the version of react native we use in our SDK and the latest version of react native. We'll release a fix for this shortly and will let you know when you can upgrade.

[2019-02-06 15:25] spencercarli commented on #243
Thank you!